@{customElementNamespace}workspace-saved {
  .customElement;

  .saved-empty {
    padding: 20px;
    text-align: center;
    display: none;
  }

  .saved-results {
    .customElement;
  }
    
}

@{customElementNamespace}workspace-saved.is-empty {
  .saved-empty {
    display: block;
  }

  .saved-results {
    display: none;
  }
}

.is-medium-screen, .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}workspace-saved {

  }
}

 .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}workspace-saved {

  }
}
