@{customElementNamespace}confirmation.is-query {
    .confirmation-query {
        padding: @largeSpacing;
    }

    .confirmation-replace {
        display: none;
    }

    .confirmation-choices {
        button {
            width: 50%;
        }
        button:first-of-type {
            display: inline-block;
        }
    }
}

@{customElementNamespace}confirmation.is-query.has-value {
    .confirmation-new {
        display: none;
    }
    .confirmation-replace {
        display: inline-block;
    }
}