{{!--
/**
* Copyright (c) Codice Foundation
*
* This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
* version 3 of the License, or any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
* <http://www.gnu.org/licenses/lgpl.html>.
*
**/
--}}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Preferences</h4>
        </div>
        <div class="modal-body">
            <div class="tabbable tabs-above">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#colorTab" data-toggle="tab">Map Features</a>
                    </li>
                    <li>
                        <a href="#layerTab" data-toggle="tab">Map Layers</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="colorTab"></div>
                    <div class="tab-pane" id="layerTab"></div>
                </div>
            </div>
        </div>
    </div>
</div>
