@{customElementNamespace}metacard-actions {
  overflow: auto;
  .customElement;
  padding: 0px @largeSpacing;

  .is-header {
    text-align: left;
    background: fade(contrast(@backgroundContent),8%);
    margin: (2 * @minimumSpacing) 0 0 0;
    padding: 10px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .actions {
    padding: 0px @largeSpacing;
  }

  a {
    display: block;
  }

  a {
    margin-top: @minimumSpacing;
  }

  @{customElementNamespace}map-actions {
    margin-top: @minimumSpacing;
  }
}