@{customElementNamespace}metacard-actions {
  overflow: auto;
  .customElement;
  padding: 0px @largeSpacing;

  .is-header {
    text-align: left;
  }

  .actions {
    padding: 0px @largeSpacing;
  }

  a {
    display: block;
  }

  a {
    margin-top: @minimumSpacing;
  }

  @{customElementNamespace}map-actions {
    margin-top: @minimumSpacing;
  }
}
