body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.jumbotron {
    background-color: #FFF;
    border-style: solid;
    border-color: #34A6E7;
    padding: 10px;
}

.jumbotron img {
    margin-top: 40px;   
}

.scrollable-list {
    max-height: 300px;
    overflow: auto;
}

.vert-align {
    vertical-align: middle !important;   
}

.panel-light > .panel-heading {
    background-color: #0cf;
    color: #FFF;
    border-color: #ddd;
}

.panel-light {
    border-style: solid;
    border-color: #DDD;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
}

.marketing .col-lg-4 .centered-content {
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.spacer {
    min-height: 40px;
}

.doc-descriptions {
    min-height: 175px;
    position: relative;
}

.doc-buttons {   
    position: absolute;
    bottom:0;
}

@media (max-width: 767px) {
    #github-ribbon {
        display: none;
    }
    .small-hidden {
        display: none;
    }
    .large-hidden {
        text-align: center;
    }
}

@media (min-width: 767px) {
    .large-hidden {
        display: none;
    }
}
