@{customElementNamespace}workspaces {

  .customElement;
  position: relative;
  white-space: nowrap;

  > div {
    width: 50%;
    height: 100%;
    transition: width @transitionTime linear, left @transitionTime linear;
    display: inline-block;
    vertical-align: top;
  }

  > div + div {
    .boxShadow;
  }

  .workspaces-selector {
    padding: 3px 10px;
  }

  .workspaces-details {
  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}workspaces {
    > div {
      width: 90%;
      position: relative;
    }
    &.shifted-left {

      > div:first-of-type {
        left: 0%;
      }
      > div:last-of-type {
        left: 0%;
      }
    }
    &.shifted-right {
      > div:first-of-type {
        left: -80%;
      }
      > div:last-of-type {
        left: -80%;
      }
    }
  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}workspaces {

  }
}
