@{customElementNamespace}inspector.is-empty {
  overflow: hidden;

  > .inspector-empty {
    display: block;
  }

  > .inspector-content,
  > .inspector-title {
    opacity: 0;
    transform: translateX(-100%);
  }
}
