@{customElementNamespace}inspector {
  .customElement;
  position: relative;

  > .inspector-content {
    display: block;
    height: ~'calc(100% - @{minimumButtonSize})';
  }

  > .inspector-title {
    text-align: center;
    padding: 0px @minimumSpacing;
  }

  > .inspector-content,
  > .inspector-title {
    opacity: 1;
    transition: opacity @coreTransitionTime linear;
    transform: translateX(0%);
  }

  > .inspector-empty {
    text-align: center;
    display: none;
    padding: 20px;
  }

  >.inspector-content .tabs-list {
    background: fade(@primary-color, 25%);
  }

  > .inspector-content .editor-header {
    background: fade(@primary-color, 10%);
  }

  > .inspector-content .editor-footer {
    text-align: right;
    margin-top: 0px;
  }

  > .inspector-content .editor-footer > button {
    //max-width: 150px;
    //display: inline-block;
   width: auto;
    padding: @minimumSpacing @largeSpacing;
    display: inline-block;
    margin: @minimumSpacing;
    height: @minimumButtonSize;
    line-height: @minimumFontSize;
    border-radius: @border-radius;
  }

  > .inspector-content .editor-footer > button.is-positive,
  > .inspector-content .editor-footer > button.is-negative {
    display: none;
  }

  > .inspector-content .is-editing .editor-footer > button.is-positive,
  > .inspector-content .is-editing .editor-footer > button.is-negative {
    display: inline-block;
  }

  > .inspector-content .editor-footer > button > span.fa,
  > .inspector-content .editor-footer > button > span {
    font-size: @minimumFontSize;
  }

  @{customElementNamespace}property:nth-child(odd) {
    background: contrast(@backgroundContent,white, fade(white, 8%));
  }

  @{customElementNamespace}property:nth-child(even) {
    background: contrast(@backgroundContent, #f8f8f8, fade(white, 5%));
  }

  @{customElementNamespace}property {
    border: solid 1px fade(contrast(@backgroundContent), 20%);
    margin: 0;
    padding:0;

    .property-label {
      max-width: 20%; 
      display: inline-block;
      text-align: right; //
      line-height: 1;
    }

    .property-label label {
       color: fade(contrast(@backgroundDropdown), 100%);
       text-transform: uppercase; 
       letter-spacing: 1px;
       line-height: 1;
       padding: 5px 10px;
    }

    .property-value {
      max-width: 79%; //
      display: inline-block;
      border-left: solid 1px fade(contrast(@backgroundContent), 20%);
      padding: 5px 10px;
    }
  }

}

@{customElementNamespace}inspector.is-empty {
  overflow: hidden;

  > .inspector-empty {
     display: flex;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
     opacity: .5;
  }

  > .inspector-content,
  > .inspector-title {
    opacity: 0;
    transform: translateX(-100%);
  }

}