@{customElementNamespace}lightbox {
  @paddingVertical: 4px;
  @paddingHorizontal: 7px;
  @borderSize: 1px;

  .customElement;

  transition: opacity @coreTransitionTime ease-in-out;
  transform: translateY(-100%);
  display: block;
  opacity: 0;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: @zIndexLightbox;
  background: rgba(0, 0, 0, 0.4);

  &.is-open {
    transform: translateY(0%);
    opacity: 1;
  }

  .lightbox-container {
    position: relative;
    left: 10%;
    top: 20%;
    height: 60%;
    width: 80%;
    .changeBackground(@backgroundModal);
    box-shadow: rgba(0, 0, 0, 0.03) 0px -1px 0px inset,
      rgba(0, 0, 0, 0.15) 0 15px 10px, rgba(0, 0, 0, 0.3) 0 8px 36px;
  }

  .lightbox-back {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: @largeFontSize;
    height: @minimumButtonSize;
    width: @minimumButtonSize;
  }

  .lightbox-title-bar {
    border-bottom: 1px solid;
    text-align: center;
    font-size: @largeFontSize;
    min-height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }

  .lightbox-close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: @minimumButtonSize;
    width: @minimumButtonSize;
  }

  .lightbox-title {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: ~'calc(100% - 2*@{paddingHorizontal} - @{largeFontSize} - 2*@{paddingHorizontal} - @{largeFontSize})';
    margin-left: ~'calc(2*@{paddingHorizontal} + @{largeFontSize})';
  }

  .lightbox-content {
    height: ~'calc(100% - @{minimumButtonSize})';
    background: inherit;
    overflow: hidden;
  }
}

.is-medium-screen,
.is-small-screen,
.is-mobile-screen {
  @{customElementNamespace}lightbox {
    .lightbox-container {
      left: 5%;
      top: 5%;
      height: 90%;
      width: 90%;
    }

    .lightbox-close {
      position: relative;
      float: right;
    }
  }
}

.is-small-screen,
.is-mobile-screen {
  @{customElementNamespace}lightbox {
    .lightbox-container {
      left: 0%;
      top: 0%;
      height: 100%;
      width: 100%;
    }
  }
}
