customMimeTypes=["nitf\=image/nitf","ntf\=image/nitf","nsf\=image/nitf","nsif\=image/nitf","r0\=image/nitf","r1\=image/nitf","r2\=image/nitf","r3\=image/nitf","r4\=image/nitf","r5\=image/nitf","r6\=image/nitf","r7\=image/nitf"]
name="NITF\ Content\ Resolver"
priority=I"10"
service.factoryPid="DDF_Custom_Mime_Type_Resolver"
