@{customElementNamespace}toolbar {
  .customElement;
  position: relative;
  .changeBackground(@backgroundNavigation);
  vertical-align: top;
  height: @minimumButtonSize;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid fade(contrast(@backgroundNavigation), 10%);
  z-index: @zIndexMenubar;

  > .toolbar-right,
  > .toolbar-left{
    display: inline-block;

    font-size: @largeFontSize;
    line-height: @minimumButtonSize;
    height: 100%;
    position: absolute;
    transition: width @coreTransitionTime ease-out;
  }

  > .toolbar-right {
    right:0;
    .toolbar-item {
      right:0;
      border-left: 1px solid fade(contrast(@backgroundNavigation), 10%);
    }
  }

  > .toolbar-left {
    left: 0;
    .toolbar-item {
      border-right: 1px solid fade(contrast(@backgroundNavigation), 10%);
    }
  }

  .toolbar-item {
    position: fixed;
    height: @minimumButtonSize;
    min-width: @minimumButtonSize;
    display: inline-block;
    text-align: center;
    padding: 0 @minimumSpacing;
    border-bottom: 1px solid fade(contrast(@backgroundNavigation), 10%);
  }

   .is-tab {
     background: @backgroundNavigation;
     color: fade(contrast(@backgroundNavigation), 60%);
     &:hover {
       color:contrast(@backgroundNavigation);
     }
   }

  #item-toggle-search {
    font-size: 1.75rem;
    > span.if-closed {
      display:inline-block;
    }
    > span.if-open {
        display:none;
      }
    }

  #item-toggle-search.is-open {
    border-bottom: 1px solid @backgroundAccentContent;
    background: @backgroundAccentContent;
    > span.if-closed {
      display:none;
    }
    > span.if-open {
      display:inline-block;
    }
  }

  #item-add-visual.is-open {
    border-bottom: 1px solid @backgroundAccentContent;
    background: @backgroundAccentContent;
  }

}
