<td>
    <a href="#" class="metacard-link"  title="Title">
        {{#if attributes.properties.attributes.title}}
            {{attributes.properties.attributes.title}}
        {{else}}
            [No Title]
        {{/if}}
    </a>
    <div class="pull-left result-source small-text" title="Source">
        {{attributes.properties.attributes.source-id}}
    </div>
    <div class="pull-right small-text" title="Modified Date">
        {{momentHelp attributes.properties.attributes.modified fromNow=function}}
    </div>
</td>