{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<i id="status-icon" class="fa fa-caret-right fa-2x result-status-icon"></i>
<i id="refresh-icon" class="fa fa-circle-o-notch fa-spin result-refresh-icon"></i>
<div id="status-table" class="hidden">
    <h6>
        Sources
    </h6>
    <table class="table included table-striped resultTable vertical-shrink-rows">
        <tbody></tbody>
    </table>


    {{#gt excludedSources.length 0}}
        <table class="table excluded table-striped resultTable vertical-shrink-rows attached">
            <tbody>
                {{#each excludedSources}}
                <tr>
                    <td>
                        <div class="pull-left margin-right-6">
                            <input type="checkbox" class="add" data-source-id="{{id}}"/>
                        </div>
                        <div class="pull-left result-source" title="{{id}}">{{id}}</div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/gt}}


</div>

