@{reactNamespace}json {
  display: block;
  margin-bottom: 10px;
  position: relative;

  textarea {
    border-radius: @border-radius;
    padding: 10px;
    width: 100%;
    line-height: 1.2rem;
    outline: 0;
    .is-monospaced-font;
    display: block;
  }

  .error {
    padding: 0 10px;
    .is-negative;
  }

  button {
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
