@{customElementNamespace}filter-builder {
  display: table;
  width: 100%;
  position: relative;

  white-space: nowrap;

  @{customElementNamespace}dropdown.is-simpleDropdown.is-editing {
    width: auto;
  }

  > .filter-header > .contents-buttons .add-filterBuilder {
    position: relative;
    padding-right: @minimumSpacing;
  }

  > .filter-header > .contents-buttons .add-filterBuilder span:nth-of-type(2) {
    margin-right: @minimumSpacing;
  }

  > .filter-header > .contents-buttons .add-filterBuilder span:nth-of-type(2)::after {
    content: '';
    position: absolute;
    right: 0px;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height:100%;
    width: @minimumSpacing;
  }

  > .filter-header {
    white-space: nowrap;
    margin-bottom: @minimumSpacing;
  }

  > .filter-header {
    > .filter-remove,
    > .filter-operator {
      margin-right: @minimumSpacing;
    }

    > .filter-rearrange {
      .grab-cursor();
      // margin-left: @minimumSpacing;
      margin-right: @minimumSpacing;
      width: 0.75 * @minimumButtonSize;
      //height: ~'calc(100% + @minimumSpacing)';
      opacity: 0.25;
    }

    > .filter-rearrange:hover {
      opacity: 0.50;
      transition: opacity 0.5s ease-in-out;
    }

    > .filter-remove {
      display: none;
      vertical-align: top;
    }

    > .filter-operator {
      display: inline-block;
      vertical-align: top;
      height: @minimumButtonSize;
      line-height: @minimumButtonSize;
      @{customElementNamespace}dropdown.is-editing .dropdown-text {
        width: auto;
        max-width: 300px;
      }
    }

    > .contents-buttons > button{
      padding: 0px @minimumSpacing;
    }

    > .contents-buttons {
      display: none;
    }

    > .filter-remove {
      width: @minimumButtonSize;
      height: @minimumButtonSize;
    }

  }

  > .filter-contents {
    margin-right: @minimumSpacing;
    position: relative;
  }

  > .filter-contents {
    display: inline-block;
    vertical-align: middle;
  }

  > .filter-contents > .contents-filters {
    padding-left: @minimumSpacing;
  }

  .contents-buttons {
    margin-left: @minimumSpacing;

    .add-filter {
      margin-right: @minimumSpacing;
    }
  }

  .filter-header:hover + .filter-contents {
    .dropshadowlight;
  }

  @{customElementNamespace}filter-builder {
    margin: @minimumSpacing;
  }

}

@{customElementNamespace}filter-builder.is-editing {

  > .filter-header > .contents-buttons {
    display: inline-block;
    vertical-align: top;
  }

}

@{customElementNamespace}filter-builder.hide-rearrange {
  > .filter-header > .filter-rearrange {
    display: none;
  }
}

@{customElementNamespace}filter-builder.hide-field-button {
  > .filter-header > .contents-buttons > .add-filter {
    display: none;
  }
}

@{customElementNamespace}filter-builder.hide-nesting {
  > .filter-header > .contents-buttons > .add-filterBuilder {
    display: none;
  }
}

@{customElementNamespace}filter-builder.hide-root-operator {
  > .filter-header > .filter-operator {
    display: none;
  }
}

@{customElementNamespace}filter-collection {
  > @{customElementNamespace}filter-builder.is-editing {
    > .filter-header > .filter-remove {
      display: inline-block;
    }
  }
}