@{customElementNamespace}layer-preferences {
    .customElement;

    .layerPicker-row {
        label {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td:last-of-type {
            position: relative;
        }
    }

    .layer-rearrange {
        height: 100%;
        min-height: @minimumButtonSize;
        cursor: move;
        position: absolute;
        left: 0px;
        top: 0px;
        min-width: @minimumButtonSize;
        width: 100%;
        .is-large-font;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) !important;
        }
    }
}