@{customElementNamespace}filter-comparator {
  display: block;

  .choice {
    padding: 0px 20px;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    cursor: pointer;
  }

  .choice-text {
    padding-right: 30px;
  }

  .choice-selected {
    line-height: @minimumButtonSize;
    display: none;
  }

  .choice.is-selected .choice-selected {
    display: inline;
  }

  .choice.is-selected .choice-text {
    .is-bold();
  }
}
