@{customElementNamespace}navigation-left {
    .customElement;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    button {
        text-align: center;
        width: @minimumButtonSize + 0rem;
        height: 100%;
        padding-right: 0rem;
        transition: width @coreTransitionTime ease-out, padding @coreTransitionTime ease-out;
    }

    button > .navigation-indicator {
        position: absolute;
        left: @minimumButtonSize;
        top: -.3125rem;
    }

    button > .navigation-sources {
        position: absolute;
        left: @minimumButtonSize;
        top: @minimumSpacing;
        color: @warning-color;

        .fa-cloud {
           // visibility: hidden;
        }

        .fa-cloud:nth-of-type(2) {
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translateY(-50%) translateX(-50%) rotate(180deg);
        }

        .fa-bolt {
            left: 50%;
            top: 57%;
            transform: translateY(-50%) translateX(-50%) rotate(10deg) scale(.8);
            position: absolute;
            color: @warning-color;
            //visibility: hidden;
        }
    }

    button > .navigation-multiple {
        position: absolute;
        left: @minimumButtonSize;
        top: @minimumSpacing;
        color: @warning-color;
    }
    
    .navigation-multiple,
    .navigation-sources {
        opacity: 0;
        transform: scale(2);
        transition: transform @coreTransitionTime ease-out, opacity @coreTransitionTime ease-out;
    }

    &.has-logo {
        img {
            max-width: @minimumButtonSize;
            max-height: @minimumButtonSize;
            vertical-align: top;
            position: relative;
            top: 50%;
            transform: translateY(-50%) translateX(0);
            transition: transform @coreTransitionTime ease-out;
        }

        &.has-unavailable,
        &.has-unsaved {
            img {
                transform: translateY(-50%) translateX(1rem);
            }
        }
    }

    &.has-unavailable {
        .navigation-sources {
            opacity: 1;
            transform: scale(1);
        }
    }

    &.has-unsaved {
        .navigation-indicator {
            opacity: 1;
            transform: scale(1);
        }
    }

    &.has-unavailable.has-unsaved {
        .navigation-indicator, 
        .navigation-sources {
            opacity: 0;
            transform: scale(2);
        }

        .navigation-multiple {
            opacity: 1;
            transform: scale(1);
        }
    }
}
