@{customElementNamespace}navigation-left {
    .customElement;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    button {
        text-align: center;
        width: @minimumButtonSize;
        height: 100%;
    }

    button > .navigation-indicator {
        position: absolute;
        right: 0px;
        top: -.3125rem;
    }
}