{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<button data-help="Click here to bring up the navigator.">
    <span class="fa fa-bars"></span>
    <div class="navigation-indicator"></div>
    <span class="navigation-sources fa fa-bolt">
    </span>
     <span class="navigation-multiple fa fa-exclamation"></span>
</button>{{#if showLogo}}<img class="logo" src="{{getImageSrc logo}}"/>{{/if}}
