{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<td>
    <span class="workspace-name">{{name}}</span>
</td>
<td>
    <span class="workspace-count">{{hits}}&nbsp;<span class="status-time">({{initiated}})</span>&nbsp;{{#is working true}}<i class="fa fa-circle-o-notch fa-spin"></i>{{/is}}</span>
</td>
<td>
    {{#is editing true}}
        <a id="remove" href="#" class="fa fa-times workspace-link workspace-remove"></a>
        <a id="edit" href="#" class="fa fa-pencil workspace-link workspace-edit"></a>
    {{/is}}
</td>
