priority "grant";

deny {
    permission java.io.FilePermission "<<ALL FILES>>", "read, write, execute";
}

grant
  codeBase "file:/test-bundle" {
    permission java.io.FilePermission "${ddf.home.perm}etc${/}pdp", "read";
    permission java.io.FilePermission "${ddf.home.perm}etc${/}pdp${/}-", "read, delete";
};

grant
  codeBase "file:/test-bundle1/test-bundle2/test-bundle3" {
    permission java.io.FilePermission "${ddf.home.perm}etc", "read";
    permission java.io.FilePermission "${ddf.home.perm}etc${/}-", "read, delete";
};

grant signedBy "somedude" {
    permission java.io.FilePermission "${ddf.home.perm}data", "read";
}

grant principal "someothercoolerdude", principal javax.security.auth.kerberos.KerberosPrincipal "waycooldude" {
    permission java.io.FilePermission "${ddf.home.perm}system", "read";
}