@highlightColor : lighten(color("#18BC9C"), 35);
.btn.status {
  padding: 4px;
  font-size: 8px;
  float: right;
}
.table-striped tbody tr.highlight-on-hover:hover td {
  background-color: @highlightColor;
}

#sources-modal {

  .error-text {
    display: none;
  }
  .control-group {
    .control-label {
      width: 100%;
    }

    [class*='col-md-'] {
      padding-left: 10px;
      padding-right: 10px;
    }

    .description > i {
      margin-top: 8px;
    }
  }

  .modal-dialog {
    width: 640px;
    
    .row {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      
      .vpad {
        padding: 2px;
      }
    }
    .endpointUrl {
      width: 100%;
    }
  }
}
