{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="is-guest">
    <div class="user-info">
        <input placeholder="Username" type="text" id="username" name="username" />
        <input placeholder="Password" type="password" id="password" name="password" />
    </div>
    <div class="is-divider">
    </div>
    <button id="sign-in" class="is-primary">Sign In</button>
</div>
<div class="is-idp">
    <div class="user-info">
        <div class="info-username is-large-font is-bold">
            {{this.user.user.username}}
        </div>
        <div class="info-email is-medium-font">
            {{this.user.user.email}}
        </div>
    </div>
    <div class="is-divider"></div>
    <button id="sign-out" class="is-negative">Sign Out</button>
</div>