@{customElementNamespace}dropdown.is-detailsInteractions {
  cursor: not-allowed;
  display: inline-block;
  height: @minimumButtonSize;
  line-height: @minimumButtonSize;

  > div {
    position: relative;
    top: ~'calc(50% - 0.625rem)';
  }

  .dropdown-text {
    display: inline-block;
  }

  .dropdown-icon {
    display: none;
  }
}

@{customElementNamespace}dropdown.is-detailsInteractions.is-editing {
  cursor: pointer;

  .dropdown-icon {
    display: inline-block;
  }
}