@{customElementNamespace}query-src {
  display: flex;
  flex-direction: column;

  .choice {
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    cursor: pointer;
    position: relative;
  }

  .source-icon {
    position: relative;
    padding: 0px 5px;
  }

  .choice-text {
    display: inline-block;
    padding-right: @minimumButtonSize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }

  .choice-selected {
    line-height: @minimumButtonSize;
    display: none;
  }

  .choice.is-selected::after {
    display: inline-block;
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: @minimumButtonSize;
    text-align: center;
  }

  .choice.is-selected .choice-text {
    .is-bold();
  }

  .choice:not(.is-available) {
    opacity: @minimumOpacity;
  }

}