@{customElementNamespace}input.is-geometry {
    .error-form,
    .error-ordering {
        display: none;
    }
}

@{customElementNamespace}input.is-geometry.error-form {
    .error-form {
        display: block;
    }
}

@{customElementNamespace}input.is-geometry.error-ordering {
    .error-ordering {
        display: block;
    }
}