@{customElementNamespace}filter {
  width: auto;
  height: 100%;
  display: block;
  white-space: nowrap;
  margin: @minimumSpacing 0px @minimumSpacing @minimumSpacing;
  padding: @minimumSpacing 1.5rem @minimumSpacing 0px;
}
