@{customElementNamespace}dropdown.is-search-interactions {
  display: block;
  position: relative;
  text-align: center;

  .notification-icon {
    position: relative;
    cursor: pointer;
  }

  .fa-bell {
    display: none;
  }
}

@{customElementNamespace}dropdown.is-search-interactions.is-polling {
  .fa-bell-slash {
    display: none;
  }
  .fa-bell {
    display: inline;
  }
}
