{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="progress-panel">
    <span id="progress-text" class="progress-text">
        More&nbsp;results&nbsp;available&nbsp;
        <a id="progress-btn" class="btn progress-btn btn-default">Show</a>
    </span>

    <span id="searching-text" class="searching-text">
        Searching...
    </span>

    <div class="progress-container">
        <div id="progressbar" class="progressbar"></div>
    </div>

    <div class="progress-cancel">
        <a href="#" id="progress-cancel" class="fa fa-times-circle-o cancel"></a>
    </div>
</div>