@{customElementNamespace}input.is-autocomplete {
    .select2-container--default .select2-selection--single {
        background: @darken-inherited-background-color;
        color: @button-text-color;
        border: 1px solid @heavily-lighten-inherited-background-color;
        border-radius: @border-radius;
    }
}

// can't namespace because gets appended to doc
.select2-dropdown {
    z-index: @zIndexDropdown;
    background-color: @dropdown-background-color;
    border-radius: @border-radius;
    border-color: @heavily-lighten-inherited-background-color;
    color: @button-text-color;
}

