@{customElementNamespace}input.is-with-param {

    .if-editing > *,
    .if-viewing > * {
        display: inline-block;
        vertical-align: top;
    }

    .param-label {
        padding: 0px @minimumSpacing;
    }
}