@{customElementNamespace}lightbox.is-result-form {
  .lightbox-container {
    position: relative;
    left: 25%;
    top: 20%;
    height: 60%;
    width: 50%;
  }
  .lightbox-content {
    height: 100%;

    .is-enum.is-editing {
      max-height: 50px;
    }
  }
}
