<h6>Queries</h6>

{{#unless hasQueries}}
<p>You don't have any queries. Click 'Add Query' to get started.</p>
{{/unless}}

<div id="queries"></div>

<button class="btn btn-primary pull-right" id="add-query">
  <span>Add Query <i class="fa fa-plus"></i></span>
</button>
