@{customElementNamespace}result-selector {
  position: relative;
  .customElement;
  padding: 0px @minimumSpacing;

  .resultSelector-status,
  .paging .status {
    text-align: center;
    opacity: @minimumOpacity;
  }

  .resultSelector-list {
    overflow: auto;
    height: ~'calc(100% - 2*@{minimumButtonSize} - @{minimumLineSize})';
    position: relative;
  }

  .resultSelector-menu {
    position: relative;
    text-align: center;
    white-space: nowrap;
    > div {
      display: inline-block;
    }
    height: @minimumButtonSize;
  }

  .resultSelector-menu-action > @{customElementNamespace}dropdown {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }

  .resultSelector-menu-action + .resultSelector-menu-action {
    margin-left: @largeSpacing;
  }

  > .resultSelector-new {
    background: @backgroundDropdown;
    position: absolute;
    width: ~'calc(100% - 2*@{minimumSpacing})';
    z-index: 1;
    margin: 0px @minimumSpacing;
    left: 0px;
    white-space: nowrap;

    .merge {
      width: ~'calc(100% - @{minimumButtonSize})';
    }

    .ignore {
      width: @minimumButtonSize;
    }

    transform: scale(0);
    transition: transform @coreTransitionTime ease-out;
  }

  > .resultSelector-searching {
    overflow: hidden;
    position: absolute;
    width: @minimumSpacing;
    top: @minimumButtonSize;
    height: ~'calc(100% - 2*@{minimumButtonSize} - 10px)';
    z-index: 1;
    left: ~'calc(100% - .5*@{minimumSpacing})';

    opacity: 0;
    transition: opacity 10 * @coreTransitionTime ease-out;
  }

  > .resultSelector-searching .searching-bit {
    content: '';
    width: 100%;
    position: absolute;
    left: 0px;
    border-top: @largeSpacing solid;
    top: -@largeSpacing;
    height: 100%;
    animation: result-selector-is-searching 10 * @coreTransitionTime infinite
      ease-in-out;
  }

  > .resultSelector-searching {
    .searching-bit:nth-child(1) {
      animation-delay: @coreTransitionTime;
    }
    .searching-bit:nth-child(2) {
      animation-delay: 2 * @coreTransitionTime;
    }
    .searching-bit:nth-child(3) {
      animation-delay: 3 * @coreTransitionTime;
    }
    .searching-bit:nth-child(4) {
      animation-delay: 4 * @coreTransitionTime;
    }
    .searching-bit:nth-child(5) {
      animation-delay: 5 * @coreTransitionTime;
    }
  }
}

@{customElementNamespace}result-selector.has-filter {
  .resultSelector-list {
    overflow: auto;
    height: ~'calc(100% - 2*@{minimumButtonSize} - 10px - 1.375*@{minimumFontSize})';
  }

  > .resultSelector-searching {
    height: ~'calc(100% - 2*@{minimumButtonSize} - 10px - 1.375*@{minimumFontSize})';
    top: ~'calc(@{minimumButtonSize} + 1.375*@{minimumFontSize})';
  }
}

@{customElementNamespace}result-selector.has-unmerged {
  > .resultSelector-new {
    transition: transform @coreTransitionTime ease-out 3s;
    transform: scale(1);
  }
}

@{customElementNamespace}result-selector.has-unmerged.ignore-new {
  > .resultSelector-new {
    transform: scale(0);
  }
}

@{customElementNamespace}result-selector.is-searching {
  > .resultSelector-searching {
    opacity: 1;
  }

  .result-item-collection-empty:after {
    content: ' yet';
  }
}

@keyframes result-selector-is-searching {
  0% {
    transform: translate3d(0, -@largeSpacing, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
