@{customElementNamespace}metacard-overwrite {
  overflow: auto;
  white-space: nowrap;
  color: @button-text-color;

  .inlineBlockDisplay(div);
  .inlineBlockDisplay(button);

  > * {
    white-space: normal;
    vertical-align: top !important;
    width: 100%;
    transform: translateX(0%);
    transition: transform @coreTransitionTime linear;
    > * {
      font-size: @largeFontSize;
    }
  }

  button.overwrite-confirm {
    width: 100%;
    height: auto;
  }

  span.mainText {
    display: block;
  }
  span.subText {
    display: block;
    font-size: @mediumFontSize;
  }

  .overwrite-dropzone {
    display: none;
  }

  .overwrite-progress,
  .overwrite-success,
  .overwrite-error {
    text-align: center;
    position: relative;
    white-space: normal;
    padding: 10px;
  }

  .overwrite-success {
    background: @positive-color;
  }

  .overwrite-error {
    background: @negative-color;
  }

  .overwrite-progress {
    line-height: @minimumButtonSize;
  }

  .progress-text-under {
    visibility: hidden;
  }

  .progress-text {
    padding: 10px;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: @largeFontSize;
  }

  .progress-info {
    font-size: @mediumFontSize;
  }

  .progress-bar {
    z-index: 0;    
    top: 0px;
    left: 0px;
    position: absolute;
    width: 0%;
    height: 100%;
    background: @positive-color;
    transition: width @coreTransitionTime linear;
  }

  .overwrite-back {
    position: absolute;
    left: 0px;
    top: 0px;
    width: @minimumButtonSize;
    height: 100%;
    text-align: center;
  }

  .error-message,
  .success-message {
    margin-left: @minimumButtonSize;
  }
}

@{customElementNamespace}metacard-overwrite.show-progress {

  button.overwrite-confirm,
  .overwrite-progress {
    transform: translateX(-100%);
  } 

} 

@{customElementNamespace}metacard-overwrite.has-error {

  .overwrite-progress,
  .overwrite-error {
    transform: translateX(-300%);
  }
}

@{customElementNamespace}metacard-overwrite.has-success {

  .overwrite-progress,
  .overwrite-success {
    transform: translateX(-200%);
  }

}
