@{customElementNamespace}search-form-list {
    overflow: auto;
    .customElement;
  
    > div {
      cursor: pointer;
      display: block;
      line-height: @minimumButtonSize;
      padding: 0px @largeSpacing;
    }
  }
  