@{customElementNamespace}tabs.is-metacard.is-workspace {
}

@{customElementNamespace}tabs.is-metacard.is-resource {
}

@{customElementNamespace}tabs.is-metacard.is-revision {
  > .tabs-list {
    [data-id='History'],
    [data-id='Actions'],
    [data-id='Overwrite'],
    [data-id='Archive'] {
      display: none !important;
    }
  }
}

@{customElementNamespace}tabs.is-metacard.is-deleted {
  > .tabs-list {
    [data-id='History'],
    [data-id='Actions'],
    [data-id='Overwrite'] {
      display: none !important;
    }
  }
}

@{customElementNamespace}tabs.is-metacard.is-workspace {
  > .tabs-list {
    [data-id='History'],
    [data-id='Actions'],
    [data-id='Overwrite'],
    [data-id='Archive'] {
      display: none !important;
    }
  }
}

@{customElementNamespace}tabs.is-metacard.is-remote {
  > .tabs-list {
    [data-id='History'],
    [data-id='Overwrite'],
    [data-id='Archive'],
    [data-id='Associations'],
    [data-id='Quality'] {
      display: none !important;
    }
  }
}

.is-editing-restricted @{customElementNamespace}tabs.is-metacard {
  > .tabs-list {
    [data-id='Overwrite'],
    [data-id='Archive'] {
      display: none !important;
    }
  }
}

@{customElementNamespace}tabs.is-metacard.lacks-preview {
  > .tabs-list {
    [data-id='Preview'] {
      display: none !important;
    }
  }
}

@{customElementNamespace}tabs.is-editing-disabled {
  > .tabs-list {
    [data-id='History'],
    [data-id='Associations'],
    [data-id='Archive'],
    [data-id='Quality'],
    [data-id='Overwrite'] {
      display: none !important;
    }
  }
}

@{customElementNamespace}tabs.is-preview-disabled {
  > .tabs-list {
    [data-id='Preview'] {
      display: none !important;
    }
  }
}
