# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more information on CODEOWNERS, see https://help.github.com/articles/about-codeowners/

# Order is important; the last matching pattern takes the most precedence.
# Within each subsection, keep all pattern matches in strict alphabetical order
# to ensure they go from least to most granular. Additionally when adding a more granular pattern,
# you must explicitly add any users/groups marked on broader patterns. Example:
# Given a file starting as
# ===
# catalog/core/                  @user1
# distribution/docs/             @user2
# ===
# When updating to add a pattern match for catalog/core/catalog-core-api for user3, it SHOULD be
# updated to read
# ===
# catalog/core/                  @user1
# catalog/core/catalog-core-api/ @user3 @user1
# distribution/docs/             @user2
# ===
# If user1 were not added to the newly added, more granular match, they would be tagged on all changes
# within the catalog/core/** hierarchy EXCEPT FOR those within catalog/core/catalog-core-api/**.
# Exceptions may be made to this rule on a case-by-case basis with the input of the more general
# codeowners.
#
# Order is important; the last matching pattern takes the most precedence.


###############################
# DISTRIBUTION
###############################

distribution/ddf-common/    @stustison

distribution/docs/          @ricklarsen

distribution/test/          @codice/test


###############################
# CATALOG
###############################

catalog/core/                   @codice/core-apis

catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java		@rzwiefel
catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ImportCommand.java		@rzwiefel

catalog/core/catalog-core-contentresourcereader/    @codice/core-apis @stustison

catalog/core/catalog-core-localstorageprovider/	    @codice/core-apis @stustison

catalog/core/catalog-core-standardframework/src/main/**/impl/		  @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/**/resource/     @codice/core-apis @stustison
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/history/		@rzwiefel

catalog/core/catalog-core-validationparser/ 	@rzwiefel

catalog/core/catalog-core-versioning/*				@rzwiefel

catalog/opensearch/	            @stustison

catalog/rest/		            @stustison

catalog/security/		        @codice/security @stustison

catalog/spatial/csw/            @bdeining

catalog/spatial/registry/       @clockard

catalog/ui/catalog-ui-search/                   @andrewkfiedler
catalog/ui/catalog-ui-search/pom.xml            @andrewkfiedler @rzwiefel

catalog/ui/search-ui/standard/	@stustison

###############################
# PLATFORM
###############################

platform/admin/		                    @stustison

platform/admin/configurator/            @coyotesqrl

platform/error/		                    @stustison

platform/parser/                        @coyotesqrl

platform/platform-http-proxy/	        @stustison

platform/platform-paxweb-jettyconfig/	@stustison

platform/security/		                @codice/security @stustison

platform/util/			                @stustison


###############################
# CODICE WHITELIST ENTRIES -- leave at bottom of file
###############################


# PLATFORM

platform/admin/core/admin-core-api/src/main/java/org/codice/ddf/ui/admin/api/module/AdminModule.java @codice/whitelist

platform/admin/core/admin-core-appservice/src/main/java/org/codice/ddf/admin/application/service/Application.java @codice/whitelist
platform/admin/core/admin-core-appservice/src/main/java/org/codice/ddf/admin/application/service/ApplicationService.java @codice/whitelist
platform/admin/core/admin-core-appservice/src/main/java/org/codice/ddf/admin/application/service/ApplicationServiceException.java @codice/whitelist

platform/admin/core/admin-core-appservice/src/main/java/org/codice/ddf/admin/application/plugin/ApplicationPlugin.java @codice/whitelist


# CATALOG

catalog/core/catalog-core-api/src/main/java/ddf/catalog/CatalogFramework.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/Constants.java @codice/whitelist

catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/cache/ResourceCacheInterface.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/Attribute.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/AttributeDescriptor.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/AttributeType.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/BinaryContent.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/ContentType.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/Metacard.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/MetacardCreationException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/MetacardType.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/MetacardTypeUnregistrationException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/data/Result.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/DeliveryException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/DeliveryMethod.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/EventException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/EventProcessor.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/InvalidSubscriptionException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/Subscriber.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/Subscription.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/SubscriptionExistsException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/event/SubscriptionNotFoundException.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/federation/Federatable.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/federation/FederationException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/federation/FederationStrategy.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/AttributeBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/BufferedSpatialExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/ContextualExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/EqualityExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/ExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/FilterAdapter.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/FilterBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/FilterDelegate.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/NumericalExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/NumericalRangeExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/SpatialExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/TemporalInstantExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/TemporalRangeExpressionBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/XPathBasicBuilder.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/filter/XPathBuilder.java @codice/whitelist

catalog/core/catalog-core-commons/src/main/java/ddf/catalog/filter/delegate/CopyFilterDelegate.java @codice/whitelist
catalog/core/catalog-core-commons/src/main/java/ddf/catalog/filter/delegate/FilterToTextDelegate.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/CreateRequest.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/CreateResponse.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/DeleteRequest.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/DeleteResponse.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/Operation.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/OperationTransaction.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/Pingable.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/ProcessingDetails.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/Query.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/QueryRequest.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/QueryResponse.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/Request.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/ResourceRequest.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/ResourceResponse.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/Response.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/SourceInfoRequest.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/SourceInfoResponse.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/SourceProcessingDetails.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/SourceResponse.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/Update.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/UpdateRequest.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/operation/UpdateResponse.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/AccessPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PluginExecutionException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PolicyPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PolicyResponse.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PostFederatedQueryPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PostIngestPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PostQueryPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PostResourcePlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PreDeliveryPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PreFederatedQueryPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PreIngestPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PreQueryPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PreResourcePlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/PreSubscriptionPlugin.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/plugin/StopProcessingException.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/resource/DataUsageLimitExceededException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/resource/Resource.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/resource/ResourceNotFoundException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/resource/ResourceNotSupportedException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/resource/ResourceReader.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/resource/ResourceWriter.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/service/ConfiguredService.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/CatalogProvider.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/ConnectedSource.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/FederatedSource.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/IngestException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/InternalIngestException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/RemoteSource.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/Source.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/SourceDescriptor.java
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/SourceMetrics.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/SourceMonitor.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/SourceUnavailableException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/source/UnsupportedQueryException.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/transform/CatalogTransformerException.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/transform/InputCollectionTransformer.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/transform/InputTransformer.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/transform/MetacardTransformer.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/transform/QueryResponseTransformer.java @codice/whitelist

catalog/transformer/catalog-transformer-xml/src/main/java/ddf/catalog/transformer/api/MetacardMarshaller.java @codice/whitelist
catalog/transformer/catalog-transformer-xml/src/main/java/ddf/catalog/transformer/api/PrintWriter.java @codice/whitelist
catalog/transformer/catalog-transformer-xml/src/main/java/ddf/catalog/transformer/api/PrintWriterProvider.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/util/Describable.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/util/Maskable.java @codice/whitelist

catalog/core/catalog-core-api/src/main/java/ddf/catalog/validation/MetacardValidator.java @codice/whitelist
catalog/core/catalog-core-api/src/main/java/ddf/catalog/validation/ValidationException.java @codice/whitelist

catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/CompositeGeometry.java @codice/whitelist
catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/GeometryCollection.java @codice/whitelist
catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/LineString.java @codice/whitelist
catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/MultiLineString.java @codice/whitelist
catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/MultiPoint.java @codice/whitelist
catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/MultiPolygon.java @codice/whitelist
catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/Point.java @codice/whitelist
catalog/common/catalog-common-geo-formatter/src/main/java/ddf/geo/formatter/Polygon.java @codice/whitelist

catalog/core/catalog-core-commons/src/main/java/ddf/util/InetAddressUtil.java @codice/whitelist
catalog/core/catalog-core-commons/src/main/java/ddf/util/NamespaceMapImpl.java @codice/whitelist
catalog/core/catalog-core-commons/src/main/java/ddf/util/NamespaceResolver.java @codice/whitelist
catalog/core/catalog-core-commons/src/main/java/ddf/util/WktStandard.java @codice/whitelist
catalog/core/catalog-core-commons/src/main/java/ddf/util/XPathCache.java @codice/whitelist
catalog/core/catalog-core-commons/src/main/java/ddf/util/XPathHelper.java @codice/whitelist
catalog/core/catalog-core-commons/src/main/java/ddf/util/XSLTUtil.java @codice/whitelist


# PLATFORM

platform/action/core/platform-action-core-api/src/main/java/ddf/action/Action.java @codice/whitelist
platform/action/core/platform-action-core-api/src/main/java/ddf/action/ActionProvider.java @codice/whitelist
platform/action/core/platform-action-core-api/src/main/java/ddf/action/ActionRegistry.java @codice/whitelist

platform/branding-api/src/main/java/org/codice/ddf/branding/BrandingPlugin.java @codice/whitelist
platform/branding-api/src/main/java/org/codice/ddf/branding/BrandingRegistry.java @codice/whitelist

platform/platform-configuration/src/main/java/org/codice/ddf/configuration/ConfigurationWatcher.java @codice/whitelist


# SECURITY

platform/security/platform-security-core-api/src/main/java/ddf/security/SecurityConstants.java @codice/whitelist
platform/security/platform-security-core-api/src/main/java/ddf/security/Subject.java @codice/whitelist

platform/security/platform-security-core-api/src/main/java/ddf/security/assertion/SecurityAssertion.java @codice/whitelist

platform/security/common/src/main/java/ddf/security/common/util/Security.java @codice/whitelist
platform/security/common/src/main/java/ddf/security/common/util/SecurityProperties.java @codice/whitelist
platform/security/common/src/main/java/ddf/security/common/util/ServiceComparator.java @codice/whitelist
platform/security/common/src/main/java/ddf/security/common/util/SortedServiceList.java @codice/whitelist

platform/security/encryption/platform-security-encryption-api/src/main/java/ddf/security/encryption/EncryptionService.java @codice/whitelist

platform/security/expansion/security-expansion-api/src/main/java/ddf/security/expansion/Expansion.java @codice/whitelist

platform/security/platform-security-core-api/src/main/java/ddf/security/http/SessionFactory.java @codice/whitelist

platform/security/platform-security-core-api/src/main/java/ddf/security/service/SecurityManager.java @codice/whitelist
platform/security/platform-security-core-api/src/main/java/ddf/security/service/SecurityServiceException.java @codice/whitelist
platform/security/platform-security-core-api/src/main/java/ddf/security/service/TokenRequestHandler.java @codice/whitelist

platform/security/platform-security-core-api/src/main/java/ddf/security/sts/client/configuration/STSClientConfiguration.java @codice/whitelist

platform/security/platform-security-core-api/src/main/java/ddf/security/ws/policy/AbstractOverrideInterceptor.java @codice/whitelist
platform/security/platform-security-core-api/src/main/java/ddf/security/ws/policy/PolicyLoader.java @codice/whitelist

platform/security/platform-security-core-api/src/main/java/ddf/security/ws/proxy/ProxyServiceFactory.java @codice/whitelist

platform/security/handler/security-handler-api/src/main/java/org/codice/ddf/security/handler/api/AuthenticationHandler.java @codice/whitelist

platform/security/policy/security-policy-api/src/main/java/org/codice/ddf/security/policy/context/attributes/ContextAttributeMapping.java @codice/whitelist

platform/security/policy/security-policy-api/src/main/java/org/codice/ddf/security/policy/context/ContextPolicy.java @codice/whitelist
platform/security/policy/security-policy-api/src/main/java/org/codice/ddf/security/policy/context/ContextPolicyManager.java @codice/whitelist


# SPATIAL

catalog/spatial/kml/spatial-kml-transformer/src/main/java/org/codice/ddf/spatial/kml/transformer/KmlStyleMapEntry.java @codice/whitelist
catalog/spatial/kml/spatial-kml-transformer/src/main/java/org/codice/ddf/spatial/kml/transformer/KMLTransformer.java @codice/whitelist

catalog/spatial/ogc/spatial-ogc-api/src/main/java/org/codice/ddf/spatial/ogc/catalog/MetadataTransformer.java @codice/whitelist

catalog/spatial/wfs/spatial-wfs-api/src/main/java/org/codice/ddf/spatial/ogc/wfs/catalog/converter/FeatureConverter.java @codice/whitelist
catalog/spatial/wfs/spatial-wfs-api/src/main/java/org/codice/ddf/spatial/ogc/wfs/catalog/converter/FeatureConverterFactory.java @codice/whitelist

catalog/spatial/wfs/spatial-wfs-api/src/main/java/org/codice/ddf/spatial/ogc/wfs/catalog/mapper/MetacardMapper.java @codice/whitelist

catalog/spatial/wfs/spatial-wfs-api/src/main/java/org/codice/ddf/spatial/ogc/wfs/v1_0_0/catalog/converter/FeatureConverterFactory.java @codice/whitelist

catalog/spatial/wfs/spatial-wfs-api/src/main/java/org/codice/ddf/spatial/ogc/wfs/v2_0_0/catalog/converter/FeatureConverterFactory.java @codice/whitelist


###############################
# CODICE SECURITY ENTRY -- leave at bottom of file
###############################
distribution/ddf-common/src/main/resources/security @codice/security @stustison
