@{customElementNamespace}configuration-field-multivalue {
  display: block;
  white-space: nowrap;

  > div {
    display: inline-block;
  }
  > div:first-of-type {
    width: ~'calc(100% - @{minimumButtonSize})';
  }
  > div:last-of-type {
    width: @minimumButtonSize;
  }
}

@{customElementNamespace}configuration-field-multivalue
  + @{customElementNamespace}configuration-field-multivalue {
  margin-top: @minimumSpacing;
}

@{customElementNamespace}configuration-field-multivalue-collection {
  display: block;
}
