{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<table class='table table-striped align-middle'>
    <thead>
        <th class="name">Local Name</th>
        <th class="remote">Remote Name</th>
        <th class="status">Status</th>
        <th class="push">Allow Push</th>
        <th class="pull">Allow Pull</th>
        <th><a href="#" class="addRegistryLink fa fa-plus"></a></th>
        <th><a href="#" class="removeRegistryLink fa fa-trash-o"></a></th>
        <th><a href="#" class="refreshButton fa fa-refresh"></a></th>
    </thead>
    <tbody>

    </tbody>
</table>
