<div id="new-app-container" class="new-app-container">

</div>
<div id="wrapper" class="application-scroll scroll-area ps-container">
    <div id=details class="sidebar">
    </div>
    <div id="apps-tree" class="appview"></div>
</div>
