<table class="table table-bordered">
    <tr><th colspan=2>Application Details</th></tr>
    <tr><td width=20%>Name</td><td id='detailsName'>{{displayName}}</td></tr>
    <tr><td>App</td><td id='detailsAppName'>{{name}}</td></tr>
    <tr><td>Version</td><td id='detailsVersion'>{{version}}</td></tr>
    <tr><td>Description</td><td id='detailsDesc'>{{description}}</td></tr>
</table>
