{
  "presets": [
    "react",
    ["latest", { "modules": false }],
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-react-jsx-source"
  ],
  "env": {
    "ci": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*spec.js"
          ]
        }]
      ]
    }
  }
}
