@{customElementNamespace}metacard-history {
  @buttonMargin: 10px;
  @valueWidth: 60%;
  .customElement;
  overflow: hidden;
  margin: 0 auto;

  .metacardHistory-row {
    transition: padding @transitionTime linear;
    background: contrast(@backgroundContent, #f8f8f8, fade(white, 5%));
    margin: 0px 10px;
    border: solid 1px fade(contrast(@backgroundContent),10%);

    &:hover {
      background: contrast(@backgroundContent, #f8f8f8, fade(white, 7%));
    }

    &.is-selected {
      color: contrast(@backgroundContent);
      background: contrast(@backgroundContent, #f8f8f8, fade(white, 10%));
    }
  }

  .metacardHistory-header {
    margin: 10px 10px 0px 10px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: fade(@primary-color, 10%);

    .metacardHistory-row {
      background: transparent;
      margin: 0;
    }
  }

  .metacardHistory-body {
    display: inline-block;  // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
    max-height: ~"calc(100% - @{minimumButtonSize}*2 - 20px - @{buttonMargin})";
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    color: fade(contrast(@backgroundContent), 70%);
    font-weight: 300;
  }

  .metacardHistory-cell {
    float: left;
    padding: 10px;
    text-align: left;
    border-left: solid 1px fade(contrast(@backgroundContent),10%);
  }

  .metacardHistory-version {
    width: 20%;
  }

  .metacardHistory-date {
    width: 50%;
  }

  .metacardHistory-user {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .metacardHistory-footer {
    text-align: center;
  }

  button {
    width: auto;
    padding: @minimumSpacing @largeSpacing;
    display: inline-block;
    margin: @minimumSpacing;
    height: @minimumButtonSize;
    line-height: @minimumFontSize;
    border-radius: @border-radius;
    text-align: center;
    font-size: @minimumFontSize;
    margin: @minimumSpacing auto;
  }

  button > span.fa {
    font-size: @minimumFontSize;
  }

  &.has-selection {
    button {
      display: block;
    }
  }

}

.is-editing-restricted @{customElementNamespace}metacard-history {
  button {
    display: none;
  }
}

 .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}metacard-history {
    overflow: auto;
    @buttonMargin: 10px;

    .metacardHistory-body {
      max-height: none;
      overflow: auto;
    }

    .metacardHistory-cell {
      display: block;
      width: 100%;
    }
  }
}
