@{customElementNamespace}alert-settings {
  .customElement;

  overflow: auto;
  font-size: @minimumFontSize;
  padding: @minimumSpacing;

  .editor-properties {
    overflow: auto;
    max-height: ~"calc(100% - @{minimumButtonSize} - 2*@{minimumSpacing})";
  }

  .property-expiration {
    display: none;
  }
}

@{customElementNamespace}alert-settings.is-persisted {
  .property-expiration {
    display: block;
  }
}