@{customElementNamespace}alert-settings {
  .customElement;

  overflow: auto;
  font-size: @minimumFontSize;
  padding: @minimumSpacing;

  .editor-properties {
    overflow: auto;
    max-height: ~"calc(100% - @{minimumButtonSize} - 2*@{minimumSpacing})";
    text-align: left;

    .property-label {
      .is-bold();
    }
  }

  .property-expiration {
    display: none;
  }

  .property-persistance {
    > .property-region {
      margin: -10px 0 20px 0;
    }
  }
}

@{customElementNamespace}alert-settings.is-persisted {
  .property-expiration {
    display: block;
  }
}