*.project
*.settings
*.classpath
*.metadata
*.iml
*.idea
*.checkstyle
*.DS_Store
.history
jsconfig.json
.vscode/
node_modules/
node/
lerna-debug.log
npm-debug.log
yarn-error.log
package-lock.json
atlassian-ide-plugin.xml
*.sonar-ide.properties
**/webapp/css/styles.css
platform/solr/**/overlays
distribution/docs/src/main/resources/content/_catalogFrameworks/.asciidoctor
distribution/docs/src/main/resources/content/_catalogFrameworks/catalog_architecture_framework.png
distribution/docs/src/main/resources/content/_catalogFrameworks/ingest_request.png	
distribution/docs/src/main/resources/content/_catalogFrameworks/product_retrieval_request.png
distribution/docs/src/main/resources/content/_catalogFrameworks/query_request.png
distribution/docs/src/main/resources/content/_coreConcepts/.asciidoctor/
distribution/docs/src/main/resources/content/_coreConcepts/highly-available-setup-after-failover.png
distribution/docs/src/main/resources/content/_coreConcepts/highly-available-setup.png
distribution/docs/src/main/resources/content/_data/.asciidoctor/
distribution/docs/src/main/resources/content/_data/catalog_architecture_data.png
distribution/docs/src/main/resources/content/_devComponents/.asciidoctor/
distribution/docs/src/main/resources/content/_devComponents/sources_architecture.png
distribution/docs/src/main/resources/content/_devComponents/XmlInputTransformer_configuration.png
distribution/docs/src/main/resources/content/_devComponents/XmlInputTransformer_saxeventhandlerdelegate.png
distribution/docs/src/main/resources/content_devComponents/source_architecture.png
distribution/docs/src/main/resources/content/_plugins/.asciidoctor/
distribution/docs/src/main/resources/content/_plugins/create_plugin_order.png
distribution/docs/src/main/resources/content/_plugins/delete_plugin_order.png
distribution/docs/src/main/resources/content/_plugins/query_plugin_order.png
distribution/docs/src/main/resources/content/_plugins/resource_plugin_order.png
distribution/docs/src/main/resources/content/_plugins/storage_create_plugin_order.png
distribution/docs/src/main/resources/content/_plugins/storage_update_plugin_order.png
distribution/docs/src/main/resources/content/_plugins/update_plugin_order.png
distribution/docs/src/main/resources/content/_securityFramework/.asciidoctor/
distribution/docs/src/main/resources/content/_securityFramework/security_architecture.png
distribution/docs/src/main/resources/content/_securityFramework/security_ecp_architecture.png
distribution/docs/src/main/resources/content/_securityFramework/security_idp_architecture.png
distribution/docs/src/main/resources/content/_sources/.asciidoctor/
distribution/docs/src/main/resources/content/_sources/embedded-solr-diagram.png
distribution/docs/src/main/resources/content/_sources/http-solr-external-diagram.png
distribution/docs/src/main/resources/content/_sources/http-solr-internal-diagram.png
distribution/docs/src/main/resources/content/_sources/solrcloud-diagram.png
distribution/docs/src/main/resources/content/_transformers/.asciidoctor
distribution/docs/src/main/resources/content/_transformers/catalog_architecture_transformers.png
distribution/docs/src/main/resources/content/_transformers/transformer_communication_diagram.png

# JMeter Related files to ignore
jmeter.log
*.jmx.log
*.jtl

# Maven Ignores (https://raw.githubusercontent.com/github/gitignore/master/Maven.gitignore)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
