*.project
*.settings
*.classpath
*.metadata
*.iml
*.idea
*.checkstyle
*.DS_Store
.history
jsconfig.json
.vscode/
node_modules/
node/
lerna-debug.log
npm-debug.log
yarn-error.log
package-lock.json
atlassian-ide-plugin.xml
*.sonar-ide.properties
**/webapp/css/styles.css
platform/solr/**/overlays
distribution/docs/src/main/resources/content/**/.asciidoctor
distribution/docs/src/main/resources/content/**/*.png
**/bin
*.factorypath
# JMeter Related files to ignore
jmeter.log
*.jmx.log
*.jtl

# Maven Ignores (https://raw.githubusercontent.com/github/gitignore/master/Maven.gitignore)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
coverage/
.nyc_output