*.project
*.settings
*.classpath
*.metadata
*.iml
*.idea
*.checkstyle
*.DS_Store
node_modules/
node/
target/
bin/
atlassian-ide-plugin.xml
*.sonar-ide.properties
**/webapp/css/styles.css
platform/solr/**/overlays
dependency-reduced-pom.xml

# JMeter Related files to ignore
jmeter.log
*.jmx.log
*.jtl

