###############################
# DISTRIBUTION
###############################

distribution/ddf-common/*	@stustison


###############################
# CATALOG
###############################

catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ExportCommand.java		@rzwiefel
catalog/core/catalog-core-commands/src/main/java/org/codice/ddf/commands/catalog/ImportCommand.java		@rzwiefel

catalog/core/catalog-core-contentresourcereader/*	@stustison

catalog/core/catalog-core-localstorageprovider/*	@stustison

catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/history/*		@rzwiefel
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/impl*		@stustison
catalog/core/catalog-core-standardframework/src/main/java/ddf/catalog/resource*		@stustison

catalog/core/catalog-core-validationparser/* 	@jrnorth @rzwiefel

catalog/core/catalog-core-versioning/*				@rzwiefel

catalog/opensearch/*	@stustison

catalog/rest/*		@stustison

catalog/security/*		@stustison

catalog/ui/catalog-ui-search/src/main/java/*		@rzwiefel

catalog/ui/search-ui/standard/*		@stustison


###############################
# PLATFORM
###############################

platform/admin/*		@stustison

platform/error/*		@stustison

platform/platform-filter-delegate/*		@stustison

platform/platform-http-proxy/*		@stustison

platform/platform-paxweb-jettyconfig/*	@stustison

platform/security/*		@stustison

platform/util/*			@stustison
