@{customElementNamespace}visualization-selector {
    .visualization-choice {
        display: block;
        padding: @largeSpacing;
        height: auto;
        width: 100%;
        text-align: left;

        > span + span {
        margin-left: @minimumSpacing;
        }
    }

    .visualization-choice.is-selected {
        
    }
}