{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="workspace-interaction interaction-save" data-help="Save your changes to the workspace.">
    <div class="interaction-icon fa fa-floppy-o">
    </div>
    <div class="interaction-text">
        Save
    </div>
</div>
<div class="workspace-interaction interaction-run" data-help="Runs the workspace's searches.">
    <div class="interaction-icon fa fa-play">
    </div>
    <div class="interaction-text">
        Run all searches
    </div>
</div>
<div class="workspace-interaction interaction-stop" data-help="Cancels the workspace's searches.">
    <div class="interaction-icon fa fa-stop">
    </div>
    <div class="interaction-text">
        Cancel all searches
    </div>
</div>
<div class="workspace-interaction interaction-new-tab" data-help="Opens the workspace view in a new browser tab.">
    <div class="interaction-icon fa fa-external-link">
    </div>
    <div class="interaction-text">
        Open in New Tab
    </div>
</div>
<div class="workspace-interaction interaction-share" data-help="Brings up a view of the current
sharing settings for this workspace.  From there, you can change what permissions each role has on the workspace,
 as well as give permissions to individuals by specifying their email.">
    <div class="interaction-icon fa fa-users">
    </div>
    <div class="interaction-text">
        View sharing
    </div>
</div>
<div class="workspace-interaction interaction-details" data-help="Brings up a view of the current
details for this workspace.">
    <div class="interaction-icon fa fa-expand">
    </div>
    <div class="interaction-text">
        View details
    </div>
</div>
<div class="workspace-interaction interaction-duplicate" data-help="Creates a new workspace
based off this workspace and redirects you there.">
    <div class="interaction-icon fa fa-copy">
    </div>
    <div class="interaction-text">
        Duplicate
    </div>
</div>
<div class="workspace-interaction interaction-subscribe" data-help="Clicking this will cause
email alerts to be sent to you regarding new items relevant to this workspace's searches.">
    <div class="interaction-icon fa fa-envelope">
    </div>
    <div class="interaction-text">
        Subscribe
    </div>
</div>
<div class="workspace-interaction interaction-unsubscribe" data-help="Clicking this will cause
you to no longer recieve email alerts about new items relevant to this workspace's searches.">
    <div class="interaction-icon fa fa-envelope-o">
    </div>
    <div class="interaction-text">
        Unsubscribe
    </div>
</div>
<div class="workspace-interaction interaction-trash" data-help="Deletes the workspace.
Anyone who has access to this workspace will subsequently lose access.">
    <div class="interaction-icon fa fa-trash-o">
    </div>
    <div class="interaction-text">
        Move to trash
    </div>
</div>
