<div class='enable-checkbox control-group'>
    <label class='checkbox'>
        <input type='checkbox' name='thisName' id='{{id}}' {{#isEnabled}}{{#.}}checked{{/.}}{{/isEnabled}}>Enabled
    </label>
</div>