@{customElementNamespace}input.is-boolean { 
    input {
        display: none;
    }

    .if-editing label {
        width: 100%;
        cursor: pointer;
        height: @minimumButtonSize;
    }

    .checkbox-placeholder {
        width: 100%;
        padding-left: 10px;
        border: 1px solid @lighten-inherited-background-color;
        background: @lighten-inherited-background-color;
        height: 100%;
        text-align: left;

        span {
            font-size: @minimumFontSize;
        }
    }

    .is-not-checked {
        display: block;
    }
    
    .is-checked {
        display: none;
    }

    input:checked + button {
        .is-checked {
            display: block;
        }
        .is-not-checked {
            display: none;
        }
    }
}