@{customElementNamespace}query-status {
  .customElement;
  background: inherit;
  padding: 20px;

  .details {
    .is-bold();
  }

  .table-container {
    height: ~'calc(100% - @{minimumButtonSize})';
    background: inherit;
  }
}