@{customElementNamespace}query-add {
    .customElement;
    min-width: @minimumScreenSize;
    overflow: hidden;

    > form > .editor-content > .content-footer button {
        width: 100%;
    }

    > form > .editor-content > .content-form {
        .editor-footer {
            display: none;
        }
    }

    > form > .editor-content > .content-footer .editor-save {
        display: none;
    }

    > form > .editor-content > .content-footer .editor-saveRun {
        display: block;
    }
}

@{customElementNamespace}query-add.is-form-builder {
    > form > .editor-content > .content-footer .editor-save {
        display: block;
    }

    > form > .editor-content > .content-footer .editor-saveRun {
        display: none;
    }
}