@{customElementNamespace}query-add {
    .customElement;
    min-width: @minimumScreenSize;
    overflow: hidden;

    > form > .editor-content > .content-footer {
        padding-left: (@mediumSpacing + .625rem);
        padding-right: (@mediumSpacing + .625rem);
        margin-bottom: (@mediumSpacing + .625rem);
    }

    > form > .editor-content > .content-footer button {
        width: 100%;
        font-size: @minimumFontSize;
    }

    > form > .editor-content > .content-footer button > span {
        font-size: @minimumFontSize;
    }

    > form > .editor-content > .content-form {
        .editor-footer {
            display: none;
        }
    }

    > form > .editor-content > .content-footer .editor-save {
        display: none;
    }

    > form > .editor-content > .content-footer .editor-saveRun {
        display: block;
    }
}

@{customElementNamespace}query-add.is-form-builder {
    > form > .editor-content > .content-footer .editor-save {
        display: block;
    }

    > form > .editor-content > .content-footer .editor-saveRun {
        display: none;
    }
}