*:focus {
  animation: focusFade 1s ease-in-out;
}

@{customElementNamespace}dropdown-companion:focus {
  animation: focusFade2 1s ease-in-out;
}

@keyframes focusFade {
  0% {
    box-shadow: inset 0px 0px 0px 1px @primary-color;
  }
  100% {
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
}

@keyframes focusFade2 {
  0% {
    box-shadow: 0px 0px 2px 1px @primary-color, 2px 2px 10px 2px @primary-color;
  }
  100% {
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.4),
      2px 2px 10px 2px rgba(0, 0, 0, 0.4);
  }
}
