.global-bracket.is-left,
.global-bracket.is-right {
  position: relative;
}

.global-bracket.is-right {
  width: ~'calc(100% - @{minimumButtonSize} - @{minimumSpacing} - 1.5rem)';
}

.global-bracket.is-left::before,
.global-bracket.is-right::before {
  content: '';
  opacity: @minimumOpacity;
  position: absolute;
  height: 100%;
  width: @minimumSpacing;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.global-bracket.is-left::before {
  border-left: 1px solid;
  left: 0px;
}
.global-bracket.is-right::before {
  border-right: 1px solid;
  right: 0px;
}
