.group(@contrastColor: white) {
    .group {
        border: 2px solid fade(@contrastColor, 10%);
        > * + * {
            border-left: 2px solid fade(@contrastColor, 10%);
        }
    }
    .no-spacing > .group + .group {
        border-top: none;
    }
}
.group();