h1 {
    font-size: @minimumFontSize + 1*(@largeFontSize - @minimumFontSize);
}

h2 {
    font-size: @minimumFontSize + .84*(@largeFontSize - @minimumFontSize);
}

h3 {
    font-size: @minimumFontSize + .68*(@largeFontSize - @minimumFontSize);
}

h4 {
    font-size: @minimumFontSize + .52*(@largeFontSize - @minimumFontSize);
}

h5 {
    font-size: @minimumFontSize + .36*(@largeFontSize - @minimumFontSize);
}

h6 {
    font-size: @minimumFontSize + .2*(@largeFontSize - @minimumFontSize);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: inherit;
}

.is-header {
    .is-large-font;
    .is-bold;
    opacity: .8;
    text-align: center;
}