input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

.input-group {
  margin: 0px;
}

input,
input.form-control {
  padding: .5*@minimumSpacing .5*@minimumFontSize .5*@minimumSpacing .5*@minimumFontSize;
  height: @minimumButtonSize;
  line-height: normal;  //needed for IE10 on Windows 7 -> padding + lineheight makes inputs go wonky http://stackoverflow.com/questions/23936236/input-text-at-the-bottom-on-ie10
}

input::-ms-clear {
  display:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none !important;
  box-shadow: inset 0px 0px 0px 1px grey;
}