.layerPickers .table > thead > tr > td,
.layerPickers .table > tbody > tr > td,
.layerPickers .table > tfoot > tr > td {
    padding: 0px;
    vertical-align: middle;
    max-width: 6.25rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    label {
        cursor: pointer;
        padding: 20px;
        width: 100%;
        margin-bottom: 0px;
    }
    
    span[name="label"] {
        margin-top: @minimumSpacing;
        display: block;
    }

    input[type="checkbox"] {
        height: auto;
        vertical-align: middle;
        margin: 0px;
    }
}

.layerPickers .table > tbody > tr.is-disabled {
    opacity: @minimumOpacity;
}

.layerPickers .table-title{
    font-size: @largeFontSize;
    text-align: center;
    opacity: @minimumOpacity;
}