.is-link(@contrastColor: white) {
  a {
    padding: @minimumSpacing;
    color: @contrastColor;
    text-decoration: underline;
    .is-bold();

    &:hover {
      .is-bold();
      color: @contrastColor;
      text-decoration: underline;
      background: fade(@contrastColor, 10%);
    }

    &:visited {
      color: @contrastColor;
    }
  }
}
.is-link();
