.is-list(@contrastColor: white) {
  .is-list {
    > *,
    > * > td {
      border-top: 1px solid fade(@contrastColor, 10%);
      border-bottom: 1px solid fade(@contrastColor, 10%);
      border-left: 1px solid fade(@contrastColor, 10%);
      border-right: 1px solid fade(@contrastColor, 10%);
    }
  }

  .is-list.has-list-highlighting {
    > *:hover,
    > *:hover > td {
      border-top: 1px solid fade(@contrastColor, 20%);
      border-bottom: 1px solid fade(@contrastColor, 20%);
      border-left: 1px solid fade(@contrastColor, 20%);
      border-right: 1px solid fade(@contrastColor, 20%);
    }
  }

  .is-list.is-inline {
    > *,
    > * > td {
      border-left: 1px solid fade(@contrastColor, 10%);
      border-right: 1px solid fade(@contrastColor, 10%);
    }
  }

  .is-list.is-inline.has-list-highlighting {
    > *:hover,
    > *:hover > td {
      border-left: 1px solid fade(@contrastColor, 20%);
      border-right: 1px solid fade(@contrastColor, 20%);
    }
  }

  .is-action-list {
    > *:not(.composed-menu):hover,
    > *.is-active:not(.composed-menu),
    .composed-menu > *:not(.composed-menu):hover,
    .composed-menu > *:not(.composed-menu).is-active {
      background: fade(@contrastColor, 10%);
    }
  }
}
.is-list();
