<h3>Features</h3>

<div class="sort-container pull-right">
    <div class="bt-icon bt-icon-tab"></div>
    <div class="btn-group">
        <span class="pull-left sort-label">Sort by:</span>
        <button type="button" class="btn btn-dropdown dropdown-toggle" data-toggle="dropdown">
            Loan Phase, Loan &uarr; <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <ul class="dropdown-menu sort" role="menu">
            <li><a data-id="ln_ph_asc">Loan Phase <span class="order">&uarr;</span></a></li>
            <li><a data-id="ln_ph_desc">Loan Phase <span class="order">&darr;</span></a></li>
            <li><a data-id="ln_asc">Loan <span class="order">&uarr;</span></a></li>
            <li><a data-id="ln_desc">Loan <span class="order">&darr;</span></a></li>
        </ul>
    </div>
</div>
<div class="filter-container inactive pull-right">
    <div class="bt-icon bt-icon-binoculars"></div>
    <input type="text" id="filter-features" placeholder="Filter Features" />
</div>

<table id="features-table">
    <caption>Features</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Repository</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>