@{customElementNamespace}slideout.is-left {

    > .slideout-cover {
        left: 0%;
        transform: translateX(-100%);
        background: rgba(0,0,0,.4);
    }

    > .slideout-content {
        left: 0%;
        transform: translateX(-100%);
        top: 0%;
        height: 100%;
    }

}

@{customElementNamespace}slideout.is-left.is-open {

    > .slideout-cover {
        transform: translateX(0%);
    }
    > .slideout-content {
        transform: translateX(0%);
    }
}

body.has-header @{customElementNamespace}slideout.is-left {
    > .slideout-content {
        top: 1.5rem;
        height: ~'calc(100% - 1.5rem)';
    }
}

body.has-footer @{customElementNamespace}slideout.is-left {
    > .slideout-content {
        top: 0%;
        height: ~'calc(100% - 1.5rem)';
    }
}

body.has-header.has-footer @{customElementNamespace}slideout.is-left {
    > .slideout-content {
        top: 1.5rem;
        height: ~'calc(100% - 3rem)';
    }
}