@{customElementNamespace}source-item {
    .customElement;
    height: auto;
    white-space: nowrap;
    padding: @minimumSpacing;
    overflow: hidden;

    .source-name,
    .source-available {
        white-space: normal;
        display: inline-block;
        vertical-align: top;
        .is-large-font;
        line-height: @minimumButtonSize;
    }

    .source-name {
        padding: 0px @minimumSpacing;
        max-width: ~'calc(100% - @{minimumButtonSize})';
        word-wrap: break-word;
    }

    .source-actions {
        padding-left: ~'calc(2 * @{minimumButtonSize})';
    }

    .source-action > button {
        width: 100%;
        text-align: left;
        padding: 0px @minimumSpacing;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .source-actions {
        display: block;
    }

    .source-app {
        display: none;
    }

    .source-available {
        width: @minimumButtonSize;
        text-align: center;
    }

    .is-available,
    .is-not-available {
        display: none;
    }

    .is-available {
        color: @positive-color;
    }

    .is-not-available {
        color: @warning-color;
    }
}

@{customElementNamespace}source-item.is-available {
    .is-available {
        display: inline;
    }
}

@{customElementNamespace}source-item:not(.is-available) {
    .is-not-available {
        display: inline;
    }
}

@{customElementNamespace}source-item-collection {
    .customElement;
    height: auto;
}