password="admin"
service.pid="ActiveMQJMSClientFactoryWrapper"
url="(vm://0,tcp://${artemis.live.host}:${artemis.multiprotocol.port},tcp://${artemis.backup.host}:${artemis.multiprotocol.port})?ha\=true;sslEnabled\=false;keyStorePath\=${javax.net.ssl.keyStore};keyStorePassword\=${javax.net.ssl.keyStorePassword};enabledCipherSuites\=${https.cipherSuites};enabledProtocols\=${https.protocols}"
username="admin"
