<div class="row-fluid no-select">
    <!--<div class="left-flyout dark hide overlay-content-container left widget-color"></div>-->
    <!--<div class="left-main-container fade-on-map-drag">-->
        <!--<ul class="vertical-menu left">-->
            <!--<li><button id="objective-view-toggle" class="btn widget-color" ><i class="icon-white icon-flag"></i><span>Objective Viewer</span></button></li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="geospatial-main">
        <div class="toolbar"></div>
        <canvas class="cesiumContainer"></canvas>
        <div class="playback playback-slider">
            <div class="animation-disabled"></div>
        </div>
        <!--<div class="snapshot-controls"></div>-->
        <!--<div class="annotation-panel widget-color"></div>-->
        <!--<div class="timeline"><button class="btn widget-color expand-timeline"><i class="icon-white icon-arrow-up" /></button></div>-->
        <!--<div id="timeline-panel" class="timeline-panel widget-color"><div class="timeline-bar-container"><div class="timeline-bar-inner"></div></div><div class="thumb-line"></div></div>-->

    </div>
    <!--<div class="right-main-container fade-on-map-drag">-->
        <!--<ul class="vertical-menu right">-->
            <!--<li><button id="info-inspector-toggle" class="btn widget-color" ><i class="icon-info icon-white"></i><span>Inspector</span></button></li>-->
            <!--<li><button id="camera-views-toggle" class="btn widget-color hidden" ><i class="icon-picture icon-white"></i><span>Camera Views</span></button></li>-->
            <!--<li><button id="snapshot-toggle" class="btn widget-color hidden" ><i class="icon-camera icon-white"></i><span>Snapshots</span></button></li>-->
            <!--<li><button id="collaboration-toggle" class="btn widget-color" ><i class="icon-group icon-white"></i><span>Collaboration</span></button></li>-->
            <!--<li><button id="search-results-toggle" class="btn widget-color hidden" ><i class="icon-search icon-white"></i><span>Search Results</span></button></li>-->
        <!--</ul>-->
        <!--<div class="bottom-right broadcast-icon">-->
            <!--<img src="assets/images/icons/broadcast-green.png">-->
        <!--</div>-->
        <!--<div class="bottom-right follow-icon">-->
            <!--<i class="icon-link icon-4x"></i>-->
        <!--</div>-->
    <!--</div>-->

    <div class="clear"></div>
</div>