<div class="row-fluid no-select">

    <div class="navbar navbar-inverse navbar-fixed-top">


    <div class="navbar-inner">
        <a class="brand" href="#"><i style="padding-left: 25px" class="icon-globe icon-white"></i>DDF</a>

        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="#">Search</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="SearchHelp.html?title=DDF">Help</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Metacard Modal -->
<div id="metacardModal" class="modal hide" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h3>Record Metadata</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer"></div>
</div>


<div id="cesiumContainer">
    <div id="toolbar"></div>
</div>

<div id="searchControls" class="partialaffix span3 search-controls row-fluid nav nav-list well well-small top-pad">
    <table class="nav-table width-full">
        <tr>
            <td><a href="#" class="back nav-link hide"><i class="icon-chevron-left"></i>&nbsp;<span class="backNavText"></span></a></td>
            <td><a href="#" class="forward nav-link pull-right hide"><span class="forwardNavText"></span>&nbsp;<i class="icon-chevron-right"></i></a></td>
        </tr>
    </table>
    <hr class="nav-divider" />
    <div id="searchPages"></div>
</div>

</div>