<td>
    <a href="#" class="metacard-link"  title="Title">
        {{properties.title}}
    </a>
    <div class="pull-left"><span class="small-text"  title="Source">{{properties.source-id}}</span></div>
    <div class="pull-right">
        <span class="small-text" title="Created Date">&nbsp;&nbsp;&nbsp;{{moment properties.created fromNow=null}}</span>
    </div>
</td>