<div id="resultsView" class="nav nav-list height-full">
    <div class="row-fluid resultListScroll">
        <table class="resultTable table">
            <tbody>
            </tbody>
        </table>
    </div>
</div>