<div>
    <div class="branding">
        <i class="icon-globe icon-white"></i> DDF
    </div>
    <table class="nav-table width-full">
        <tr>
            <td style="width:50.1%"><a href="#" class="back nav-link hide"><i class="icon-chevron-left"></i>&nbsp;<span
                    class="backNavText"></span></a></td>
            <td style="white-space:nowrap"><span class="nav-title">Query</span></td>
            <td style="width:50.1%"><a href="#" class="forward nav-link pull-right hide"><span
                    class="forwardNavText"></span>&nbsp;<i class="icon-chevron-right"></i></a></td>
        </tr>
    </table>
    <hr class="nav-divider"/>
    <div id="searchPages">
    </div>
</div>