@{customElementNamespace}input.is-autocomplete {
    .select2-container--default {
        min-width: 100%;
        .select2-selection--single {
            height: auto;

            .select2-selection__rendered {
                line-height: @minimumButtonSize;
                padding-right: @minimumButtonSize;
            }

            .select2-selection__arrow {
                top: 0px;
                height: 100%;
                width: @minimumButtonSize;
            }
        }
    }
}

// can't namespace because dropdown gets appended to end of document body
.select2-dropdown {
    z-index: @zIndexDropdown;
    .changeBackground(@backgroundDropdown);
    border-radius: @border-radius;
    border-color: fade(contrast(@backgroundDropdown), 50%);
}

.select2-results__option {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px @minimumSpacing;
    white-space: nowrap;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: fade(contrast(@backgroundDropdown), 5%);
    color: contrast(@backgroundDropdown);
}
