@{customElementNamespace}slideout {
  display: block;
  position: fixed;
  z-index: @zIndexSlideout;
  left: 100%;
  top: 0%;
  width: 100%;
  height: 100%;

  > .slideout-cover {
    background: rgba(
      0,
      0,
      0,
      0
    ); // in IE10, clicking on openlayers map to close the slideout won't work without this
    position: fixed;
    z-index: @zIndexSlideout;
    left: 100%;
    top: 0%;
    width: 100%;
    height: 100%;
    transform: translateX(0%);
  }
  > .slideout-content {
    .changeBackground(@backgroundSlideout);
    position: fixed;
    z-index: @zIndexSlideout;
    left: 100%;
    top: ~'calc(2*@{minimumLineSize})';
    width: @minimumScreenSize;
    height: ~'calc(100% - 2*@{minimumLineSize})';
    transition: transform @coreTransitionTime ease-in-out;
    transform: translateX(0%);
    box-shadow: rgba(0, 0, 0, 0.03) 0px -1px 0px inset,
      rgba(0, 0, 0, 0.15) 0 15px 10px, rgba(0, 0, 0, 0.3) 0 8px 36px;
  }
}
@{customElementNamespace}slideout.is-open {
  left: 0%;
  > .slideout-cover {
    transform: translateX(-100%);
  }
  > .slideout-content {
    transform: translateX(-100%);
  }
}
body.has-header @{customElementNamespace}slideout {
  > .slideout-content {
    top: ~'calc(2*@{minimumLineSize} + 1.5rem)';
    height: ~'calc(100% - 2*@{minimumLineSize} - 1.5rem)';
  }
}
body.has-footer @{customElementNamespace}slideout {
  > .slideout-content {
    top: ~'calc(2*@{minimumLineSize})';
    height: ~'calc(100% - 2*@{minimumLineSize} - 1.5rem)';
  }
}
body.has-header.has-footer @{customElementNamespace}slideout {
  > .slideout-content {
    top: ~'calc(2*@{minimumLineSize} + 1.5rem)';
    height: ~'calc(100% - 2*@{minimumLineSize} - 3rem)';
  }
}
