@{customElementNamespace}workspace-item {
  .customElement;
  overflow: hidden;
  display: inline-block;
  width: 31.3334%;
  margin: 1.5%;
  padding: 15px;
  height: 2*@minimumLineSize;
  cursor: pointer;
  position: relative;
  background: fade(white, 5%);

  .is-list.is-inline  {
    border-left: 0px;
  }

  &:nth-child(3n + 1) {
    margin-left: 0px;
  }

  &:nth-child(3n + 3) {
    margin-right: 0px;
  }
  
  > div {
    display: inline-block;
    vertical-align: top;
  }
  

  .choice-details {
    width: 100%;
    padding-right: 2*@minimumButtonSize;
  }

  .choice-details,
  .choice-actions,
  .choice-save {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
    .is-small-font();
  }

  .choice-actions,
  .choice-save {
    width: @minimumButtonSize;
    text-align: center;
    height: 100%;
    line-height: 2*@minimumLineSize;
    overflow: hidden;
  }

  .choice-actions {
    position: absolute;
    right: 0px;
  }

  .choice-save {
    position: absolute;
    right: @minimumButtonSize;
    transition: transform @coreTransitionTime linear;
    transform: scale(1);
    max-width: 100%;
  }
}

@{customElementNamespace}workspace-item.as-list {
  display: block;
  width: 100%;
  text-align: left;
  height: @minimumButtonSize;
  line-height: @minimumButtonSize;
  white-space: nowrap;

  .choice-actions,
  .choice-save {
    line-height: @minimumButtonSize;
  }
}

@{customElementNamespace}workspace-item.as-grid {
  height: auto;
  text-align: right;
  .choice-details {
    height: auto;
    text-align: left;
    padding-right: 0px;
  }
  .choice-actions,
  .choice-save {
    position: static;
    width: @minimumButtonSize;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }

  &.is-saved {
    .choice-details {
      padding-right: 0px;
    }
  }
}

@{customElementNamespace}workspace-item.is-saved {

  .choice-save {
      opacity: 1;
      transition: max-width 0s ease-out 10*@coreTransitionTime;
      overflow: hidden;
      max-width: 0%;
  }

  .choice-details {
    transition: padding @coreTransitionTime ease-out 10*@coreTransitionTime;
    padding-right: @minimumButtonSize;  //IE Edge doesn't support calc transitions
  }

}