@{customElementNamespace}search-interactions {
  > * {
    white-space: nowrap;
    padding: 0px 10px;
    cursor: pointer;
    overflow: hidden;
    line-height: @minimumButtonSize;
    height: @minimumButtonSize;

    &:hover,
    &.is-active {
      background: fade(contrast(@backgroundDropdown), 10%);
    }
  }

  .interaction-icon,
  .interaction-text {
    line-height: @minimumButtonSize;
    height: @minimumButtonSize;
  }

  .interaction-icon {
    text-align: center;
    width: @minimumButtonSize;
  }

  .interaction-icon,
  .interaction-text {
    display: inline-block;
    vertical-align: top;
  }

  .interaction-revert {
    display: none;
  }

  .interaction-form {
    margin: 0 @minimumButtonSize;
    padding: 0 @minimumButtonSize;
  }

  .interaction-form > .interaction-text .fa-level-up {
    transform: rotate(90deg);
    font-size: @mediumFontSize;
    margin-right: @minimumSpacing;
  }

  @{customElementNamespace}search-interactions.allow-revert {
    .interaction-revert {
      display: block;
    }
  }
}
