@{customElementNamespace}notifications-list {

    .notification-empty {
        padding: 4px 8px;
    }

    .notification:last-child {
        border: 1px solid #c4c4c4;
    }

    .notification:nth-child(even) {
        background: #eee;
    }

    .notification {
        color: #2e2e33;
        background: white;
        border: 1px solid #c4c4c4;
        border-bottom: none;
    }

    .notification-table {
        color: #2e2e33;
        width: 100%;

        td {
            padding: 4px 8px;
        }

        .notification-title {
            font-weight: 500;
        }
    }

}