@{customElementNamespace}metacard-archive {

  button.is-negative,
  button.is-positive {
    width: 100%;
    height: auto;
  }

  span.mainText {
    display: block;
  }
  span.subText {
    display: block;
    font-size: @mediumFontSize;
  }
  
  .restore {
    display: none;
  }
}

@{customElementNamespace}metacard-archive.is-deleted {

  .archive {
    display: none;
  }

  .restore {
    display: block;
  }
}