{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="choice" data-value="AND">
    <span class="choice-text">
        AND
    </span>
    <span class="choice-selected fa fa-check">

    </span>
</div>
<div class="choice"data-value="OR">
    <span class="choice-text">
        OR
    </span>
    <span class="choice-selected fa fa-check">

    </span>
</div>
<!--
used to be NONE, but then I read up on cql and found out that you can't use not as a unary operator
<div class="choice" data-value="NOT">
    <span class="choice-text">
        NOT
    </span>
    <span class="choice-selected fa fa-check">

    </span>
</div>-->
