@{customElementNamespace}editable-row-collection {
  display: block;
  > * + * {
    margin-top: @minimumSpacing;
  }
}
@{customElementNamespace}editable-row {
  display: block;
  position: relative;
  min-height: 50px;

  > .embed {
    width: ~'calc(100% - 50px - 40px)';
  }

  > .remove {
    width: 50px;
    position: absolute;
    right: 10px;
    top: 0;

    button {
      width: 100%;
    }
  }
}
