@{customElementNamespace}query-add {
    .customElement;
    min-width: @minimumScreenSize;
    overflow: hidden;

    > form > .editor-content > .content-footer button {
        width: 100%;
    }

    > form > .editor-content > .content-form {
        .editor-footer {
            display: none;
        }
    }
}