{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="choice" data-value="Owned by anyone">
    <span class="choice-text">
        Owned by anyone
    </span>
    <span class="choice-selected fa fa-check">

    </span>
</div>
<div class="choice"data-value="Owned by me">
    <span class="choice-text">
        Owned by me
    </span>
    <span class="choice-selected fa fa-check">

    </span>
</div>
<div class="choice" data-value="Not owned by me">
    <span class="choice-text">
        Not owned by me
    </span>
    <span class="choice-selected fa fa-check">

    </span>
</div>