property.string="string"
property.boolean.true=B"true"
property.boolean.false=B"false"
property.int=I"10"
property.long=L"100"
# Floats and doubles are supported using the IEEE 754 format. See the Documentation for more details.
# F"10.5"
property.float=F"1093140480"
# D"100.1234"
property.double=D"4636745974857667812"

property.array.strings=[ \
  "A", \
  "B", \
  "C", \
  ]
property.array.booleans=B[ \
  "true", \
  "false", \
  ]
property.array.ints=I[ \
  "10", \
  "20", \
  "30", \
  ]
property.array.longs=L[ \
  "100", \
  "200", \
  "300", \
  ]
# F["1.1","2.2","3.3"]
property.array.floats=F[ \
  "1066192077", \
  "1074580685", \
  "1079194419", \
  ]
# D["1.123","2.234","3.345"]
property.array.doubles=D[ \
  "4607736361554183979", \
  "4612212939583790252", \
  "4614714689176794563", \
  ]