@{customElementNamespace}slideout.is-top {

    > .slideout-cover {
        left: 0%;
        top:0%;
        transform: translateY(-100%);
        background: rgba(0,0,0,.4);
    }

    > .slideout-content {
        left: ~'calc(50% - .5*@{minimumScreenSize})';
        transform: translateY(-100%);
        top: 0%;
    }

}

@{customElementNamespace}slideout.is-top.is-open {

    > .slideout-cover {
        transform: translateY(0%);
    }
    > .slideout-content {
        transform: translateY(0%);
    }
}

#content {
    transition: transform @coreTransitionTime ease-in-out;
}

.has-slideout-top #content {
    //transform: translateY(50vh);
    animation: slideout-top 0s forwards ease-in-out;
    animation-delay: @coreTransitionTime;
}

 @keyframes slideout-top{
        100% {
             filter: blur(2px);
        }
    }