@{customElementNamespace}dropdown.is-query {
    display: block;
    position: relative;
    text-align: center;

    .fa-search {
        width: @minimumButtonSize;
        text-align: right;
    }

    .notification-icon {
        position: relative;
        cursor: pointer;
    }

    .fa-bell {
        display: none;
    }
}

@{customElementNamespace}dropdown.is-query.is-polling {
  .fa-bell-slash {
      display: none;
  }
  .fa-bell {
      display: inline;
  }
}