@{customElementNamespace}metacard-menu {
  .customElement;

  > .workspace-title {
    cursor: pointer;
  }

  > .menu-title {
    display: inline-block;
    vertical-align: top;
    line-height: 2 * @minimumLineSize;
    font-size: @largeFontSize;
    white-space: nowrap;
    .is-bold();
  }

  > .title-seperator {
    padding: 0px 10px;
    font-family: 'FontAwesome';
  }

  @{customElementNamespace}metacard-title {
    .metacard-title,
    .metacard-save,
    .metacard-unsave,
    .metacard-interactions {
      line-height: 2 * @minimumLineSize;
      height: 2 * @minimumLineSize;
    }
  }
}
