@{customElementNamespace}alert-item {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  min-height: 4 * @minimumButtonSize;
  animation: new-alert-item @coreTransitionTime 1 ease-in-out;

  .alert-details,
  .alert-delete {
    display: inline-block;
  }

  .alert-details {
    width: ~'calc(100% - @{minimumButtonSize})';
  }

  .alert-delete {
    width: @minimumButtonSize;
    height: 100%;
    position: absolute;
    right: 0rem;
    top: 0rem;
  }

  .details-detail {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0rem @minimumSpacing;
  }

  .details-time {
    background: none;
    padding: 0rem @minimumSpacing;
    text-align: right;
    > span:first-of-type {
      position: absolute;
      left: @minimumSpacing;
      height: inherit;
      line-height: inherit;
    }
  }
}

@{customElementNamespace}alert-item.is-destroyed {
  height: 0px !important;
  margin: 0px !important;
  transition: height @coreTransitionTime linear,
    margin @coreTransitionTime linear;
  overflow: hidden;
}

@{customElementNamespace}alert-item-collection {
  @{customElementNamespace}alert-item + @{customElementNamespace}alert-item {
    margin-top: @minimumSpacing;
  }

  .alert-empty {
    box-shadow: none;
    width: 282px;
    text-align: center;
  }
}

@keyframes new-alert-item {
  0% {
    height: 0px;
  }
  100% {
    height: 4 * @minimumButtonSize;
  }
}
