{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="content-panelOne">

</div>
<div class="content-panelTwo">
    <div class="content-panelTwo-titleBar">
        <span class="content-panelTwo-title">Test</span>
        <button class="content-panelTwo-close is-button">
            <span class="fa fa-times">
            </span>
        </button>
    </div>
    <div class="content-panelTwo-content">

    </div>
</div>
<div class="content-panelThree">

</div>