@{customElementNamespace}content {
  @titleBarFontSize: 3rem;
  @contentMenuHeight: 60px;
  @panelTwoSpacing: 20px;
  @panelOneWidth: 420px;
  @panelTwoWidth: 1000px;

  .customElement;

  position: relative;
  z-index: @zIndexContent;
  background: @background-color;

  .content-menu {
    width: 100%;
    height: 60px;
  }

  .content-content{
    height: ~'calc(100% - @{contentMenuHeight})';
    .inlineBlockDisplay(div);
    .whiteSpaceFix;
    position: relative
  }

  .content-panelOne {
    background: @niceBlack;
    width: @panelOneWidth;
    position: relative;
    transition: width @coreTransitionTime ease-in-out;
  }

  .content-panel.content-panelTwo {
    width: @panelTwoWidth;
    position: relative;
    background: @niceBlack;
    transition: width @coreTransitionTime ease-in-out;
  }

  .content-panelThree {
    width: ~'calc(100% - @{panelOneWidth} - @{panelTwoWidth})';
    transition: width @coreTransitionTime ease-in-out;
  }

  .content-panel {
    height: 100%;
    vertical-align: top;
    overflow: hidden;
  }

  &.hide-panelTwo {

    .content-panelTwo {
      width: 0px;
    }
    .content-panelThree {
      width: ~'calc(100% - @{panelOneWidth})';
    }
  }

  .content-panelTwo {
    > .content-panelTwo-titleBar {
      position: relative;
      text-align: center;
      height: @minimumButtonSize;
      line-height: @minimumButtonSize;

      > .content-panelTwo-title {
        display: block;
        width: ~'calc(100% - 6*@{minimumButtonSize})';
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 10px;
        position: relative;
        left: 3*@minimumButtonSize;
        font-size: 2rem;
      }

      > button {
        position: absolute;
        right: 0px;
        top: 0px;
        width: @minimumButtonSize;
        height: 100%;
        font-size: @titleBarFontSize;
      }
    }

    > .content-panelTwo-content {
      height: ~"calc(100% - @{minimumButtonSize})";
      overflow: hidden;
    }
  }
}

@media (max-width: @mediumScreenSize) {
  @{customElementNamespace}content {

  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}content {

  }
}
