@{customElementNamespace}content {
  @titleBarFontSize: 3rem;
  @contentMenuHeight: 60px;
  @panelTwoSpacing: 20px;
  @panelOneWidth: 420px;
  @panelTwoWidth: 520px;

  .customElement;

  position: relative;
  z-index: @zIndexContent;
  background: @background-color;

  .content-menu {
    width: 100%;
    height: 60px;
  }

  .content-content{
    height: ~'calc(100% - @{contentMenuHeight})';
    .inlineBlockDisplay(div);
    .whiteSpaceFix;
    position: relative
  }

  .content-panelOne {
    background: @niceBlack;
    width: @panelOneWidth;
    position: relative;
    z-index: 103;
  }

  .content-panel.content-panelTwo {
    width: @panelTwoWidth;
    height: ~'calc(100% - 2*@{panelTwoSpacing})';
    position: absolute;
    left: ~'calc(@{panelOneWidth} + @{panelTwoSpacing})';
    top: @panelTwoSpacing;
    z-index: 102;
    background: @niceBlack;
    box-shadow: 0px 3px 3px 10px @niceBlack;
    transition: transform @coreTransitionTime ease-in-out;
    transform: translateX(0%) scaleX(1);
  }

  .content-panelThree {
    width: ~'calc(100% - 420px)';
  }

  .content-panel {
    height: 100%;
    vertical-align: top;
    overflow: hidden;
  }

  &.hide-panelTwo {
    .content-panelTwo {
      transform: translateX(-@panelTwoWidth - 2*@panelTwoSpacing) scaleX(1);
    }
    .content-panelThree {
      width: ~'calc(100% - 420px)';
    }
  }

  .content-panelTwo {
    > .content-panelTwo-titleBar {
      position: relative;
      font-size: @titleBarFontSize;
      text-align: center;
      height: @minimumButtonSize;
      line-height: @minimumButtonSize;
      .resetIconLineHeight;

      > span {
        display: block;
        width: ~'calc(100% - 2*@{minimumButtonSize})';
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 10px;
        position: relative;
        left: @minimumButtonSize;
      }

      > button {
        position: absolute;
        right: 0px;
        top: 0px;
        width: @minimumButtonSize;
        height: 100%;
      }
    }

    > .content-panelTwo-content {
      height: ~"calc(100% - @{minimumButtonSize})";
      overflow: hidden;
    }
  }
}

@media (max-width: @mediumScreenSize) {
  @{customElementNamespace}content {

  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}content {

  }
}
