{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="page-layout full-height well">
    <div class="header">
        <div class="vertical-align-middle nav-to-applications">
            <i class="fa fa-chevron-left fa-2x"></i>
        </div>
        <h2 class="header-text">{{displayName}}</h2>
    </div>

    <div class="panel">
        <div class="panel-body">
            <div class="content">
                <div class="tab-container"></div>
                <div class="tab-content-container"></div>
            </div>
        </div>
    </div>
</div>