@{customElementNamespace}workspace-menu {
  .customElement;
  overflow: hidden;
  position: relative;
  height: 2*@minimumLineSize;
  white-space: nowrap;

  .inlineBlockDisplay(div, @largeFontSize) !important;

  > .content-title {
    height: 100%;
    text-overflow: ellipsis;
    width: auto;
    transition: padding 1*@coreTransitionTime ease-out;
    padding-right: 2*@minimumButtonSize;
    max-width: 100%;
  }

  > .content-interactions,
  > .content-save {
    transform: translateX(-200%);
    transition: width 2*@coreTransitionTime ease-out, 
        margin 2*@coreTransitionTime ease-out,
        transform 1*@coreTransitionTime ease-out;
    width: @minimumButtonSize;
    height: 100%;
    text-align: center;
  }

  > .content-save {
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    width: @minimumButtonSize;
  }
}

@{customElementNamespace}workspace-menu.is-saved {

  .content-save {
      opacity: 1;
      transition-delay: 10*@coreTransitionTime;
      overflow: hidden;
      width: 0%;
      margin-left: 0px;
  }

  .content-interactions {
    transition-delay: 10*@coreTransitionTime;
    transform: translateX(-100%);
  }

  .content-title {
    transition-delay: 10*@coreTransitionTime;
    padding-right: @minimumButtonSize;
  }
}