@{customElementNamespace}layer-item {
  // display: block;
  // white-space: nowrap;
  // width: 100%;
  // overflow: hidden;
  // position: relative;

  // .layer-properties,
  // .layer-rearrange {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  // .layer-properties {
  //   padding: 0 @mediumSpacing;
  //   margin-left: @minimumButtonSize;
  //   width: ~'calc(100% - @{minimumButtonSize})';
  // }

  // .layer-rearrange-down,
  // .layer-rearrange-up {
  // z-index: 1;
  // position: absolute;
  // left: 0px;
  // opacity: 0;
  // width: @minimumButtonSize;
  // height: 0.5 * @minimumButtonSize;
  // line-height: 0.5 * @minimumButtonSize;
  //   > span {
  //     position: absolute;
  //     left: 50%;
  //     top: 50%;
  //     transform: translateX(-50%) translateY(-50%);
  //   }
  // }

  // .layer-rearrange-down {
  //   top: ~'calc(100% - .5*@{minimumButtonSize})';
  // }

  // .layer-rearrange-up {
  //   top: 0px;
  // }

  // .layer-interactions {
  //   text-align: right;
  // }

  // .layer-interactions > button {
  //   vertical-align: top;
  // }

  // .layer-remove,
  // .layer-warning {
  //   width: @minimumButtonSize;
  //   height: @minimumButtonSize;
  //   display: none;
  // }

  // .layer-rearrange-up:hover,
  // .layer-rearrange-up:focus,
  // .layer-rearrange-down:hover,
  // .layer-rearrange-down:focus {
  //   opacity: 1;
  // }

  // .layer-rearrange {
  //   .grab-cursor();
  //   position: absolute;
  //   left: 0px;
  //   top: 0px;
  //   height: 100%;
  //   width: @minimumButtonSize;
  // }

  // .layer-show {
  //   height: @minimumButtonSize;
  //   width: @minimumButtonSize;
  //   position: relative;
  //   > span {
  //     position: absolute;
  //     left: 50%;
  //     top: 50%;
  //     transform: translateX(-50%) translateY(-50%);
  //   }
  // }

  // .layer-alpha,
  // .layer-show {
  //   display: inline-block !important;
  //   vertical-align: middle;
  // }

  // .layer-name {
  //   line-height: @minimumButtonSize;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }

  // .fa-eye {
  //   display: none;
  // }
  // .fa-eye-slash {
  //   display: inline;
  // }

  .layer-name,
  input {
    opacity: @minimumOpacity;
    transition: opacity @coreTransitionTime ease-in-out;
  }

  input {
    cursor: not-allowed !important;
  }
}

@{customElementNamespace}layer-item.is-top {
  .layer-rearrange-up {
    display: none;
  }
}

@{customElementNamespace}layer-item.is-bottom {
  .layer-rearrange-down {
    display: none;
  }
}

@{customElementNamespace}layer-item.is-show {
  .fa-eye {
    display: inline;
  }
  .fa-eye-slash {
    display: none;
  }

  .layer-name,
  input {
    opacity: 1;
  }
}

@{customElementNamespace}layer-item.is-removable {
  .layer-remove {
    display: inline-block;
  }
}

@{customElementNamespace}layer-item.has-warning {
  .layer-warning {
    display: inline-block;
    color: @warning-color;
    cursor: default;
  }
}
