@activeColor: #18bc9c;
@highlightColor: lighten(@activeColor, 35);

.cert-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.form-horizontal .form-horizontal {
  margin-left: 50px;
  font-size: 80%;
}

.urlField {
  margin-right: 10px;
}

.form-horizontal-text {
  padding-top: 11px;
  word-break: break-all;
}

.cert-title {
  width: 100%;
  text-align: center;
}

.control-label {
  word-break: normal;
  overflow-wrap: normal;
}

.tab-content {
  margin-top: 20px;
}

.delete {
  text-decoration: none !important;
}

table.align-middle {
  td {
    vertical-align: middle !important;
  }
}

.drop-zone {
  border-radius: 4px;
  text-align: center;
  border: dashed 2px darken(#ecf0f1, 20%);
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ecf0f1;
  .title {
    font-size: 32px;
    color: darken(#ecf0f1, 45%);
  }
  .padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.store-table {
  td {
    border-top: solid 1px #e2e2e2 !important;
  }
  th {
    border-bottom: solid 2px #e2e2e2 !important;
  }
}

.modal-filename-column {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-filesize-column {
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-edit-region {
  padding: 10px;
  input {
    width: 400px;
  }
  label {
    display: block;
  }
  input {
    display: block;
  }
}

input {
  &.form-control {
    width: 100%;
  }
}

.IframeModalDOM {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn.status {
  padding: 4px;
  font-size: 8px;
  float: right;
}

.newLink {
  text-decoration: none !important;
  width: 100%;
  font-weight: 700;
}

.card-style-toggle .btn {
  color: #fff;
  background-color: #95a5a6;
  border-color: #95a5a6;
  padding: 7px 6px 4px;
}

.delete-modal-body {
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.no-results {
  height: 100px;
  display: table;
  .message {
    display: table-cell;
    vertical-align: middle;
  }
}
