groupBaseDn="ou\=groups,dc\=example,dc\=com"
ldapBindUserDn="cn\=admin"
memberNameAttribute="member"
objectClass="groupOfNames"
password="secret"
propertyFileLocation="etc/ws-security/attributeMap.properties"
startTls=B"false"
url="ldaps://${org.codice.ddf.external.hostname}:1636"
userBaseDn="ou\=users,dc\=example,dc\=com"
membershipUserAttribute="uid"
loginUserAttribute="uid"
realm=""
kdcAddress=""
bindMethod="Simple"
overrideCertDn=B"false"
