assertionType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0"
claims=["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role","accessGroup","accessIndividual"]
endpointName="{http://docs.oasis-open.org/ws-sx/ws-trust/200512/}STS_Port"
keySize="256"
keyType="http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer"
service.pid="ddf.security.sts.client.configuration"
serviceName="{http://docs.oasis-open.org/ws-sx/ws-trust/200512/}SecurityTokenService"
useKey=B"true"