@{customElementNamespace}association {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0px;
    margin-top: 0px !important;
    margin: 0px;
    text-align: left !important;
    font-size: 0px; // removes space between inline block elements.

    &:nth-child(odd) {
        background: contrast(@backgroundContent, #f8f8f8, fade(white, 8%));
    }

    &:nth-child(even) {
        background: contrast(@backgroundContent, #f8f8f8, fade(white, 5%));
    }

    > div {
        text-align: left;
    }

    > .association-content > div {
        display: inline-block;
        vertical-align: top;
        width: 33.333339%;
        padding: 10px;
        position: relative;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        border: solid 1px fade(contrast(@backgroundContent), 20%);
        font-size: @minimumFontSize;
        font-weight: 300;
    }

    > .association-content > div > a {
        padding: 0; 
        margin: 0;
        line-height: 1;
        font-weight: 300;
    }

    > .association-content > div + div {
        
    }

    > .association-content,
    > .association-remove {
        vertical-align: top;
    }

    > .association-content {
        width: 100%;
        display: inline-block;
    }

    > .association-remove {
        width: @minimumButtonSize;
        display: none;
        margin: 10px;
    }

    .association-parent-link,
    .association-child-link {
        line-height: @minimumButtonSize;
    }
}

@{customElementNamespace}association.is-editing {
    > .association-content {
        width: ~'calc(100% - @{minimumButtonSize} - 20px)';
        padding-right: 20px;
    }
    > .association-remove {
        display: inline-block;
    }

    .association-parent-link,
    .association-child-link {
        display: none;
    }

}

@{customElementNamespace}association:not(.is-editing){
    > .association-content .association-parent,
    > .association-content .association-child {
        display: none;
    }
}