@{customElementNamespace}map.show-drawing-tools {
  .drawing-tools {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    button {
      height: auto;
      padding: @largeSpacing;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0%);
    }
  }
}

@{customElementNamespace}map {
  background: inherit;

  .mapInfo {
    background: inherit;
  }

  #mapTools {
    background: inherit;
  }

  #mapContainer {
    background: inherit;
  }

  .cesium-viewer {
    background: inherit;
  }

  .cesium-viewer-toolbar {
    top: @minimumSpacing;
    right: @minimumSpacing;
    padding: @minimumSpacing;
    max-width: ~'calc(100% - 2*@{minimumSpacing})';
    .is-medium-font;
    background: inherit;
    line-height: @minimumButtonSize;
    .cesium-viewer-geocoderContainer,
    .geocoder-container {
      margin: 0px;
      vertical-align: top;
      height: @minimumButtonSize;

      form {
        height: 100%;
      }
      input {
        height: 100%;
        line-height: inherit;
        vertical-align: top;
      }
      span {
        color: white;
        text-align: center;
        top: 0px;
        right: 0px;
        height: 100%;
        line-height: inherit;
        vertical-align: top;
      }
    }

    .is-button {
      height: @minimumButtonSize;
      line-height: @minimumButtonSize;
      display: inline-block;
      margin-left: @mediumSpacing;
    }
  }

  .cesium-button {
    vertical-align: top;
    background: inherit;
    color: inherit;
  }

  .map-context-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .toolbar-panzoom {
    min-width: 450px;
    margin-left: 0 !important;
  }

  .is-clustering {
    display: none;
    padding-right: 5px;
  }

  .is-clustering.fa-toggle-on {
    color: lighten(@warning-color, 20%);
  }
}

@{customElementNamespace}map.is-clustering {
  .is-clustering {
    display: inline;
  }
}
