@{customElementNamespace}dropdown.is-resultFilter {
  cursor: pointer;
  display: block;

  .dropdown-text {
    color: lighten(@warning-color, 20%);
    display: none;
  }
}

@{customElementNamespace}dropdown.is-resultFilter.has-filter {
  .dropdown-text {
    display: inline-block;
  }
}
