@{customElementNamespace}notification-group {
    display: block;
    overflow: hidden;

    > .group-header {
        position: relative;
        line-height: @minimumButtonSize;
        .header-when {
            font-size: @largeFontSize;
        }

        .header-clear {
            position: absolute;
            right: 0px;
            top: 0px;
            height: @minimumButtonSize;
            width: @minimumButtonSize;
        }

        .header-confirm {
            position: absolute;
            left: 100%;
            top: 0px;
            height: @minimumButtonSize;
            width: 100%;
            transform: translateX(0%)
        }
    }

    > .group-items {
        margin-top: @minimumSpacing;
    }
}

@{customElementNamespace}notification-group.is-empty {
    height: 0px !important;
    margin: 0px !important;
    transition: height @coreTransitionTime linear, margin @coreTransitionTime linear;
}

@{customElementNamespace}notification-group.wait-for-confirmation {
    > .group-header {
        .header-confirm {
            transform: translateX(-100%)
        }
    }
}