@{customElementNamespace}filter {
  .customElement;
  white-space: nowrap;
  margin: 10px;

  > .filter-remove,
  > .filter-attribute,
  > .filter-comparator,
  > .filter-input,
  > .filter-param {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  > .filter-comparator,
  > .filter-attribute {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }

  > .filter-remove {
    width: @minimumButtonSize;
    height: @minimumButtonSize;
    display: none;
  }

  > .filter-param {
    position: absolute; // keep validation message from throwing off alignment
    width: 40px;

    > * {
      line-height: @minimumButtonSize;
      display: inline-block;
    }

    .for-error {
      min-width: 180px;
    }    
  }

  &.is-editing {
    > .filter-input {
      min-width: 200px;
    }

    > .filter-param {
      .within-label {
        margin-right: @minimumSpacing;
      }
    }    
  }
}

@{customElementNamespace}filter-collection.can-delete {

  > @{customElementNamespace}filter.is-editing {
    > .filter-remove {
      display: inline-block;
    }
  }
}

@{customElementNamespace}filter-collection {
  > @{customElementNamespace}filter.is-editing {
    > .filter-remove {
      display: none;
    }
  }

  > @{customElementNamespace}filter {
    > .filter-remove {
      display: none;
    }
  }
}