{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="home-templates-expanded">
    <div class="expanded-content">
        <div class="expanded-back">
            <span class="fa fa-arrow-left">

            </span>
        </div>
        <div class="expanded-title">
            Start a new workspace
        </div>
    </div>
</div>
<div class="home-templates-center">
    <div class="home-templates-header">
            <span class="home-templates-header-item home-templates-header-hint">
                Start a new workspace
            </span>
        <div class="home-templates-header-item home-templates-header-button">
            More
                <span class="fa fa-sort">

                </span>
        </div>
    </div>
    <div class="home-templates-choices">
        <div class="home-templates-choices-choice" data-template="blank">
            <div class="home-templates-choices-choice-preview">+</div>
            <div class="home-templates-choices-choice-description">Blank</div>
        </div>
        <div class="home-templates-choices-choice" data-template="local">
            <div class="fa fa-home home-templates-choices-choice-preview home-templates-choices-choice-preview-icon"></div>
            <div class="home-templates-choices-choice-description">Local</div>
        </div>
        <div class="home-templates-choices-choice" data-template="all">
            <div class="fa fa-cloud home-templates-choices-choice-preview home-templates-choices-choice-preview-icon"></div>
            <div class="home-templates-choices-choice-description">Federated</div>
        </div>
        <div class="home-templates-choices-choice" data-template="geo">
            <div class="fa fa-globe home-templates-choices-choice-preview home-templates-choices-choice-preview-icon"></div>
            <div class="home-templates-choices-choice-description">Location</div>
        </div>
        <div class="home-templates-choices-choice" data-template="latest">
            <div class="fa fa-clock-o home-templates-choices-choice-preview home-templates-choices-choice-preview-icon"></div>
            <div class="home-templates-choices-choice-description">Temporal</div>
        </div>
    </div>
</div>