{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="if-editing">
    <button class="filter-remove is-negative">
        <span class="fa fa-minus"></span>
    </button>
    <div class="filter-operator">

    </div>
    <div class="filter-contents">
        <div class="contents-filters">

        </div>
        <div class="contents-buttons">
            <button class="add-filter is-primary">
            <span class="fa fa-plus">

            </span>
            <span>
                Add Clause
            </span>
            </button>
            <button class="add-filterBuilder is-primary">
            <span class="fa fa-plus">
            </span>
            <span>
                Add Sub Clause
            </span>
            </button>
            <button class="getValue is-primary">
            <span class="fa fa-equals">
            </span>
            <span>
                Get Current Value
            </span>
            </button>
        </div>
    </div>
</div>
<div class="if-viewing">

</div>