@{customElementNamespace}dropdown.is-queryInteractions {
  line-height: inherit;
  cursor: not-allowed;
  display: block;
  font-size: inherit;
  span {
    line-height: inherit;
    font-size: inherit;
  }
}

@{customElementNamespace}dropdown.is-queryInteractions.is-editing {
  cursor: pointer;
}