@{customElementNamespace}workspaces-menu {
  .customElement;

  > .menu-title {
    display: inline-block;
    vertical-align: top;
    line-height: 2 * @minimumLineSize;
    font-size: @mediumFontSize;
    white-space: nowrap;
    padding: 0px 10px;
  }

  > .title-seperator {
    padding: 0px 10px;
    font-family: 'FontAwesome';
  }
}
