title="Core"
attributes=[ \
  "checksum", \
  "checksum-algorithm", \
  "created", \
  "description", \
  "expiration", \
  "id", \
  "language", \
  "location", \
  "modified", \
  "resource.derived-download-url", \
  "resource.derived-uri", \
  "resource-download-url", \
  "resource-size", \
  "resource-uri", \
  "source-id", \
  "thumbnail", \
  "title", \
  "datatype", \
  "metacard.created", \
  "metacard.modified", \
  "metacard.owner", \
  "metacard-tags", \
  ]