title="Contact"
attributes=[ \
  "contact.contributor-address", \
  "contact.contributor-email", \
  "contact.contributor-name", \
  "contact.contributor-phone", \
  "contact.creator-address", \
  "contact.creator-email", \
  "contact.creator-name", \
  "contact.creator-phone", \
  "contact.point-of-contact-address", \
  "contact.point-of-contact-email", \
  "contact.point-of-contact-name", \
  "contact.point-of-contact-phone", \
  "contact.publisher-address", \
  "contact.publisher-email", \
  "contact.publisher-name", \
  "contact.publisher-phone", \
  ]