title="Media"
attributes=[ \
  "media.format", \
  "media.format-version", \
  "media.bit-rate", \
  "media.bits-per-sample", \
  "media.compression", \
  "media.encoding", \
  "media.frame-center", \
  "media.frame-rate", \
  "media.height-pixels", \
  "media.number-of-bands", \
  "media.scanning-mode", \
  "media.type", \
  "media.width-pixels", \
  "media.duration", \
  ]