#title {
  text-align:center;
  display:block;
  font-size: 2em;
  margin:10px;
}

.tab-item-collection {
    border-bottom: 1px solid rgba(0,0,0,.3);
     display:block;
}

.tab-item {
    display: inline-block;
    position: relative;
    min-width: 2em;
    height: 2em;
    padding:0.625rem;
    font-size:1.4em;
}

.tab-item:not(.is-active):hover,
.tab-item:not(.is-active):focus {
    background: rgba(0,0,0,.1);
}

.tab-item.is-active {
    border: 1px solid rgba(0,0,0,.3);
    border-bottom: 0px;
    color: black;
    cursor: default;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.tab-item.is-active:after {
    display:block;
    content: '';
    position: absolute;
    width: ~'calc(100% + 2px)';
    height: 2px;
    bottom: -2px;
    left: -1px;
    background: white;
    border-left: 1px solid rgba(0,0,0,.3);
    border-right: 1px solid rgba(0,0,0,.3);
}

.tab-content {
 display:block;
}



