@{customElementNamespace}save {
    .customElement;
    display: inline-block;
    cursor: pointer;

    .fa-floppy-o {
        transition: opacity 2*@coreTransitionTime ease-out 0*@coreTransitionTime, 
        transform 2*@coreTransitionTime ease-out 0*@coreTransitionTime;
    }

    span.fa-check {
        margin: auto;
        position: absolute;
        line-height: inherit;
        left: 0px;
        text-align: center;
        width: 100%;
        transform: scale(2);
        opacity: 0;
        color: @positive-color;
    }
}

@{customElementNamespace}save.is-saved {
    opacity: 1;
    overflow: hidden;

    .fa-floppy-o {
        opacity: 0;
        transform: scale(2);
        transition-delay: 0s;
    }

    .fa-check {
        visibility: visible;
        transition: transform 2*@coreTransitionTime ease-out @coreTransitionTime, 
        opacity 2*@coreTransitionTime ease-out @coreTransitionTime,
        color 2*@coreTransitionTime ease-out 8*@coreTransitionTime;
        color: transparent;
        transform: scale(1);
        opacity: 1;
    }

}