@{customElementNamespace}workspace-lists {
  padding: @minimumSpacing 0px;
  .customElement;
  overflow: hidden;

  .list-select {
    padding: @minimumSpacing;
  }

  .lists-empty,
  .list-empty {
    display: none;
  }

  .list-results {
    height: ~'calc(100% - 3*@{minimumLineSize} - @{minimumButtonSize} - 20px)';
    display: none;
  }
}

@{customElementNamespace}workspace-lists.is-empty-lists {
  .lists-empty {
    display: block;
  }

  .list-select,
  .list-results {
    display: none;
  }
}

@{customElementNamespace}workspace-lists.is-empty-list {
  .list-empty {
    display: block;
    padding: @minimumSpacing 0px;
  }

  .list-results {
    display: none;
  }
}

@{customElementNamespace}workspace-lists.has-selection:not(.is-empty-list) {
  .list-results {
    display: block;
  }
}
