@{customElementNamespace}query-title {
  .customElement;
  position: relative;
  line-height: @minimumButtonSize;
  white-space: nowrap;
  overflow: hidden;

  > input,
  > div {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: ~'calc(100% - 2px)';
    text-align: center;
    padding: 0px 2.5 * @minimumButtonSize;
  }

  input.query-title {
    min-width: 1px;
    border: none;
    font-size: @minimumFontSize;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: @minimumButtonSize;
    background: none;
    cursor: pointer;
  }
  input:focus {
    text-decoration: none;
    cursor: text;
  }

  > div.is-actions {
    font-size: @minimumFontSize;
    position: absolute;
    left: 0px;
    top: -@minimumButtonSize;
    span.button-title {
      font-size: @minimumFontSize;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span.fa-pencil {
      position: absolute;
      top: @minimumButtonSize;
      margin-left: @minimumSpacing;
      line-height: inherit;
      font-size: @largeFontSize;
      width: @minimumButtonSize;
    }

    > .search-interactions {
      display: inline;
      position: absolute;
      top: @minimumButtonSize;
      margin-left: @minimumButtonSize + @minimumSpacing;
      line-height: inherit;
      font-size: @largeFontSize;
      width: @minimumButtonSize;
    }
  }
}
