// need to figure out why there are issues using animations / transitions while the lightbox is open (might be a browser bug)
html.open-lightbox {
  @{customElementNamespace}router {
    * {
      transition: none;
      animation: none;
    }
  }
}

#router {
  .customElement;
  position: relative;
  z-index: 0;
}

body.has-header #router,
body.has-footer #router {
  height: ~'calc(100% - 1.5rem)';
}

body.has-header.has-footer #router {
  height: ~'calc(100% - 3rem)';
}
