@{customElementNamespace}router {
    .customElement;
    overflow: hidden;

    > .router-navigation {
        height: 2*@minimumLineSize;
    }

    > .router-content {
        height: ~'calc(100% - 2*@{minimumLineSize})';
    }
}

// need to figure out why there are issues using animations / transitions while the lightbox is open (might be a browser bug)
html.open-lightbox {
    @{customElementNamespace}router {
        * {
            transition: none;
            animation: none;
        }
    }
}

body.has-header @{customElementNamespace}router,
body.has-footer @{customElementNamespace}router {
  height: ~'calc(100% - 1.5rem)';
}

body.has-header.has-footer @{customElementNamespace}router {
  height: ~'calc(100% - 3rem)';
}