matchAllMappings=["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=updated-roles"]
matchOneMappings=["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=invalid-state","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=roles"]
service.pid="ddf.security.pdp.realm.AuthzRealm"
