matchAllMappings=[]
matchOneMappings=["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=invalid-state","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=roles","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress\=owner"]
service.pid="ddf.security.pdp.realm.AuthzRealm"
