@{customElementNamespace}query-feed {
  display: block;
  opacity: @minimumOpacity;

  .results-failed {
    display: none;
  }

  .results-pending {
    display: none;
  }

  .fa-warning {
    color: @negative-color !important;
    margin-right: @minimumSpacing;
  }
  white-space: nowrap;
  position: relative;

  .details-text,
  .details-view {
    display: inline-block;
    vertical-align: middle;
  }
  .details-view {
    height: 2 * @minimumLineSize;
    line-height: 2 * @minimumLineSize;
    width: @minimumButtonSize;
    font-size: @largeFontSize;
    text-align: center;
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

@{customElementNamespace}query-feed.has-been-run {
  .details-text {
    max-width: ~'calc(100% - @{minimumButtonSize})';
    > div {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .details-view {
    display: inline-block;
  }
}

@{customElementNamespace}query-feed.is-failed {
  .results-failed {
    display: inline-block;
  }
}

@{customElementNamespace}query-feed.is-pending {
  .results-pending {
    display: inline-block;
  }
}
