@{customElementNamespace}associations-menu {
    display: block;
    > div {
        display: inline-block;
        vertical-align: middle;
    }

    text-align: center;
    @{customElementNamespace}dropdown {
        height: @minimumButtonSize;
        line-height: @minimumButtonSize;
        padding: 0px 10px;
    }
}