@{customElementNamespace}sort {
  display: block;
  width: 100%;
  overflow: hidden;

  .sort-add {
    margin: @mediumSpacing;
    padding: 0 @minimumButtonSize;
    font-size: @minimumFontSize;
  }
}
