<div class="details-tab-content" ">

    <br/>
    <dl class="">
        <dt>Name</dt>
        <dd>{{displayName}}</dd>
        <br/>
        <dt>Description</dt>
        <dd>
            {{#if paragraphs}}
                {{#join paragraphs "<br/><br/>"}}
                    <span>{{.}}</span>
                {{/join}}
            {{else}}
                <span>{{description}}</span>
            {{/if}}
            </dd>
    </dl>

</div>