@{customElementNamespace}query-advanced {
  .customElement;

  overflow: hidden;

  form {
    height: 100%;
    overflow: hidden;
  }

  .editor-properties {
    display: inline-block; // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
    width: 100%;
    height: 100%;
    overflow: auto;
    max-height: ~'calc(100% - @{minimumButtonSize} - 3 * @{minimumSpacing})';
    padding: @minimumSpacing;
  }

  .editor-footer {
    display: flex;
    justify-content: flex-end;
    margin: @minimumSpacing;
    height: @minimumButtonSize;
    white-space: nowrap;

    > button {
      height: 100%;
      display: inline-block;
      padding-left: @minimumSpacing;
      padding-right: @minimumSpacing;
    }
    > .editor-edit {
      width: 100%;
    }
    > .editor-cancel {
      display: none;
    }
    > .editor-save {
      display: none;
    }
  }

  &.is-editing {
    .editor-footer {
      > .editor-edit {
        display: none;
      }
      > .editor-cancel {
        display: inline-block;
      }
      > .editor-save {
        display: inline-block;
      }
    }
  }

  &.is-empty {
    .if-editing {
      display: none;
    }
  }

  @{customElementNamespace}query-settings {
    .editor-properties {
      padding: 0px;
      max-height: none;
    }
    .editor-footer {
      display: none;
    }
  }
}

.is-small-screen,
.is-mobile-screen {
  @{customElementNamespace}query-advanced {
  }
}
