@{customElementNamespace}map-info {
    background: inherit;
    display: block;
    width: auto;
    height: auto;
    font-size: @minimumFontSize;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    padding: @minimumSpacing;
    max-width: 50%;
   
    .info-coordinates {
        display: inline-block;
    }
    .info-feature {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: none;
    }
}

@{customElementNamespace}map-info.has-feature {
    .info-feature {
        display: block;
    }
    .info-coordinates {
        padding-top: 0px;
    }
}