@{customElementNamespace}loading {
  .customElement;
  position: fixed;
  left: 0px;
  top: 0px;
  line-height: 100vh;
  font-size: @largeFontSize;
  text-align: center;
  background: @backgroundAccentContent;
  opacity: 0;
  z-index: 1000;
}

@{customElementNamespace}loading.hasDOMHook {
  .customElement;
  position: relative;
  display: inline;
  text-align: center;
  line-height: 10vh;
}