.logviewer-ui-root {
  .text-filter {
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px #ccc solid;
    outline: 0;
    line-height: 18px;
  }
}
