.is-bold {
  font-weight: bolder;
}

.is-not-bold {
  font-weight: lighter;
}

.is-small-font {
  font-size: @minimumFontSize;
}

.is-medium-font {
  font-size: @mediumFontSize;
}

.is-large-font {
  font-size: @largeFontSize;
}

.changeFontWeight (@contrastColor) when (@contrastColor = white) {
  font-weight: 300;
}

.changeFontWeight (@contrastColor) when (@contrastColor = black) {
  font-weight: 400;
}