@{customElementNamespace}result-selector {
  position: relative;
  .customElement;
  padding: 0px 10px;

  .resultSelector-status, .paging .status {
    text-align: center;
    opacity: .6;
  }

  .resultSelector-list {
    overflow: auto;
    height: ~'calc(100% - 110px)';
  }

  .resultSelector-result-example {
    font-weight: bold;
    color: grey;
    .boxShadowBottom;
  }

  .resultSelector-menu {
    position: relative;
    text-align: center;
    .inlineBlockDisplay(div);
  }

  .resultSelector-menu > div:last-of-type > span {
    font-size: 2rem;
  }

  .resultSelector-menu-action {
    padding: 10px;
  }

  .resultSelector-menu-action-descriptor {
    padding: 3px;
  }

}

@{customElementNamespace}result-selector.has-filter {
  .resultSelector-list {
    overflow: auto;
    height: ~'calc(100% - 130px)';
  }
}