@{customElementNamespace}result-selector {
  position: relative;
  .customElement;
  padding: 10px;

  .resultSelector-status, .paging .status {
    text-align: center;
    color: @muted-color;
  }

  .resultSelector-list {
    overflow: auto;
    height: ~'calc(100% - 100px)';
  }

  .resultSelector-result-example {
    font-weight: bold;
    color: grey;
    .boxShadowBottom;
  }

  .resultSelector-menu {
    position: relative;
    text-align: right;
    .inlineBlockDisplay(div);
  }

  .resultSelector-menu > div:last-of-type > span {
    font-size: 2rem;
  }

  .resultSelector-menu-action {
    padding: 10px;
  }

  .resultSelector-menu-action-descriptor {
    padding: 3px;
  }

}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}result-selector {

  }
}
