@{customElementNamespace}source-app {
  .customElement;

  display: block;
  height: 100%;

  .is-ack {
    width: 100%;
  }

  .is-iframe {
    width: 100%;
    height: 100%;
  }

  .is-iframe-div {
    overflow: hidden;
    height: ~'calc(100% - @{minimumButtonSize})';
  }
}
