@{customElementNamespace}user-blacklist {
    .customElement;
    > button {
        width: 100%;
    }

    .blacklist-empty {
        transform: scale(0);
        white-space: normal;
        .is-large-font();
        padding: @minimumSpacing;
        text-align: center;
    }
}

@{customElementNamespace}user-blacklist.is-empty {

    .blacklist-empty {
        transition: transform @coreTransitionTime linear;
        transform: scale(1);
    }

    .blacklist-clear,
    .blacklist-results {
        display: none;
    }
}