@{customElementNamespace}session-timeout {
  .customElement;
  overflow: hidden;

  .message {
    max-height: ~'calc(100% - @{minimumButtonSize} - 0.5rem)';
    height: auto;
    text-align: center;
    padding: @mediumSpacing;
  }

  button {
    width: 100%;
    height: @minimumButtonSize
  }
}