/* Moved into a seperate file to keep source maps working in webpack dev server */

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('fonts/open-sans/open-sans-v15-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/open-sans/open-sans-v15-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('fonts/open-sans/open-sans-v15-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('fonts/open-sans/open-sans-v15-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/open-sans/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('fonts/open-sans/open-sans-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/open-sans/open-sans-v15-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('fonts/open-sans/open-sans-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('fonts/open-sans/open-sans-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/open-sans/open-sans-v15-latin-regular.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('fonts/open-sans/open-sans-v15-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/open-sans/open-sans-v15-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('fonts/open-sans/open-sans-v15-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('fonts/open-sans/open-sans-v15-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/open-sans/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inconsolata/inconsolata-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
    url('fonts/inconsolata/inconsolata-v16-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/inconsolata/inconsolata-v16-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('fonts/inconsolata/inconsolata-v16-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('fonts/inconsolata/inconsolata-v16-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/inconsolata/inconsolata-v16-latin-regular.svg#Inconsolata')
      format('svg'); /* Legacy iOS */
}
/* inconsolata-700 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inconsolata/inconsolata-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
    url('fonts/inconsolata/inconsolata-v16-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/inconsolata/inconsolata-v16-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('fonts/inconsolata/inconsolata-v16-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('fonts/inconsolata/inconsolata-v16-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/inconsolata/inconsolata-v16-latin-700.svg#Inconsolata')
      format('svg'); /* Legacy iOS */
}
