@{customElementNamespace}input {
  width: 100%;
  display: block;
  white-space: nowrap;
  line-height: @minimumButtonSize;
  position: relative;

  > .if-editing {
    display: none;
    width: 100%;
  }
  > .if-viewing {
    display: block;
  }

  > .if-viewing label {
    display: block;
    cursor: text;
  }

  .for-error {
    color: contrast(@negative-color);
    overflow: hidden;
    display: block;
    line-height: @minimumLineSize;
    text-align: left;
    padding-left: @minimumSpacing;
    content: 'Your WKT appears to be malformed.';
    background: @negative-color;
    height: 0px;
  }
}

@{customElementNamespace}input.is-editing {
  > .if-editing {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  > .if-viewing {
    display: block;
    opacity: 0;
    transform: scale(0);
  }

  > .if-viewing::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); // needed for IE10
  }
}

@{customElementNamespace}input.is-number {
  &.is-editing {
    height: @minimumButtonSize;
  }
}

@{customElementNamespace}input.is-text,
@{customElementNamespace}input.is-number,
@{customElementNamespace}input.is-boolean,
@{customElementNamespace}input.is-geometry {
  input {
    height: @minimumButtonSize;
    width: 100%;
  }
  .if-viewing label {
    display: block;
    padding-left: ~'calc(2px + .5*@{minimumFontSize})';
    line-height: @minimumButtonSize;
    margin: 0px;
    min-height: @minimumButtonSize;
    overflow: hidden;
    white-space: initial;
    overflow-y: auto;
    max-height: 10rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  &.is-editing {
    .if-viewing label[data-value^='http'] {
      a {
        display: none;
      }

      span {
        display: inline;
      }
    }
  }

  .if-viewing label[data-value^='http'] {
    a {
      display: inline;
    }

    span {
      display: none;
    }
  }

  .if-viewing label:not([data-value^='http']) {
    a {
      display: none;
    }
    span {
      display: inline;
    }
  }
}

@{customElementNamespace}input.has-validation-issues {
  input {
    border-color: @negative-color;
  }
  .for-error {
    display: block;
    height: auto;
    white-space: normal;
  }
}
