@{customElementNamespace}value {
  .customElement;
  position: relative;

  .value-input {
    display: inline-block;
    width: 100%;
  }

  .value-delete {
    display: none;
    width: @minimumButtonSize;
  }

  .value-delete,
  .value-input {
    vertical-align: top;

  }
}

@{customElementNamespace}value.is-editing.is-multivalued {
  .value-delete {
    display: inline-block;
  }

  .value-input {
    width: ~'calc(100% - @{minimumButtonSize})';
  }
}

@{customElementNamespace}value-collection {
  @{customElementNamespace}value + @{customElementNamespace}value {
    margin-top: @minimumSpacing;
  }
}
