@{customElementNamespace}dropdown-companion {
  position: absolute;
  transform: translate3d(-50%, -50%, 0) scale(0);
  opacity: 0;
  z-index: @zIndexDropdown;
  overflow: auto;
  .changeBackground(@backgroundDropdown);
  padding-top: @minimumSpacing;
  padding-bottom: @minimumSpacing;
  border-radius: 2px;
  .dropshadow;
  max-width: 90vw;
  max-height: 90vh;

  > input {
    width: ~'calc(100% - 20px)';
    margin: 0px @minimumSpacing @minimumSpacing @minimumSpacing;
    height: @minimumButtonSize;
    display: none;
  }

  > .dropdown-companion-component {
    position: relative;
    overflow: auto;
    max-height: 100%;
    z-index: 100;
  }

  > button {
    display: none;
    width: 100%;
  }
}

@{customElementNamespace}dropdown-companion:focus {
  outline: none;
}

@{customElementNamespace}dropdown-companion.has-filtering {
  > input {
    display: block;
  }
}

@{customElementNamespace}dropdown-companion.is-multiselect {
  > button {
    display: block;
  }
}

@{customElementNamespace}dropdown-companion.is-open {
  opacity: 1;
  transition: opacity @coreTransitionTime ease-in-out;

  &.is-bottom {
    transform: translate3d(0, 0, 0) scale(1);
  }

  &.is-top {
    transform: translate3d(0, -100%, 0) scaleY(1);
  }
}

@{customElementNamespace}dropdown-companion.has-tail {
  &.is-bottom > .if-bottom {
    //display: block;
  }

  &.is-top > .if-top {
    //display: block;
  }
}

html.show-drawing-tools,
html.is-drawing {
  @{customElementNamespace}dropdown-companion.is-open,
  [data-react-dropdown] {
    transform: translate3d(-50%, -50%, 0) scale(0);
  }
}
