@{customElementNamespace}metacard-basic {
  .customElement;
  padding: 0px 30px;

  .metacardBasic-row {
    .inlineBlockDisplay(div);
    text-align: center;
    padding: 10px 0px;
  }

  .metacardBasic-row > div {
    width: 50%;
  }

}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}metacard-basic {

  }
}