@{customElementNamespace}result-row {
  td {
    padding: @minimumSpacing @mediumSpacing;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: top; // for IE10
    position: relative;
  }

  td.is-hidden-column {
    display: none;
  }

  td > div:not(.for-bold) {
    max-height: 200px;
    overflow: auto;
  }

  img {
    display: inline;
    min-height: 2 * @minimumButtonSize;
    min-width: 2 * @minimumButtonSize;
    max-width: 200px;
    max-height: 200px;
  }

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td:not(.is-thumbnail) .for-bold {
    visibility: hidden;
    height: 1px;
    position: relative;
    top: -1px;
    .is-bold();
  }
}

// kept for future user preference setting
@{customElementNamespace}result-row.is-inline {
  span + span::before {
    content: '| ';
    opacity: @minimumOpacity;
  }

  span {
    display: inline-block;
    vertical-align: top;
  }
}
