@{customElementNamespace}table-rearrange {
    .customElement;
    padding: 50px;

    .column {
     white-space: nowrap;
     padding: 10px 20px;
     position: relative;
     text-align: left;
     .is-bold();
     font-size: @largeFontSize;
     cursor: move;
    }

    .column.is-hidden-column,
    .column.is-unavailable-column {
        display: none;
    }

    .rearrange-columns {
        display: inline-block; // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
        width: 100%;
        max-height: ~'calc(100% - @{minimumButtonSize})';
        overflow: auto;
    }

    .rearrange-footer {
        white-space: nowrap;
        font-size: 0px;

        > button {
            width: 50%;
            padding: 0px 20px;
            display: inline-block;
        }
    }

}