@{customElementNamespace}table-visibility {
    .customElement;
    padding: 50px;

    > h2 {
        margin-bottom: @mediumSpacing;
    }

    > div.visibility-columns > div.column {
     white-space: nowrap;
     padding: 10px 20px;
     position: relative;
     text-align: left;
     .is-bold();
     font-size: @minimumFontSize;
     cursor: pointer;
     border: solid 1px fade(contrast(@backgroundAccentContent), 15%) !important;
     //border-top: solid 1px fade(contrast(@backgroundAccentContent), 15%) !important;
     //background: fade(contrast(@backgroundAccentContent), 5%);
     //background: fade(@primary-color, 50%);
     background: lighten(@backgroundAccentContent, 5%);
     margin-bottom: @mediumSpacing;
     //color: @positive-color;
    }

    > div.visibility-columns > div.column.is-hidden-column {
        //
        //opacity: @minimumOpacity;
        background: darken(@backgroundAccentContent, 5%);
        color: fade(contrast(@backgroundAccentContent),30%);
        border: solid 1px fade(contrast(@backgroundAccentContent), 10%) !important;
    }

    > div.visibility-columns > div.column.is-hidden-column .fa {
        display: none;
    }

    .column.is-unavailable-column {
        display: none;
    }

    .visibility-columns {
        display: inline-block; // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
        width: 100%;
        max-height: ~'calc(100% - @{minimumButtonSize})';
        overflow: auto;
    }

    .visibility-footer {
        white-space: nowrap;
        font-size: 0px;
        text-align: right;

         > button {
            //width: 50%;
            padding: @minimumSpacing @largeSpacing;
            display: inline-block;
            margin-left: @largeSpacing;
            height: @minimumButtonSize;
            line-height: @minimumFontSize;
            border-radius: @border-radius;
        }

        > button > span {
            font-size: @minimumFontSize;
            line-height: @minimumFontSize;
        }
    }

}