@{customElementNamespace}table-viz {
  .customElement;
  background: inherit;

  position: relative;
  padding: 20px 20px @minimumButtonSize 20px;

  > .tables-container {
    display: block;
    height: ~'calc(100% - @{minimumButtonSize})';
    position: relative;
    overflow: hidden;
  }

  > .tables-container,
  > .table-options,
  > .table-visibility {
    opacity: 1;
    transition: opacity @coreTransitionTime linear;
    transform: translateX(0%);
    background: inherit;
  }

  > .table-empty {
    text-align: center;
    display: none;
  }

  > .table-options {
    text-align: right;
  }

  > .table-options > button {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    padding: 0px 10px;
  }

  @{customElementNamespace}table-visibility,
  @{customElementNamespace}table-rearrange {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
  }

}

@{customElementNamespace}table-viz.is-empty {

  > .table-empty {
    display: block;
  }

  > .tables-container,
  > .table-options,
  > .table-visibility {
    opacity: 0;
    transform: translateX(-100%);
  }

}