@{customElementNamespace}result-thead {
  background: inherit;

  th {
    white-space: nowrap;
    padding: 10px 20px;
    position: relative;
    background: inherit;
    width: 230px;
  }

  th.is-sortable {
    cursor: pointer;
  }

  th.checkbox-th {
    width: 2 * @minimumButtonSize;
  }

  span {
    display: inline-block;
  }

  .column-text {
    max-width: ~'calc(100% - 2rem)';
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th.is-hidden-column {
    display: none;
  }

  .fa-sort-asc,
  .fa-sort-desc {
    opacity: 0;
  }

  th.is-sorted-asc {
    .fa-sort-asc {
      opacity: 1;
    }
  }

  th.is-sorted-desc {
    .fa-sort-desc {
      opacity: 1;
    }
  }

  .ui-resizable {
    text-align: right;
  }

  .ui-resizable-handle.ui-resizable-e {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    height: @minimumButtonSize;
    width: @minimumButtonSize;
    cursor: ew-resize;
  }

  position: relative;
}
