# Systemd service
[Unit]
Description=Solr Catalog
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket
Conflicts=shutdown.target

[Service]
Type=forking
PrivateTmp=true
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes

# UPDATE THESE PROPERTIES
Environment=JAVA_HOME=<JAVA_HOME>
ExecStart=<DDF_HOME>/bin/ddfsolr start
ExecStop=<DDF_HOME>/bin/ddfsolr stop
User=<USER>

[Install]
WantedBy=multi-user.target
