@{customElementNamespace}workspace-details {
    .customElement;

    .choice-title,
    .choice-date,
    .choice-owner {
        max-width: 100%;
        height: @minimumLineSize;
        line-height: @minimumLineSize;
        padding: 0px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .choice-title {
        >.title-text {
        white-space: pre;
        .is-bold();
        display: inline-block;
        max-width:~'calc(100% - @{minimumFontSize})';
        overflow: hidden;
        text-overflow: ellipsis;
        }
        >.title-indicator {
            display: inline-block;
            vertical-align: top;
        }
    }

    .choice-date,
    .choice-owner {
        opacity: @minimumOpacity;
    }
}

@{customElementNamespace}workspace-details.as-list {
    white-space: nowrap;
    vertical-align: top;
    height: @minimumButtonSize;
    transition: width @coreTransitionTime linear;

    .choice-title, 
    .choice-date,
    .choice-owner {
        width: 33%;
        height: @minimumButtonSize;
        line-height: @minimumButtonSize;
        display: inline-block;
        padding: 0px 20px;
    }
    .choice-date,
    .choice-owner {
        text-align: center;
    }
}