<table class='sourcesTable table table-striped'>
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th><a style="text-decoration:none" href="#" class="refreshButton glyphicon glyphicon-repeat"></a></th>
    </thead>
    <tbody>

    </tbody>
</table>