@{customElementNamespace}query-altitude {
    display: block;
    width: 100%;

    .basic-altitude-details {
        padding-left: @minimumSpacing;
    }

    .basic-altitude-above,
    .basic-altitude-below,
    .basic-altitude-units {
      display: none;
    }

    .basic-altitude-units,
    .basic-altitude-above,
    .basic-altitude-below {
      width: 40%;
    }

    .basic-altitude-between {
      display: none;
      white-space: nowrap;
      max-width: 50%;
      
      .between-above,
      .between-below {
        display: inline-block;
        width: 50%;
      }
    }

    .basic-altitude-units {
        min-width: 200px;
    }
}

@{customElementNamespace}query-altitude.is-altitudeRange-above {

    .basic-altitude-above {
        display: inline-block;
    }
}

@{customElementNamespace}query-altitude.is-altitudeRange-below {

    .basic-altitude-below {
        display: inline-block;
    }
}

@{customElementNamespace}query-altitude.is-altitudeRange-between {

    .basic-altitude-between {
      display: inline-block;
    }
}

@{customElementNamespace}query-altitude.is-altitudeUnit {

    .basic-altitude-units {
      display: inline-block;
    }
}