@panelOneWidth: 9.55*@minimumButtonSize;
@panelTwoWidth: 8*@minimumButtonSize;

@{customElementNamespace}content {

  .customElement;
  position: relative;
  z-index: @zIndexContent;

  > .content-toolbar {
    width: 100%;
    height: @minimumButtonSize;
  }

  .content-content{
    height: ~'calc(100% - @{minimumButtonSize})';
    position: relative;
  }

  .content-panelOne {
    .changeBackground(@backgroundAccentContent);
    border-right: 1px solid fade(contrast(@backgroundAccentContent), 5%);
    width: @panelOneWidth;
    left: 0%;
    top: 0%;
    transition: transform @coreTransitionTime ease-in-out;
    transform: translateX(100%);
  }

  .content-panelTwo {
    .changeBackground(@backgroundAccentContent);
    padding: @largeSpacing;
    border-left: 1px solid fade(contrast(@backgroundAccentContent), 5%);
    width: @panelTwoWidth;
    left: 100%;
    top: 0%;
    transition: transform @coreTransitionTime ease-in-out;
    transform: translateX(0%);
  }

  .content-panelThree {
    transition: all @coreTransitionTime ease-in-out;
    .changeBackground(@backgroundContent);
    right: 0%;
    top: 0%;
    left: 0%
  }

  .content-panel {
    position: absolute;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
  }

}

@{customElementNamespace}content.panel-one-is-open {

  .content-panelOne {
    transform: translateX(0%);
  }

  .content-panelThree {
    left: @panelOneWidth;
  }

}

@{customElementNamespace}content.panel-two-is-open {

  .content-panelTwo {
    transform: translateX(-100%);
  }

  .content-panelThree {
    right: @panelTwoWidth;
  }

}