@{customElementNamespace}dropdown.is-uploads {
  display: block;
  position: relative;

  .notification-icon {
    position: relative;
    cursor: pointer;
  }

  .text-right {
    text-align: right;
  }
}

@{customElementNamespace}dropdown.is-uploads.has-uploads {
  opacity: 1;
}
