.row {
    align-items: center;
}

.col {
    text-align: center;
}

.thumbnail {
    max-height: 20rem;
}

th {
    text-align: left;
}

.value {
    vertical-align: top;
    text-align: left;
    overflow: auto;
    text-overflow: ellipsis;
    max-height: 10rem;
    min-width: 15rem;
    word-break: break-word;
    white-space: normal;
}