################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

#
# This is defaulted to false per the Karaf version of this file for backwards compatibility with 2.2.x
# This property is deprecated in Karaf 3.0 and planned to be removed in 4.0
#
respectStartLvlDuringFeatureStartup=true

#
# Comma separated list of features repositories to register by default
#
featuresRepositories= \
 mvn:ddf.distribution/kernel/${project.version}/xml/features, \
 mvn:ddf.distribution/install-profiles/${project.version}/xml/features, \
 mvn:ddf.platform/platform-app/${ddf.platform.app.version}/xml/features, \
 mvn:ddf.security/security-services-app/${ddf.security.app.version}/xml/features, \
 mvn:ddf.catalog/catalog-app/${ddf.catalog.app.version}/xml/features, \
 mvn:ddf.content/content-app/${ddf.content.app.version}/xml/features, \
 mvn:ddf.catalog.solr/solr-app/${ddf.solr.catalog.app.version}/xml/features, \
 mvn:org.codice.opendj.embedded/opendj-embedded-app/${opendj-embedded.app.version}/xml/features, \
 mvn:org.codice.ddf.spatial/spatial-app/${ddf.spatial.app.version}/xml/features, \
 mvn:ddf.ui.search/search-ui-app/${ddf.searchui.app.version}/xml/features, \
 mvn:ddf.admin/admin-app/${ddf.admin.app.version}/xml/features

#
# Comma separated list of features to install at startup
featuresBoot= \
 eventadmin, \
 jasypt-encryption, \
 pax-http, \
 platform-delegate-filter, \
 config, \
 ssh, \
 management, \
 pax-war, \
 spring, \
 spring-dm, \
 spring-jms, \
 spring-tx, \
 platform-app, \
 kernel-webconsole, \
 kernel-webconsolebranding, \
 admin-app, \
 admin-modules-installer


#
# Defines if the boot features are started in asynchronous mode (in a dedicated thread)
#
featuresBootAsynchronous=false
