service.pid="org.codice.ddf.admin.application.service.impl.ApplicationServiceImpl"
ignoredApplications=["karaf-${karaf.version}","kernel-${project.version}","org.ops4j.pax.web-${pax.web.version}","org.ops4j.pax.cdi-${pax.cdi.version}","install-profiles-${project.version}","enterprise-${karaf.version}","spring-${karaf.version}"]
