@{customElementNamespace}workspace-search {
    padding: @minimumSpacing 0px;
    .customElement;
    overflow: auto;
    > .search-add {
        .querySelector-list {
            display: none;
        }
    }

    > .search-results {
        // @{customElementNamespace}workspace-explore {
        //     display: none;
        // }
    }
    > .search-results {
        height: 100%;
        overflow: hidden;
    }
}