@{customElementNamespace}dropdown.is-visualizationSelector {
  cursor: pointer;
  display: block;
  padding: 0px @minimumSpacing;
  min-width: @minimumButtonSize;
  text-align: center;
  height: @minimumButtonSize;
  line-height: @minimumButtonSize;
}
