{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="home-menu-left">
    <span class="fa fa-bars home-menu-icon">
    </span>
    <span class="home-menu-icon home-menu-title">Workspaces</span>
</div>
<div class="home-menu-right">
    <div class="menu-item">
        <div class="tasks-region"></div>
    </div>
    <div class="menu-item">
        <div class="notifications-region"></div>
    </div>
    <div class="menu-item">
        <div class="user-info-region"></div>
    </div>
</div>