{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="home-menu-left">

        <span class="fa fa-bars home-menu-icon">

        </span>
        <span class="home-menu-icon home-menu-title">
            Workspaces
        </span>
</div>
<div class="home-menu-right">
        <span class="fa fa-list home-menu-icon">

        </span>
        <span class="fa fa-sort home-menu-icon">

        </span>
        <span class="fa fa-folder home-menu-icon">

        </span>
        <span class="fa fa-user home-menu-icon">

        </span>
</div>