@{customElementNamespace}dropdown.is-notifications {
    display: block;
    position: relative;

    .notification-icon {
        position: relative;
        cursor: pointer;
    }

    .text-right {
        text-align: right;
    }
}

@{customElementNamespace}dropdown.is-notifications.has-notifications {
  opacity: 1;
}