<h1>Select Applications</h1>
<div>
    <p>
    <fieldset>
        <div id="tree" name="selNodes"></div>
    </fieldset>
    <br/>
    Applications selected: <span id="echoSelection3">Kernel</span>
    </p>
</div>