<li id="{{name}}"><input type="checkbox" name="selected" {{selected}}> {{displayName}}
    {{#if description}}
        <a href='#' class='description' data-title='desc-{{name}}'>
            <i class='glyphicon glyphicon-question-sign'></i>
        </a>
    {{/if}}
</li>