<h1>Select Applications</h1>
<div class="well white inner-scroll">
    <div id="wrapper" class="application-scroll scroll-area ps-container">
        <div id=details class="sidebar">
        </div>
        <div id="apps-tree" class="appview"></div>
    </div>
    <div id="new-app-container" class="new-app-container">

    </div>
</div>