<h3>Finished</h3>

<div>
    <div class="well white">
        <p class="lead">Congratulations! Your system is now configured.
            <br/>
            <br/>
            Click the button below to open the administrative web console.
        </p>
    </div>
    <center>
        <button type="button" class="btn btn-primary">Web Console</button>
    </center>
</div>