<div id="welcome" class="inner-content" style="display:none">

</div>
<div id="configuration" class="inner-content" style="display:none">

</div>
<div id="applications" class="inner-content" style="display:none">

</div>
<div id="finish" class="inner-content" style="display:none">

</div>
<div id="navigation" class="bottom-navs">

</div>