<span class="editable" name="value"></span>
<span class="editing">
    <input type="text" name="value">
    <a class="done btn btn-primary" href="#">Done</a>
</span>
<a href="#" class="remove-url-link glyphicon glyphicon-remove"></a>