<ul class="pager">



</ul>
<div class="last-progress-text-area">

</div>
<div class="progress-text-area">
    <span class="progress-text" name="message">{{message}}</span>
</div>
<center>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

        </div>
    </div>
</center>