<h1>Welcome</h1>

<div class="well white">
    <p class="lead">This guide will help you set up your system. You will only see it the first time you open the portal.
        <br/>
        <br/>
        Keep the following things in mind while going through the steps:
    </p>
    <dl>
        <dt>Default Values</dt>
        <dd>All settings come with defaults set, but it is reccommended that they are changed for the installation environment.</dd>
        <br/>
        <dt>Changing Settings</dt>
        <dd>Changes can be made after installation using the administrative web console.</dd>
        <br/>
        <dt>More Information</dt>
        <dd>The provided documentation contains additional information on settings and other advanced configurations outside of this installer.</dd>
    </dl>
    <br/>
    <br/>
    <br/>
    <center>
        <p class="lead">
            Click start to begin the installation process.
        </p>
    </center>
</div>