<h3>Welcome</h3>

<div class="well white">
    <p class="lead">Let's set up your system for initial use!
        <br/>
        <br/>
        Keep the following things in mind while progressing through the set up:
    </p>
    <dl>
        <dt>Update values from their defaults</dt>
        <dd>All settings come with defaults set, but it is recommended that they are changed for the installation environment.</dd>
        <br/>
        <dt>Changes can be made to settings after the install</dt>
        <dd>If you would like to change a setting after this installer has been run, you can do so by using the administrative web console.</dd>
        <br/>
        <dt>Check the documentation for updates</dt>
        <dd>The provided documentation contains additional information on settings and other advanced configurations outside of this installer.</dd>
    </dl>
    <br/>
    <br/>
    <br/>
    <div style="text-align: center;">
        <p class="lead">
            Click start to begin the installation process.
        </p>
    </div>
</div>