{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<h3>Welcome</h3>

<div class="well white">
    <p class="lead">Let's set up your system for initial use!
        <br/>
        <br/>
        Keep the following things in mind while progressing through the set up:
    </p>
    <dl>
        <dt>Update values from their defaults</dt>
        <dd>All settings come with defaults set, but it is recommended that they are changed for the installation environment.</dd>
        <br/>
        <dt>Changes can be made to settings after the install</dt>
        <dd>If you would like to change a setting after this installer has been run, you can do so by using the administrative web console.</dd>
        <br/>
        <dt>Check the documentation for updates</dt>
        <dd>The provided documentation contains additional information on settings and other advanced configurations outside of this installer.</dd>
    </dl>
    <br/>
    <br/>
    <br/>
    <div style="text-align: center;">
        <p class="lead">
            Click start to begin the installation process.
        </p>
    </div>
</div>