@{customElementNamespace}navigation {
  .customElement;
  position: relative;
  .changeBackground(@backgroundNavigation);
  vertical-align: top;
  height: 2*@minimumLineSize;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid fade(contrast(@backgroundNavigation), 10%);

  > .navigation-left,
  > .navigation-middle,
  > .navigation-right {
    display: inline-block;
    vertical-align: top;
    font-size: @largeFontSize;
    line-height: 2*@minimumLineSize;
    height: 2*@minimumLineSize;
  }

  > .navigation-left {
    width: @minimumButtonSize;
    transition: width @coreTransitionTime ease-out;
  }

  > .navigation-right {
    position: absolute;
    right: 0px;
    max-width: 4*@minimumButtonSize + 9rem;
    transition: width @coreTransitionTime ease-out;
  }

  > .navigation-middle {
    width: ~'calc(100% - 5*@{minimumButtonSize} - 9rem)';
    overflow-x: auto;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }

  .cancel-drawing {
    position: absolute;
    z-index: @zIndexMenubar;
    height: 100%;
    line-height: 2*@minimumLineSize;
    width: 100%;
    transform: translateY(-100%);
    transition: transform @coreTransitionTime ease-in-out;
  }

}

@{customElementNamespace}navigation.has-unavailable,
@{customElementNamespace}navigation.has-unsaved {
  > .navigation-left {
    width: @minimumButtonSize + 1rem;
  }

  > .navigation-middle {
    width: ~'calc(100% - 5*@{minimumButtonSize} - 9rem - 1rem)';
  }
}

@{customElementNamespace}navigation.has-logo {
  > .navigation-left {
    width: 2.0*@minimumButtonSize;
  }

  > .navigation-middle {
    width: ~'calc(100% - 6*@{minimumButtonSize} - 9rem)';
  }

  &.has-unavailable, &.has-unsaved {
    > .navigation-left {
      width: 2*@minimumButtonSize + 1rem;
    }

    > .navigation-middle{
      width: ~'calc(100% - 6*@{minimumButtonSize} - 9rem - 1rem)';
    }
  }
}

html.is-drawing {
  @{customElementNamespace}navigation {
    .cancel-drawing {
      transform: translateY(0%);
    }
  }
}
