@{customElementNamespace}multivalue {
  .customElement;

  .multivalue-add {
    display: none;
  }

  .multivalue-add,
  .multivalue-summary {
    display: none;
    width: 100%;
    height: @minimumButtonSize;
    margin: 10px 0px;
  }
}

@{customElementNamespace}multivalue.is-multivalued {
  .multivalue-summary {
    display: block;
    text-align: center;
  }
}

@{customElementNamespace}multivalue.is-editing.is-multivalued {
  .multivalue-add {
    display: block;
  }
  .multivalue-summary {
    display: none;
  }
}
