.contextPolicyStyle {
  font-size: 16px;
  position: relative;
  text-align: left;
  color: rgba(0, 0, 0, 0.70);
  padding: 14px 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.infoTitle {
  font-size: 18px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  margin: 10px 40px;
}

.infoSubtitle {
  font-size: 14px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.541176);
  margin: 10px 10px;
}

.infoSubtitleLeft {
  font-size: 14px;
  position: relative;
  text-align: left;
  color: rgb(0, 184, 212);
  margin: 10px 10px;
}

.realmNameStyle {
  font-size: 16px;
  position: relative;
  text-align: left;
  color: rgba(0, 0, 0, 0.70);
  padding: 0px 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.infoContextPaths {
  font-size: 14px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  margin: 10px 0px;
}

.policyBinOuterStyle {
  position: relative;
  width: 100%;
  margin: 5px 0px;
  padding: 0px;
}

.editPaneStyle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.editPaneStyle:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.newBinStyle {
  position: relative;
  height: 100%;
  text-align: center;
  background-color: #EEE;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.newBinStyle:hover {
  background-color: #FFF;
  transition: background-color 0.5s ease;
}

.newBinDisabledStyle {
  position: relative;
  height: 100%;
  text-align: center;
  background-color: #EEE;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.disabledPanelStyle {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}