{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
 <div class="graph-menu">
 </div>
<div class="graph-network" tabindex="-1">
    <div class="network-parent">
        
    </div>
    <div class="network-child">

    </div>
</div>
<div class="graph-inspector">
    <div class="inspector-association">
    </div>
    <div class="inspector-action">
        <button class="action-add is-positive">
            <span class="fa fa-plus"></span>
        </button>
        <button class="action-remove is-negative">
            <span class="fa fa-minus"></span>
        </button>
    </div>
</div>