@{customElementNamespace}associations-graph {
    .customElement;

    > .graph-menu, 
    > .graph-inspector {
        height: @minimumButtonSize;
    }

    > .graph-inspector {
        display: none;
        white-space: nowrap;
        padding: 10px 20px;
    }

    > .graph-network {
        height: ~'calc(100% - @{minimumButtonSize})';
        white-space: nowrap;
    }

    > .graph-network.is-hovering {
        cursor: pointer;
    }
    
    > .graph-network > div {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 100%;
        transition: width @coreTransitionTime linear;
    }

    > .graph-network > div + div {
        border-left: 1px solid @medium-lighten-inherited-background-color;
    }

    > .graph-inspector .inspector-association {
        width: ~'calc(100% - @{minimumButtonSize})';
        padding-right: 20px;
    }

    > .graph-inspector .inspector-association,
    > .graph-inspector .inspector-action {
        display: inline-block;
        vertical-align: top;
    }

    > .graph-inspector .inspector-action button {
        width: @minimumButtonSize;
    }

     > .graph-inspector .inspector-action {
         display: block;
     }

    > .graph-inspector .inspector-action .action-add {
        width: 100%;
    }

    > .graph-inspector .inspector-association {
        display: none;
    }

    > .graph-inspector .inspector-action .action-remove {
        display: none;
    }

    > .graph-inspector .association-child-link,
    > .graph-inspector .association-parent-link {
        display: none;
    }

    > .graph-inspector .association-content > .association-child,
    > .graph-inspector .association-content > .association-parent {
        display: inline-block;
    }
}

@{customElementNamespace}associations-graph.is-editing {
    > .graph-network {
        height: ~'calc(100% - 2*@{minimumButtonSize} - 20px)';
    }

    > .graph-inspector {
        display: block;
    }
}

@{customElementNamespace}associations-graph.has-association-selected {
    > .graph-inspector .inspector-action .action-add {
        display: none;
    }

     > .graph-inspector .inspector-action {
        display: inline-block;
     }

    > .graph-inspector .inspector-association,
    > .graph-inspector .inspector-action .action-remove {
        display: inline-block;
    }
}

@{customElementNamespace}associations-graph.filter-by-child,
@{customElementNamespace}associations-graph.has-no-parent {
    > .graph-network .network-parent {
        display: none;
    }

    > .graph-network .network-child {
        width: 100%;
    }
}

@{customElementNamespace}associations-graph.filter-by-parent,
@{customElementNamespace}associations-graph.has-no-child {
    > .graph-network .network-parent {
        width: 100%;
    }

    > .graph-network .network-child {
        display: none;        
    }
}