@{customElementNamespace}histogram {
  .customElement;
  > .histogram-attribute {
    .property-revert {
      display: none !important;
    }
  }
}

@{customElementNamespace}histogram.is-empty {
  overflow: hidden;

  > .histogram-empty {
    display: block;
  }

  > .histogram-container,
  > .histogram-attribute {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@{customElementNamespace}histogram.no-matching-data:not(.is-empty) {
  overflow: hidden;

  > .histogram-no-matching-data {
    display: block;
  }
}

.is-medium-screen,
.is-small-screen,
.is-mobile-screen {
  @{customElementNamespace}histogram {
    overflow: auto;
    > .histogram-container {
      min-height: 500px;
    }
  }
  @{customElementNamespace}histogram.is-empty {
    overflow: hidden;
  }
}
