@{customElementNamespace}editor {
  &.is-metacard-basic {
    .editor-properties @{customElementNamespace}property{
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }

    .editor-properties [data-id=thumbnail] {
      width: 100%;
    }
  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}editor {

  }
}