@{customElementNamespace}dropdown.is-querySrc {
  cursor: not-allowed;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  padding: 1.5rem;

  .dropdown-text {
    display: inline-block;
    padding-left: 10px;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
  }

  .dropdown-icon {
    display: none;
  }

  .dropdown-label {
    .is-bold();
  }

  .dropdown-label,
  .dropdown-text {
    line-height: @minimumButtonSize;
  }

  .dropdown-text,
  .dropdown-icon {
    vertical-align: middle;
  }

  span + span::before {
    content: '| ';
    opacity: @minimumOpacity;
  }

  .text-src + .text-src:before {
    content: '| ';
    opacity: @minimumOpacity;
  }

  .is-placeholder {
    opacity: @minimumOpacity;
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown-icon {
    position: absolute;
    height: 100%;
  }

  .dropdown-icon::before {
    content: '\F0D7';
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

@{customElementNamespace}dropdown.is-editing {
  cursor: pointer;
}

@{customElementNamespace}dropdown.is-querySrc.is-editing {
  cursor: pointer;

  .dropdown-text,
  .dropdown-icon {
    vertical-align: top;
  }

  .dropdown-text {
    padding: 0px 10px;
    width: ~'calc(100% - @{minimumButtonSize})';
    min-height: @minimumButtonSize;
  }

  .dropdown-icon {
    color: contrast(@primary-color);
    display: inline-block;
    background: @primary-color;
    width: @minimumButtonSize;
    line-height: @minimumButtonSize;
    text-align: center;
    font-size: @largeFontSize;
    margin-left: -4px;
  }
}
