@{customElementNamespace}alert-menu {
  .customElement;

  > .workspace-title {
    cursor: pointer;
  }

  > .menu-title {
    display: inline-block;
    vertical-align: top;
    line-height: 2 * @minimumLineSize;
    font-size: @largeFontSize;
    white-space: nowrap;
    .is-bold();
  }

  > .title-seperator {
    padding: 0rem @minimumSpacing;
    font-family: 'FontAwesome';
  }
}
