{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="panel-column">
  <div class="tabbable tabs-below panel-content">
    <div class="tab-content workspace-tabs">
      <div class="tab-pane active" id="explore"></div>
      <div class="tab-pane" id="saved-items"></div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#explore" data-toggle="tab">Explore</a>
      </li>
      <li>
        <a href="#saved-items" data-toggle="tab">Saved Items</a>
      </li>
    </ul>
  </div>
</div>

<div id="selected" class="panel-column"></div>
