.logviewer-ui-root {
  .button-base {
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 16px;
    font-family: Helvetica;
    background-color: #18bc9c;
    border-color: #18bc9c;
    border: 1px solid transparent;
    white-space: nowrap;
    text-align: center;
    border-radius: 4px;
    outline: 0;
  }

  .button-live {
    .button-base;
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
  }

  .button-paused {
    .button-base;
    color: #666;
    background-color: #eee;
    border-color: #666;
  }

  .status-text {
    min-width: 80px;
    display: inline-block;
    text-align: center;
  }
}
