@{customElementNamespace}system-usage {
    .customElement;
    overflow: hidden;

    iframe {
        display: block;
        width: 100%;
        height: ~'calc(100% - @{minimumButtonSize})';
        padding: 10px;
        border: none;
    }

    button {
        width: 100%;
        height: @minimumButtonSize;
    }
}