<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
-->
<Configuration status="FATAL">
    <Properties>
        <Property name="log-pattern">%-5.5p | %-16.16t | %-32.32c{1} | %-32.32C %4L | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n</Property>
    </Properties>

    <Appenders>
        <PaxOsgi name="osgi-platformLogging"
                 filter="org.codice.ddf.platform.logging.LoggingService"/>

        <PaxOsgi name="osgi-adminAlertAppender"
                 filter="ddf.security.common.audit.LogFailoverAlertAppender"/>

        <PaxOsgi name="osgi-karafConsole" filter="VmLogAppender"/>

        <Syslog name="syslog" facility="AUTH" host="localhost" protocol="UDP" port="514"/>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} | ${log-pattern}"/>
        </Console>

        <RollingFile name="out" append="true"
                     fileName="${sys:karaf.data}/log/${sys:org.codice.ddf.system.branding}.log"
                     filePattern="${sys:karaf.data}/log/${sys:org.codice.ddf.system.branding}.log-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} | ${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="ingestError" append="true"
                     fileName="${sys:karaf.data}/log/ingest_error.log"
                     filePattern="${sys:karaf.data}/log/ingest_error.log-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} | ${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="securityMain" append="true" ignoreExceptions="false"
                     fileName="${sys:karaf.data}/log/security.log"
                     filePattern="${sys:karaf.data}/log/security.log-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="[%-5p] %d{ISO8601} | %-16.16t | %-15.20c{1} |  %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- It is recommended to change the default directory of this log file -->
        <RollingFile name="securityBackup" append="true" ignoreExceptions="false"
                     fileName="${sys:karaf.data}/log/securityBackup.log"
                     filePattern="${sys:karaf.data}/log/securityBackup.log-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="[%-5p] %d{ISO8601} | %-16.16t | %-15.20c{1} |  %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Failover name="securityFailover" primary="securityMain">
            <Failovers>
                <AppenderRef ref="securityBackup"/>
                <AppenderRef ref="osgi-adminAlertAppender"/>
            </Failovers>
        </Failover>

        <RollingFile name="solr" append="true"
                     fileName="${sys:karaf.data}/log/solr.log"
                     filePattern="${sys:karaf.data}/log/solr.log-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} | ${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="artemis" append="true"
                     fileName="${sys:karaf.data}/log/artemis.log"
                     filePattern="${sys:karaf.data}/log/artemis.log-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} | ${log-pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="out"/>
            <AppenderRef ref="osgi-karafConsole"/>
            <AppenderRef ref="osgi-platformLogging"/>
        </Root>
        <Logger name="securityLogger" level="info" additivity="false">
            <AppenderRef ref="securityFailover"/>
            <AppenderRef ref="syslog"/>
            <AppenderRef ref="osgi-platformLogging"/>
        </Logger>

        <Logger name="org.apache.karaf.jaas.modules.audit" level="info" additivity="false">
            <AppenderRef ref="securityFailover"/>
            <AppenderRef ref="syslog"/>
            <AppenderRef ref="osgi-platformLogging"/>
        </Logger>

        <Logger name="ingestLogger" level="info" additivity="false">
            <AppenderRef ref="ingestError"/>
            <AppenderRef ref="syslog"/>
            <AppenderRef ref="osgi-platformLogging"/>
        </Logger>

        <Logger name="org.apache.solr" level="info" additivity="false">
            <AppenderRef ref="solr"/>
            <AppenderRef ref="syslog"/>
            <AppenderRef ref="osgi-platformLogging"/>
        </Logger>

        <Logger name="org.apache.activemq.artemis" level="info" additivity="false">
            <AppenderRef ref="artemis"/>
            <AppenderRef ref="syslog"/>
            <AppenderRef ref="osgi-platformLogging"/>
        </Logger>

        <Logger name="org.apache.lucene" level="info" additivity="false">
            <AppenderRef ref="solr"/>
            <AppenderRef ref="syslog"/>
            <AppenderRef ref="osgi-platformLogging"/>
        </Logger>

        <!--START Suppress logging for miscellaneous packages-->
        <!--GraphqQL tends to log at warn/error level. This is not needed since we provide our own
        logging.-->
        <Logger name="graphql.execution" level="fatal"/>
        <Logger name="lux.solr" level="warn"/>
        <Logger name="org.apache.aries.spifly" level="warn"/>
        <Logger name="org.apache.cxf" level="warn"/>
        <Logger name="org.apache.cxf.jaxrs.impl.WebApplicationExceptionMapper" level="error"/>
        <Logger name="org.apache.cxf.phase.PhaseInterceptorChain" level="error"/>
        <!--Suppress a NPE that can be disregarded that occurs when a null file is passed through
        the Camel exchange on a delete event of a WebDav entry.-->
        <Logger name="org.apache.camel.impl.DefaultUnitOfWork" level="error"/>
        <Logger name="org.ops4j.pax.web" level="warn"/>
        <!--Logging for the UnregisterWebAppVisitorWC has been set to ERROR as paxweb logs
        stacktraces at WARN on startup. This may be related to PAXWEB-1117. When Karaf upgrades
        paxweb, we need to see if these stacktrace log messages go away (see DDF-3321) and remove
        this suppression.-->
        <Logger name="org.ops4j.pax.web.extender.war.internal.UnregisterWebAppVisitorWC"
                level="error"/>
        <Logger name="org.ops4j.pax.web.jsp" level="warn"/>
        <!--Suppress a WARN level exception that does not have any impact on servlet initialization.
        This is a result of suppressing SCR annotations in the GraphQLServlet.-->
        <Logger name="org.ops4j.pax.web.utils.ServletContainerInitializerScanner" level="error"/>
        <!--END Suppress logging for miscellaneous packages-->
    </Loggers>
</Configuration>
