 
#/*
# * Copyright (c) Codice Foundation
# *
# * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
# * version 3 of the License, or any later version. 
# *
# * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
# * <http://www.gnu.org/licenses/lgpl.html>.
# *
# */

felix.fileinstall.dir = ${karaf.base}/etc/ddf
felix.fileinstall.tmpdir  = ${karaf.data}/generated-bundles
felix.fileinstall.poll    = 1000
felix.fileinstall.bundles.new.start = true
felix.fileinstall.filter = 
felix.fileinstall.bundles.startTransient = false
felix.fileinstall.bundles.startActivationPolicy = true
felix.fileinstall.log.level = 0
felix.fileinstall.noInitialDelay = false
felix.fileinstall.start.level = 0
