@{customElementNamespace}confirmation {
  .customElement;

  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: @zIndexConfirmation;
  background: rgba(0, 0, 0, 0.8);

  .confirmation-container {
    position: relative;
    left: ~'calc(50% - 200px)';
    top: 50%;
    height: auto;
    width: 400px;
    .changeBackground(@backgroundAccentContent);
    .boxShadow;
  }

  .confirmation-prompt {
    width: 100%;
    text-align: center;
    min-height: @minimumButtonSize;
    padding: @minimumSpacing;
  }

  .confirmation-choices {
    white-space: nowrap;
    button {
      vertical-align: top;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    button:first-of-type {
      display: none;
    }
  }
}

@{customElementNamespace}confirmation.has-two-choices {
  .confirmation-choices {
    button {
      width: 50%;
    }
    button:first-of-type {
      display: inline-block;
    }
  }
}
