.classification-container {
    text-align : center;
    color : white;
    text-shadow : 0px 0px 2px #000000;
}

.green{
    background-color : darkgreen;
}


.blue {
    background-color : blue;
}

.red {
    background-color : darkred;
}

.yellow {
    background-color : gold;
}

.light-green {
    background-color: lightgreen;
}

.light-blue {
    background-color: lightskyblue;
}

.light-red {
    background-color: tomato;
}

.light-yellow {
    background-color: #ffff00;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.banner-text-green {
    color: darkgreen;
}

.banner-text-blue {
    color: blue;
}

.banner-text-red {
    color: darkred;
}

.banner-text-yellow {
    color: gold;
}

.banner-text-light-green {
    color: lightgreen;
}

.banner-text-light-blue {
    color: lightskyblue;
}

.banner-text-light-red {
    color: tomato;
}

.banner-text-light-yellow {
    color: #ffff00;
}

.banner-text-white {
    color: white;
}

.banner-text-black {
    color: black;
}