@{customElementNamespace}query-selector {
  @buttonMargin: 10px;

  .resetIconLineHeight;
  .customElement;


  > button {
    display: none;
    width: 100%;
  }

  .querySelector-list {
    max-height: ~"calc(100%)";
    overflow: auto;
    display: inline-block;
    width: 100%;
  }

  &.can-addQuery {
    > button {
      display: block;
    }
    .querySelector-list {
      max-height: ~"calc(100% - @{minimumButtonSize} - @{buttonMargin})";
    }
  }

  .if-empty {
    display: none;
  }
}

@{customElementNamespace}query-selector.is-empty {
  .querySelector-list {
    display: none;
  }
  .if-empty {
    display: block;
  }
}

