@{customElementNamespace}query-selector {
  @buttonMargin: 10px;

  .resetIconLineHeight;
  .customElement;

  > div > .fa-search {
    font-size: 70px;
    color: contrast(@backgroundAccentContent);
    opacity: .2;
  }

  > div > .empty-title {
    display: block;
    font-size: @mediumFontSize;
  }

  > div > .empty-description {
    display: block;
    font-size: @minimumFontSize;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 30px;
    opacity: .5;
  }

  > div > .quick-add {
    display: block;
    max-width: 200px; 
    margin: 0px auto;
    padding: @minimumSpacing @largeSpacing;
    font-size: @minimumFontSize;
    font-weight: 300;
  }

  > button {
    display: none;
    width: 100%;
  }

  .querySelector-list {
    max-height: ~"calc(100%)";
    overflow: auto;
    display: inline-block;
    width: 100%;
  }

  &.can-addQuery {
    > button {
      display: block;
    }
    .querySelector-list {
      max-height: ~"calc(100% - @{minimumButtonSize} - @{buttonMargin})";
    }
  }

  .if-empty {
    display: none;
  }
}

@{customElementNamespace}query-selector.is-empty {
  .querySelector-list {
    display: none;
  }
  .if-empty {
    display: block;
    font-size: @minimumFontSize;
    padding: @minimumButtonSize;
  }
}

