@{customElementNamespace}details-buttons {
  .customElement;
  text-align: center;

  > button.is-neutral {
    height: @minimumLineSize;
    line-height: @minimumLineSize;
    width: auto;
    padding: 0px 10px;
    display: inline-block;
  }
}
