@{customElementNamespace}dropdown.is-metacardInteractions {
  line-height: inherit;
  cursor: not-allowed;
  display: block;
  span {
    line-height: inherit;
  }
}

@{customElementNamespace}dropdown.is-metacardInteractions.is-editing {
  cursor: pointer;
}