@{customElementNamespace}dropdown.is-hover-preview {
  display: inline-block;
  position: relative;
  text-align: left;

  img:hover + button,
  button:hover {
    display: block;
  }

  button {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: @minimumButtonSize;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }
}
