{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="login-container">
    <form class="login-form">
        <div align="center" id="loginError" class="alert alert-error" style="display: none;">Credentials are invalid.</div>

        <div class="form-group">
            <div class="input-group input-group-sm margin-no">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group-sm margin-no">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" />
            </div>
        </div>

        <div class="form-actions btn-group">
            <a href="#" class="btn btn-primary btn-signin">Sign In</a>
        </div>
        <div style="clear:both;"></div>
    </form>
</div>