{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="navbar-brand">
    <div class="branding">
        <i class="fa fa-globe"></i> {{branding}}
    </div>
</div>
<div id="workspaceSelector">

</div>
<div class="menu-items pull-right">

    <div id="collapsed" class="collapsedNav">
        <button>
            <i class="fa fa-bars">

            </i>
        </button>
    </div>
    <div class="normalNav">
        <ul id="ingest" class="nav showModal">

        </ul>
        <ul id="tasks" class="nav">

        </ul>
        <ul id="notification" class="nav">

        </ul>
        <ul id="preferences" class="nav">

        </ul>
        <ul id="help" class="nav">

        </ul>
        <ul id="welcome" class="nav">

        </ul>
    </div>
</div>