#/*
# * Copyright (c) Codice Foundation
# *
# * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
# * version 3 of the License, or any later version. 
# *
# * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
# * <http://www.gnu.org/licenses/lgpl.html>.
# *
# */

applyDefaultSecurity=false

classificationTitle=U
ownerProducerTitle=USA
SCIcontrolsTitle=UNKNOWN
SARIdentifierTitle=UNKNOWN
disseminationControlsTitle=UNKNOWN
FGIsourceOpenTitle=UNKNOWN
FGIsourceProtectedTitle=UNKNOWN
releasableToTitle=UNKNOWN
nonICmarkingsTitle=UNKNOWN
classifiedByTitle=UNKNOWN
derivativelyClassifiedByTitle=UNKNOWN
classificationReasonTitle=UNKNOWN
derivedFromTitle=UNKNOWN
declassDateTitle=9999-01-01
declassEventTitle=UNKNOWN
declassExceptionTitle=UNKNOWN
typeOfExemptedSourceTitle=UNKNOWN
dateOfExemptedSourceTitle=UNKNOWN
declassManualReviewTitle=UNKNOWN

classificationDescription=U
ownerProducerDescription=USA
SCIcontrolsDescription=UNKNOWN
SARIdentifierDescription=UNKNOWN
disseminationControlsDescription=UNKNOWN
FGIsourceOpenDescription=UNKNOWN
FGIsourceProtectedDescription=UNKNOWN
releasableToDescription=UNKNOWN
nonICmarkingsDescription=UNKNOWN
classifiedByDescription=UNKNOWN
derivativelyClassifiedByDescription=UNKNOWN
classificationReasonDescription=UNKNOWN
derivedFromDescription=UNKNOWN
declassDateDescription=9999-01-01
declassEventDescription=UNKNOWN
declassExceptionDescription=UNKNOWN
typeOfExemptedSourceDescription=UNKNOWN
dateOfExemptedSourceDescription=UNKNOWN
declassManualReviewDescription=UNKNOWN

classificationSecurity=U
ownerProducerSecurity=USA
SCIcontrolsSecurity=UNKNOWN
SARIdentifierSecurity=UNKNOWN
disseminationControlsSecurity=UNKNOWN
FGIsourceOpenSecurity=UNKNOWN
FGIsourceProtectedSecurity=UNKNOWN
releasableToSecurity=UNKNOWN
nonICmarkingsSecurity=UNKNOWN
classifiedBySecurity=UNKNOWN
derivativelyClassifiedBySecurity=UNKNOWN
classificationReasonSecurity=UNKNOWN
derivedFromSecurity=UNKNOWN
declassDateSecurity=9999-01-01
declassEventSecurity=UNKNOWN
declassExceptionSecurity=UNKNOWN
typeOfExemptedSourceSecurity=UNKNOWN
dateOfExemptedSourceSecurity=UNKNOWN
declassManualReviewSecurity=UNKNOWN
