@{customElementNamespace}ingest {
  .customElement;

  > .ingest-uploader {
    .customElement;
    display: flex;

    > .ingest-editor {
      width: 25%;
    }

    > .ingest-details {
      flex: 1;
    }
  }
}
