@{customElementNamespace}input.is-boolean {
  input {
    display: none;
  }

  .if-editing label {
    width: 100%;
    cursor: pointer;
    height: @minimumButtonSize;
  }

  .checkbox-placeholder {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    text-align: left;

    span {
      font-size: @minimumFontSize;
    }
  }

  .is-not-checked {
    display: block;
    font-size: @largeFontSize;
  }

  .is-checked {
    display: none;
    font-size: @largeFontSize;
    color: @primary-color;
  }

  input:checked + button {
    .is-checked {
      display: block;
    }
    .is-not-checked {
      display: none;
    }
  }
}
