<div>
    <div class="notification-subtitle">{{title}}</div>
    <hr class="notification-hr">
    <div class="notification-message">{{message}}</div>
    <div class="notification-time">{{momentHelp timestamp format="MMMM Do YYYY, h:mm:ss a"}}</div>
</div>
