<div style="width: 100%">
    <div class="notification-title-menu">{{application}}</div><div class="notification-time-menu">{{momentHelp timestamp fromNow=function}}</div>
</div>

<div class="notification-message-menu">{{message}}</div>
<hr class="menu-divider" />