<div class="notification-title-menu">{{application}}</div><div class="notification-time-menu">{{formattedTime}}</div>
<div class="notification-message-menu">{{message}}</div>
<hr class="menu-divider" />