@{customElementNamespace}result-item {
  display: block;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  opacity: 1;

  .content-header {
    white-space: nowrap;
    line-height: @minimumLineSize;
    height: @minimumLineSize;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px @minimumSpacing;

    > .header-title {
      display: inline;
    }
  }

  .content-footer {
    white-space: nowrap;
    text-align: right;
    height: @minimumButtonSize;
    padding: 0px @minimumSpacing;

    > .result-download {
      display: none;
    }

    > .result-actions,
    .result-validation {
      display: inline-block;
    }
    > div,
    > button {
      text-align: center;
      vertical-align: top;
      width: @minimumButtonSize;
      height: @minimumButtonSize;
      line-height: @minimumButtonSize;
    }
    @{customElementNamespace}dropdown {
      height: 100%;
    }
  }

  .container-indicator {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0.5 * @minimumSpacing;
    height: 100%;
  }

  .container-content {
    width: ~'calc(100% - 0.5*@{minimumSpacing})';
    position: relative;
    left: 0.5 * @minimumSpacing;
  }

  .result-add {
    display: none;
  }

  .result-link {
    display: none;
  }

  .details-property {
    height: @minimumLineSize;
    line-height: @minimumLineSize;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .content-body {
    padding: 0px @minimumSpacing;
  }

  .content-body .details-property {
    opacity: @minimumOpacity;
  }

  .result-validation .resultError {
    color: @negative-color !important;
  }

  .result-validation .resultWarning {
    color: @warning-color !important;
  }

  .result-validation .resultWarning,
  .result-validation .resultError {
    display: inline-block;
    width: 100%;
    line-height: inherit;
  }

  .detail-thumbnail {
    display: none;
  }

  .header-icon {
    display: none;
    padding-right: @minimumSpacing;
  }

  .source-icon {
    display: inline;
    padding-right: @minimumSpacing;
  }

  .checkbox-container {
    float: left;
  }
}

@{customElementNamespace}result-item.in-workspace {
  .result-add {
    display: inline-block;
  }
}

@{customElementNamespace}result-item.is-blacklisted {
  opacity: 0.4;
}

@{customElementNamespace}result-item.is-grid {
  .detail-thumbnail {
    opacity: 1;
    display: block;
    height: auto;
    padding: 0.5 * @minimumSpacing 0px;

    img {
      max-width: 100%;
      max-height: 120px;
    }
  }
}

@{customElementNamespace}result-item.is-workspace {
  .header-icon.fa-book {
    display: inline;
  }
}

@{customElementNamespace}result-item.is-resource {
  .header-icon.result-icon {
    display: inline;
  }
}

@{customElementNamespace}result-item.is-revision {
  .header-icon.fa-history {
    display: inline;
  }
}

@{customElementNamespace}result-item.is-deleted {
  .header-icon.fa-trash {
    display: inline;
  }
}

@{customElementNamespace}result-item.is-downloadable {
  .content-footer {
    > .result-download {
      display: inline-block;
    }
  }
}

@{customElementNamespace}result-item.is-link {
  .content-footer {
    > .result-link {
      display: inline-block;
    }
  }
}
