@{customElementNamespace}result-item-collection {
  display: block;
  padding: 0px @minimumSpacing;
  @{customElementNamespace}result-item + @{customElementNamespace}result-item {
    margin-top: 2 * @minimumSpacing;
  }

  > .result-item-collection-empty {
    box-shadow: none !important;
    padding: @minimumSpacing;
    text-align: center;
  }
}
