@{customElementNamespace}input.is-bulk {
  display: block;
  width: 100%;

  select {
    color: black;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    vertical-align: top;
    -webkit-appearance: menulist-button;
    width: 100%;
  }
  option::after {
    content: 'hey';
  }

  .value-list-header {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    width: 100%;
    display: block;
  }

  > .if-viewing img {
    max-height: 140px;
  }

  .value-list {
    border: 1px solid grey;
    max-height: 140px;
    overflow: auto;
    width: 90%;
    display: inline-block;
  }

  .value-list.is-thumbnail {
    max-height: 200px;
    white-space: normal;
    .list-value:not(.hasNoValue) {
      display: inline-block;
      vertical-align: bottom;
      padding: @minimumSpacing;
      .cell-value {
        max-width: none;
      }
      .cell-hits {
        display: none;
      }
    }
  }

  .list-value {
    line-height: @minimumButtonSize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px;
    position: relative;
  }

  .list-value.hasNoValue {
    opacity: @minimumOpacity;
  }

  .value-subvalue {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell-value,
  .cell-hits {
    display: inline-block;
    vertical-align: top;
  }

  .cell-value {
    max-width: ~'calc(100% - 100px)';
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell-hits {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cell-validation {
    position: absolute;
    right: 20px;
    line-height: @minimumButtonSize;
    top: 50%;
    transform: translateY(-50%);
  }

  .if-homogeneous,
  .if-other {
    display: none;
  }
}

@{customElementNamespace}input.is-bulk.is-homogeneous {
  .if-homogeneous,
  .if-other {
    display: block;
  }

  > .if-editing,
  > .if-viewing {
    display: none;
  }
}

@{customElementNamespace}input.is-bulk.is-editing {
  > .if-viewing {
    .value-list {
      overflow: hidden;
    }
  }
}

@{customElementNamespace}input.is-bulk.is-other.is-editing {
  .if-homogeneous,
  .if-other {
    display: block;
    margin-top: @minimumSpacing;
  }

  > .if-editing {
    display: block;
    position: relative;
    top: 0px;
    z-index: 1;
    transform: none;
  }

  > .if-viewing {
    display: none;
  }
}
