@{customElementNamespace}upload-item {
    display: block;
    width: 100%;
    height: 2*@minimumButtonSize;
    line-height: @minimumButtonSize;
    animation: new-upload .250s 1 ease-in-out;
    overflow: hidden;


    > div {
        display: inline-block;
        vertical-align: top;
    }

    .upload-actions,
    .upload-info {
        vertical-align: top;
    }

    .details-top,
    .details-bottom,
    .bottom-info,
    .bottom-percentage {
        height: @minimumButtonSize;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-filename,
    .bottom-filesize,
    .bottom-filetype,
    .bottom-percentage,
    .success-message,
    .error-message {
        font-size: @minimumFontSize;
        transition: transform @coreTransitionTime linear, opacity @coreTransitionTime linear;
    }

    .upload-info {
        width: ~'calc(100% - @{minimumButtonSize})';
        height: 100%;
        text-align: center;
        position: relative;
    }

    .upload-actions {
        width: @minimumButtonSize;
        height: 2*@minimumButtonSize;
        overflow: hidden;
        > div {
            display: inline-block;
            vertical-align: top;
        }
    }

    .upload-actions button,
    .upload-actions div {
        width: 100%;
        height: 100%;
        transition: transform @coreTransitionTime linear;
        line-height: 2*@minimumButtonSize;
        text-align: center;
        color: @button-text-color;
    }

    .upload-actions div span {
        font-size: @largeFontSize;
    }

    .upload-fail {
        background: @negative-color;
    }

    .info-progress {
        position: absolute;
        z-index: 0;
        left: 0px;
        top: 0px;
        width: 0%;
        height: 100%;
        transition: width @coreTransitionTime linear;
    }

    .info-details {
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .success-validate,
    .success-issues {
        transition: transform @coreTransitionTime linear, opacity @coreTransitionTime linear;
        transform: scale(0);
        opacity: 0;
    }

    .success-issues {
        color: @warning-color;
    }

    .info-success,
    .info-error {
        height: 0%;
        overflow: hidden;
    }

    @keyframes new-upload{
        0% {
            transform: scaleY(0);
            height: 0px;
        }
        100% {
            transform: scaleY(1);
            height: 2*@minimumButtonSize;
        }
    }
}

@{customElementNamespace}upload-item.is-removed {
    animation: removed-upload .250s 1 ease-in-out;

     @keyframes removed-upload{
        0% {
            transform: scaleY(1);
            height: 2*@minimumButtonSize;
        }
        100% {
            transform: scaleY(0);
            height: 0px;
        }
    }
}

@{customElementNamespace}upload-item.show-progress {
    .bottom-info {
        transform: translateY(100%);
        opacity: 0;
    }

    .bottom-percentage {
        transform: translateY(-100%);
        opacity: 1;
    }
}

@{customElementNamespace}upload-item.has-success,
@{customElementNamespace}upload-item.has-error {
    .info-details,
    .info-progress {
        transform: translateX(-100%);
    }
}

@{customElementNamespace}upload-item.has-success {
    cursor: pointer;
    .info-success {
        height: 100%;
        line-height: 2*@minimumButtonSize;
        padding: 0px 10px;
    }

    .success-message {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .upload-cancel,
    .upload-expand,
    .upload-fail {
        transform: translateX(-100%);
    }
}

@{customElementNamespace}upload-item.has-error {
    .info-error {
        height: 100%;
        line-height: 2*@minimumButtonSize;
        padding: 0px 10px;
    }

    .error-message {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .upload-cancel,
    .upload-expand,
    .upload-fail {
        transform: translateX(-200%);
    }
}

@{customElementNamespace}upload-item.checking-validation {
    .success-validate {
        opacity: @minimumOpacity;
        transform: scale(1);
    }
}   

@{customElementNamespace}upload-item.has-validation-issues {

    .success-issues {
        opacity: @minimumOpacity;
        transform: scale(1) translateX(100%);
    }
}

@{customElementNamespace}upload-item.has-validation-issues.checking-validation {

    .success-issues {
        opacity: @minimumOpacity;
        transform: scale(1) translateX(0%);
    }
}