@{customElementNamespace}location-old {
  display: block;

  width: auto;

  .location-draw {
    padding: 0px 15px;
    button {
      width: 100%;
    }
  }

  input {
    width: 12.5rem;
    font-size: @minimumFontSize !important;
  }

  .input-group > .input-group-addon {
    border: none;
  }

  .ui-multiselect.ui-widget {
    border: none;
  }

  div.multiselect span {
    font-weight: normal;
    font-size: @minimumFontSize;
  }

  button.multiselect > span {
    font-size: @minimumFontSize;
  }

  .is-loading-geometry-spinner {
    display: none;
  }

  &.is-loading-geometry {
    .is-loading-geometry-spinner {
      .fa-refresh {
        margin-left: @minimumSpacing;
      }
      display: inline;
    }    
  }

  .btn-group {
    position: relative;
    margin-bottom: @minimumSpacing !important;

    input {
      display: none;
    }

    .fa-circle-o,
    .fa-circle {
      display: none !important;
    }

    label {
      font-size: @minimumFontSize !important;
      min-width: @minimumButtonSize;
      position: static !important;
      opacity: @minimumOpacity;
      padding: @minimumSpacing !important;
    }

    label:hover {
      background-color: inherit;
      opacity: 1;
    }

    .btn:active {
      box-shadow: none !important;
    }

    label.active {
      opacity: 1;
      box-shadow: none;
    }

    label.active::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0px;
      height: 1px;
      width: 100%;
    }
  }

  .form-group {
    margin: 0px !important;

    .input-group-addon {
      font-size: @minimumFontSize;
      padding: 0px @minimumSpacing;
    }

    .input-group {
      height: @minimumButtonSize;
      line-height: @minimumButtonSize;

      > span {
        min-width: 9.375rem;
        background: inherit;
        font-size: @minimumFontSize;
      }

      > input {
        height: 100%;
      }

      > label {
        font-size: @minimumFontSize;
      }


    }

    .input-group + .input-group:not(#usngdiv):not(#usngbbdiv):not(#utmdivEasting):not(#utmuldiv) {
      border-top: none;
    }

    .input-group.for-hemisphere,
    .input-group.for-zone,
    .input-group.for-radius,
    .input-group.for-line {

      > input {
        height: 100%;
      }
      > span.input-group-btn {
        min-width: 0px;
        button {
          height: 100%;
          text-align: center;
          width: 8.125rem !important;
        }
      }
    }

  }

  #keyword-autocomplete {
    width: 80%;
    .property-label {
      display: none;
    }
  }

  .col-lg-10 {
    max-width: 2 * @minimumScreenSize;
    float: none;
  }
}

@{customElementNamespace}location-old.is-editing {


  .btn-group:hover {
    label,
    label.active {
      opacity: @minimumOpacity;
    }

    label:hover,
    label.active:hover {
      opacity: 1;
    }
  }
}

@{customElementNamespace}location-old.is-line,
@{customElementNamespace}location-old.is-polygon,
@{customElementNamespace}location-old.is-keyword {
  .geo-types {
    display: none !important;
  }
}

@{customElementNamespace}location-old {
  &.is-line,
  &.is-bbox,
  &.is-circle,
  &.is-polygon {
    .location-draw {
      display: block;
    }
  }
}

@{customElementNamespace}location-old.is-uploadshape,
@{customElementNamespace}location-old.is-keyword,
@{customElementNamespace}location-old {
  .location-draw {
    display: none;
  }
}