@{customElementNamespace}show-attribute {
    .customElement;

    > button {
        width: 100%;
        display: none;
    }
}

@{customElementNamespace}show-attribute.has-custom-summary {
    > button {
        display: block;
    }
}