@border: #ccc;
@fg: #2c3e50;
@bg: #fff;
@grey: #ecf0f1;

.container {
  position: relative;
  height: 100%;
  background: #ccc;
}

.filterRow {
  color: @fg;
  background: @bg;
  width: 100%;
  height: 60px;
  border-bottom: 1px @border solid;
}

.logRows {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  top: 61px;
  bottom: 0px;
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.header {
  color: @fg;
  background: @grey;
  padding: 2px;
}

.logs {
  display: table-row;
  position: relative;
}

.controls {
  padding: 4px;
}

.loading {
  color: @fg;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}
