@{customElementNamespace}query-selector {
  @buttonMargin: 10px;

  .resetIconLineHeight;
  .customElement;
  overflow: auto;


  > button {
    margin-top: @buttonMargin;
    display: none;
    width: 100%;
    padding: 10px;
    height: @minimumButtonSize;
  }

  .querySelector-list {
    max-height: ~"calc(100%)";
    overflow: auto;
  }

  &.can-addQuery {
    > button {
      display: block;
    }
    .querySelector-list {
      max-height: ~"calc(100% - @{minimumButtonSize} - @{buttonMargin})";
    }
  }

  .if-empty {
    display: none;
  }

  @{customElementNamespace}query-item {
    .query-details:hover {
      color: lighten(@primary-color, 20%);
    }
  }

  @{customElementNamespace}query-item.is-selected {
    font-weight: bold;
  }

  @{customElementNamespace}query-item.is-selected {
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      border-right: 1px solid grey;
    }
  }
}

@{customElementNamespace}query-selector.is-empty {
  .if-empty {
    display: block;
  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}query-selector {

  }
}
