@{customElementNamespace}blacklist-item {
  display: block;
  height: @minimumButtonSize;
  overflow: hidden;

  .item-details {
    padding: 0px @minimumSpacing;
    text-align: center;
    width: ~'calc(100% - @{minimumButtonSize})';
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  button.is-positive {
    width: @minimumButtonSize;
  }

  .item-details,
  button {
    display: inline-block;
    vertical-align: top;
  }
}

@{customElementNamespace}blacklist-item
  + @{customElementNamespace}blacklist-item {
  margin-top: @minimumSpacing;
}

@{customElementNamespace}blacklist-item.is-destroyed {
  height: 0px !important;
  margin: 0px !important;
  transition: height @coreTransitionTime linear,
    margin @coreTransitionTime linear;
}
