@{customElementNamespace}visualization-selector {

  .visualization-choice {
    white-space: nowrap;
    padding: @largeSpacing;
    .grab-cursor;
  }
  .visualization-icon {
      text-align: center;
      width: @minimumButtonSize;
  }

  .visualization-icon,
  .visualization-text {
    display: inline-block;
    vertical-align: middle;
  }

  .visualization-text {
    width: ~'calc(100% - @{minimumButtonSize})';
    font-size: @mediumFontSize;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}