@{customElementNamespace}visualization-selector {

    > div {
        padding: @minimumSpacing;
    }

    .visualization-choice {
        display: block;
        padding: @largeSpacing;
        height: auto;
        width: 100%;
        text-align: left;
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;

        > span + span {
        margin-left: @minimumSpacing;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }

        > span:nth-of-type(2) {
            max-width: ~'calc(100% - @{minimumButtonSize})';
        }
    }
}