@{customElementNamespace}visualization-selector {
  font-size: @largeFontSize;

  .visualization-choice {
    white-space: nowrap;
    padding: @minimumSpacing;
    margin: @largeSpacing 0;
    border: 1px dashed contrast(@backgroundNavigation);
    .grab-cursor;

  }
  .visualization-icon {
      text-align: center;
      width: @minimumButtonSize;
  }

  .visualization-icon,
  .visualization-text {
    display: inline-block;
    vertical-align: middle;
  }

  .visualization-text {
    width: ~'calc(100% - @{minimumButtonSize})';
    font-size: @mediumFontSize;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}