@{customElementNamespace}home {
  .customElement;
  background: @niceGrey;

  .home-menu {

  }

  .home-content {
    max-height: ~'calc(100% - 60px)';
    overflow: auto;
  }

}

body.has-header @{customElementNamespace}home,
body.has-footer @{customElementNamespace}home{
  height: ~'calc(100% - 20px)';
}

body.has-header.has-footer @{customElementNamespace}home {
  height: ~'calc(100% - 40px)';
}

@media (max-width: @mediumScreenSize) {
  @{customElementNamespace}home {

  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}home {

  }
}
