@{customElementNamespace}content-title{
  .customElement;
  position: relative;

  .title-display {
    display: inline-block;
    padding: 0px 18px 0px 10px;
    height: ~'calc(100% - 4px)';
    transition: padding @coreTransitionTime ease-out;
    transition-delay: @coreTransitionTime;
    visibility: hidden;
    font-size: @largeFontSize;
    line-height: inherit;
    border: none;
    font-family: inherit;
    margin: 0px;
    overflow: hidden;
  }
  
  .title-display:empty::before {
    content: 'Workspace Title';
  }

  .title-saved {
    line-height: ~'calc(2*@{minimumLineSize} - 6px)';
    color: @warning-color;
    position: absolute;
    padding-right: 0px;
    height: ~'calc(100% - 6px)';
    right: 0px;
    top: 3px;
    background: @backgroundNavigation;
    transform: scale(1);
    opacity: 1;
    transition: padding @coreTransitionTime ease-out @coreTransitionTime, transform @coreTransitionTime ease-out, opacity @coreTransitionTime ease-out;
  }

  input {
    color: inherit;
    padding-top: 3px;
    position: absolute;
    left: 1px;
    top: 2px;
    display: inline-block;
    vertical-align: top;
    height: ~'calc(100% - 4px)';
    min-width: 1px;
    background: @backgroundNavigation !important;
    border: none !important;
    font-size: @largeFontSize;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    transition: padding @coreTransitionTime ease-out;
    transition-delay: @coreTransitionTime;
    padding-right: 15px;
  }
  
  input:focus {
    cursor: text;
    text-decoration: none;
    padding-right: 25px;
    transition-delay: 0s;
  }

  input:focus + .title-display {
    padding: 0px 30px 0px 25px;
    transition-delay: 0s;
  }

  input:focus + .title-display + .title-saved {
    padding-right: 5px;
    transition-delay: 0s;
  }
}