{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="segment-associations">
    <div class="association-header">
        <lable class="nested-label2">Associations</lable>
        <a href="#" class="description" title="Associations" data-toggle="popover" data-trigger="hover"
           data-content="Associations link different parts of the registry together. This is usually done to associate a particular organization or contact with a certain service, collection, or endpoint but is not limited to just those.">
            <i class='fa fa-question-circle fa-lg'></i>
        </a>
        <select class="association-selector" {{#lt availableAssociation.length 1}}disabled{{/lt}}>
            {{#each availableAssociation}}
                <option name="{{this.segmentId}}"
                        value="{{this.segmentName}}">{{this.segmentName}}</option>
            {{/each}}
        </select>
        <a href="#"
           class="add-association fa fa-plus-square fa-lg plus-button {{#lt availableAssociation.length 1}}disabled-link{{/lt}}"></a>
    </div>
    <label>The following entities are associated with this entity:</label>
    <table class='association-table table align-middle'>
        <tbody class="association-list">

        </tbody>
    </table>

</div>