{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Delete Registry Node: {{name}}
            </h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete registry node {{name}}?</p>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button type="button" class="btn btn-primary submit-button">Delete</button>
                <button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>