{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<table class='table table-striped align-middle'>
    <thead>
    <th class="name">Name</th>
    <th class="created">Live Date</th>
    <th class="modified">Last Modified</th>
    <th/>
    <th>
        {{#if multiValued}}
            {{#unless readOnly}}
                <a href="#" class="button-icon add-node-link fa fa-plus"></a>
            {{/unless}}
            <a href="#" id="{{region}}" class="button-icon remove-all-node-link fa fa-trash-o"></a>
        {{/if}}
    </th>
    </thead>
    <tbody>

    </tbody>
</table>

