{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div id="registry-modal"></div>
<div id="nodeTables">
    <div id="node-operations">
        <button class="btn btn-default refresh-button">Refresh Nodes</button>
        <button class="btn btn-default regenerate-sources">Regenerate Sources</button>
    </div>
    <div>
        <label class="node-table-label">Local Identity Node</label>
        {{#if waitingForData}}
            <i class="fa fa-lg fa-spinner fa-spin loading" title="Loading..."></i>
        {{/if}}
        <div id="localIdentityNodeRegion"></div>

        <label class="node-table-label">Additional Local Nodes</label>
        {{#if waitingForData}}
            <i class="fa fa-lg fa-spinner fa-spin loading" title="Loading..."></i>
        {{/if}}
        <div id="localAdditionalNodeRegion"></div>

        <label class="node-table-label">Remote Nodes</label>
        {{#if waitingForData}}
            <i class="fa fa-lg fa-spinner fa-spin loading" title="Loading..."></i>
        {{/if}}
        <div id="remoteNodeRegion"></div>
    </div>
</div>
<div id="IframeModalDOM" class="IframeModalDOM"></div>