@import 'vars.less';
@import 'mixins.less';
@import 'util.less';
@import 'components/init.less';

// override for cesium draw helper.
// when in draw mode, this tooltip will still appear.
.twipsy {
  display: none;
}

.ol-dragbox {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(100, 150, 0, 1);
}
