@{customElementNamespace}property {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: @minimumSpacing 1.5rem;
  position: relative;

  .property-label,
  .property-value {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .property-label {
    text-align: right;
    > div,
    > label {
      vertical-align: middle;
    }
  }

  .property-label label {
    cursor: auto;
    .is-bold();
    max-width: ~'calc(100% - @{minimumButtonSize})';
    margin: 0px;
    line-height: 1.4;
    padding: @minimumSpacing 0px;
    min-height: @minimumButtonSize;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: normal;
  }

  .property-revert {
    display: none;
  }

  .property-revert {
    font-size: @mediumFontSize;
    vertical-align: bottom;
    color: orange;
  }

  .property-revert:hover {
    color: shade(orange, 10%);
  }

  .property-revert:focus {
    color: shade(orange, 25%);
  }

  .property-required {
    display: none;
    font-size: @minimumFontSize;
    vertical-align: top;
    color: @negative-color;
  }

  .input-validation:nth-of-type(2) {
    display: none;
  }

  .input-validation {
    line-height: @minimumButtonSize;
    padding: 0px @minimumSpacing;
  }

  .property-readOnly,
  .property-conflictingDefinitions {
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: @largeFontSize;
    line-height: @minimumButtonSize;
    height: 100%;
    padding-right: @largeSpacing;
    padding-top: @minimumSpacing;
    opacity: @minimumOpacity;
    .background-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05));
    z-index: 0;
  }

  .for-error.for-error-validation {
    color: contrast(@negative-color);
    line-height: @minimumLineSize;
    padding-left: @minimumSpacing;
    background: @negative-color;
    height: auto;

    .error-required {
      display: none;
    }

    .error-validation {
      display: block;
      color: contrast(@negative-color);
      .is-hidden {
        display: none;
      }
    }
  }

  &.failed-required-check.show-required-warning {
    .for-error.for-error-validation .error-required {
      display: block;
    }
  }
}

@{customElementNamespace}property.is-editing.has-conflicting-definitions:not(.is-readOnly) {
  .property-conflictingDefinitions {
    display: inline-block;
  }
}

@{customElementNamespace}property.is-readOnly.is-editing {
  .property-readOnly {
    display: inline-block;
  }
}

@{customElementNamespace}property.is-editing:not(.is-readOnly) {
  .property-label label {
    cursor: pointer;
  }
}

@{customElementNamespace}property.hide-label {
  .property-label {
    display: none;
  }
}

@{customElementNamespace}property.only-editing {
  .if-viewing {
    max-height: @minimumButtonSize;
  }
}

@{customElementNamespace}property.is-editing.is-changed:not(.is-readOnly) {
  .property-revert {
    display: inline-block;
  }
}

@{customElementNamespace}property.is-editing.is-required:not(.is-readOnly) {
  .property-required {
    display: inline-block;
  }
}

@{customElementNamespace}property.has-limited-width {
  white-space: normal;

  .property-value,
  .property-label {
    width: 100%;
  }

  .property-label {
    text-align: left;
  }

  .if-inline {
    display: none;
  }

  .if-block {
    display: inherit;
  }
}

.is-medium-screen,
.is-small-screen,
.is-mobile-screen {
  @{customElementNamespace}property {
    white-space: normal;

    .property-value,
    .property-label {
      width: 100%;
    }

    .property-label {
      text-align: left;
    }

    .if-inline {
      display: none;
    }

    .if-block {
      display: inherit;
    }
  }
}
