@{customElementNamespace}editor {
  .customElement;

  overflow: hidden;

  .editor-properties {
    display: inline-block; // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
    width: 100%;
    overflow: auto;
    padding: 10px 10px;
    max-height: ~'calc(100% - 3*@{minimumButtonSize})';
  }

  > .editor-header {
    text-align: center;
    > div {
      display: inline-block;
      padding: 0px @minimumSpacing;
    }
  }

  .editor-footer {
    margin-top: 20px;
    height: @minimumButtonSize;
    white-space: nowrap;

    > button {
      height: 100%;
      display: inline-block;
    }
    > .editor-edit {
      width: 100%;
    }
    > .editor-cancel {
      width: 50%;
      display: none;
    }
    > .editor-save {
      width: 50%;
      display: none;
    }
  }

  &.is-editing {
    .editor-footer {
      > .editor-edit {
        display: none;
      }
      > .editor-cancel {
        display: inline-block;
      }
      > .editor-save {
        display: inline-block;
      }
    }
  }

  @{customElementNamespace}property.scheduled-for-add {
    border-left: 1px solid @positive-color;
    border-right: 1px solid @positive-color;
  }

  @{customElementNamespace}property.scheduled-for-add::after {
    content: 'New';
    display: block;
    text-align: center;
    font-size: @largeFontSize;
    min-height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }

  @{customElementNamespace}property.scheduled-for-removal > .property-value {
    display: none;
  }

  @{customElementNamespace}property.scheduled-for-removal {
    border-left: 1px solid @negative-color;
    border-right: 1px solid @negative-color;
  }

  @{customElementNamespace}property.scheduled-for-removal::after {
    content: 'Deleted';
    display: block;
    text-align: center;
    font-size: @largeFontSize;
    min-height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }
}

.is-editing-restricted @{customElementNamespace}editor:not(.is-owner),
@{customElementNamespace}editor.is-revision,
@{customElementNamespace}editor.is-deleted,
@{customElementNamespace}editor.is-remote {
  .editor-footer {
    display: none !important;
  }
}

.is-medium-screen,
.is-small-screen,
.is-mobile-screen {
}
