@{customElementNamespace}navigator {
    .customElement;
    overflow: auto;

    button.navigation-choice,
    .navigation-choice {
        display: block;
        padding: @largeSpacing;
        height: auto;
        text-align: left;
        width: 100%;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }

    .navigation-choice > span:first-of-type {
        min-width: @minimumButtonSize;
        text-align: center;
    }

    .navigation-links {
        position: relative;
        .navigation-choice .fa {
            padding-right: @minimumSpacing;
        }
    }

    .choice-workspaces .workspaces-indicator {
        padding-left: @minimumSpacing;
        display: inline-block;
    }

    .workspaces-save {
        position: absolute;
        right:0px;
        top: 0px;
        height: auto;
        overflow: hidden;
        max-width: 100%;
        .is-large-font();
        line-height: @minimumButtonSize;
    }

    .workspaces-save > @{customElementNamespace}save {
        padding: @largeSpacing;
    }

    .sources-indicator {
        opacity: 0;
        transform: scale(0);
        color: @warning-color;
        padding: 0px @minimumSpacing;
        transition: transform @coreTransitionTime ease-out, opacity @coreTransitionTime ease-out;
    }

    .dynamic-text {
        display: inline-block;
        vertical-align: top;
        width: ~'calc(100% - @{minimumButtonSize} - @{minimumSpacing})';
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button.navigation-choice.choice-dev,
    button.navigation-choice.choice-upload {
        display: none;
    }
}

@{customElementNamespace}navigator.is-saved {

    .workspaces-save {
        opacity: 1;
        transition: max-width 0s linear 10*@coreTransitionTime;
        overflow: hidden;
        max-width: 0%;
    }

}

@{customElementNamespace}navigator.has-unavailable {

    .sources-indicator {
        opacity: 1;
        transform: scale(1);
    }

}

html.is-upload-enabled {
    @{customElementNamespace}navigator {
        button.navigation-choice.choice-upload {
            display: block;
        }
    }
}

html.is-development {
    @{customElementNamespace}navigator {
        button.navigation-choice.choice-dev {
            display: block;
        }
    }
}