@{customElementNamespace}annotation {
  display: block;
  position: relative;
  white-space: nowrap;
  > .annotation-editor-btns {
    display: none;
  }
  > .annotation-content {
    text-align: left;
  }
  > .editor-footer {
    white-space: nowrap;
    .inlineBlockDisplay(button);
    .footer-cancel,
    .footer-save,
    .footer-delete {
      display: none;
      width: ~'calc(50% - 15px)';
    }
    .footer-cancel {
      margin-left: 10px;
    }
  }
}

@{customElementNamespace}annotation.is-editing {
  .customElement;

  > .editor-footer {
    .footer-cancel,
    .footer-save {
      display: inline-block;
      width: ~'calc(50% - 20px)';
    }
    .footer-cancel {
      margin-right: 5px;
    }
  }
  .annotation-edit {
    color: @positive-color;
  }
}

@{customElementNamespace}annotation.is-deleting {
  .customElement;

  > .editor-footer {
    .footer-cancel,
    .footer-delete {
      display: inline-block;
    }
    .footer-cancel {
      margin-right: 5px;
    }
  }
  .annotation-remove {
    color: @negative-color;
  }
}

@{customElementNamespace}annotation.is-modifiable {
  .customElement;
  > .annotation-editor-btns {
    display: block;
    position: relative;
    float: right;
    top: 5px;
    right: 25px;
    z-index: 1000;
  }

}

@{customElementNamespace}annotation:not(.is-editing) {
  > .annotation-content .annotation-parent,
  > .annotation-content .annotation-child {
    display: none;
  }
}