@{customElementNamespace}system-information {
  display: block;

  h3 {
    margin-top: 0px;
    padding: 0px @largeSpacing;
  }

  div + h3 {
    margin-top: @largeSpacing;
  }

  .information-row {
    padding: @minimumSpacing @largeSpacing;
    white-space: nowrap;
    margin-left: @largeSpacing;
  }

  .information-category:hover h3,
  .information-row:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  .row-label:after {
    content: ':';
  }

  .row-value {
    margin-left: @largeSpacing;
  }
}
