.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
}

.main {
  margin: 20px;
  padding: 40px;
  max-width: 800px;
  position: relative;
}

.container {
  width: 580px;
  margin: auto;
}

.description {
  text-align: center;
  font-size: 0.85em;
  color: #777;
}

.submitting {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9001;
  display: flex;
}

.error {
  margin-top: 20px;
  color: white;
  background: rgb(244, 67, 54);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}

.success {
  margin-top: 20px;
  color: white;
  background: #4CAF50;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}

.queryResultStyle {
  font-size: 14px;
}
