@{customElementNamespace}dev-static-dropdown-guide {
  display: block;

  .instance.composed-button {
    padding: 0px;
  }
  .instance.composed-button > @{customElementNamespace}dropdown {
    padding: 0px @minimumSpacing;
  }
}

@{customElementNamespace}dropdown-companion
  @{customElementNamespace}dev-static-dropdown-guide {
  display: block;
  padding: 0px @mediumSpacing;
}

@{customElementNamespace}dev-static-dropdown-guide.flip-background {
  display: block;
  .example:nth-of-type(4) {
    .changeBackground(orange);
  }
}
