div.is-divider {
    height: @dividerHeight;
    margin: @minimumSpacing 0px;
}

div.is-divider.is-inline {
    height: 100%;
    display: inline-block;
    margin: 0px @minimumSpacing;
    width: @dividerHeight;
}

.is-divider(@contrastColor: white) {
    div.is-divider {
        background: fade(@contrastColor, 10%);
    }
}

.is-divider();