header,
footer {
    line-height: 1.5rem;
    max-height: 1.5rem;
    text-align: center;

    div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0px @minimumSpacing;
    }
}