header,
footer {
    display: none;
    line-height: 1.5rem;
    max-height: 1.5rem;
    text-align: center;
    position: relative;
    div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0px @minimumButtonSize;
    }

    button {
        position: absolute;
        right: 0px;
    }

    .is-development,
    .is-hot-reloading {
        display: none;
    }

    .fa-times {
        cursor: pointer;
        width: @minimumButtonSize;
        line-height: inherit;
        height: 100%;
        font-size: inherit;
    }

    &.is-not-blank {
        .is-hot-reloading,
        .is-development {
            display: none !important;
        }
    }
}

body {
   &.has-header {
    header {
        display: block;
    }
   } 

   &.has-footer {
    footer {
        display: block;
    }
   } 
}

// for distinguishing development and hot reloading from production builds
html.is-development {
    header div,
    footer div {
        background: @primary-color;
        color: @button-text-color;
    }

    header,
    footer {
        .is-development {
            display: inline;
        }
    }

    &.is-hot-reloading {
        header,
        footer {
            .is-hot-reloading {
                display: inline;
            }
        }
    }
}