.has-header {
  #loading {
    height: ~'calc(100% - 1.5rem)';
    top: 1.5rem;
  }
}

.has-footer {
  #loading {
    height: ~'calc(100% - 1.5rem)';
    top: 0px;
  }
}

.has-header.has-footer {
  #loading {
    height: ~'calc(100% - 3rem)';
    top: 1.5rem;
  }
}

#loading {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  line-height: 100vh;
  font-size: @largeFontSize;
  text-align: center;
  background: @backgroundAccentContent;
  position: fixed;
  transform: translateX(-100%);
  transition: transform .75s ease-in-out;
  z-index: 1000;

  &.is-open {
    transform: translateX(0%);
  }

  .loader {
    opacity: 1;
    transition: opacity @coreTransitionTime linear;
  }

  .loading-welcome {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    line-height: 10em;
    position: relative;
    top: -100vh;
    margin-bottom: 150px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity @coreTransitionTime linear;
  }

  &.show-welcome {
    .loader {
        opacity: .1;
    }
    .loading-welcome {
      opacity: 1;
    }
  }
}

.loader {
  display: inline-block;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: @backgroundAccentContent;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  vertical-align: middle;
  line-height: 10em;
  font-size: @minimumFontSize;
  margin: 0px auto 150px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: @backgroundAccentContent;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
