@{customElementNamespace}content-title{
  .customElement;
  position: relative;

  input {
    display: inline-block;
    vertical-align: top;
    height: ~'calc(100% - 2px)';
  }

  input {
    min-width: 1px;
    background: @navigation-background-color;
    border: none;
    font-size: @largeFontSize;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
  }
  input:focus {
    cursor: text;
    text-decoration: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: grey;
  }
}