@{customElementNamespace}query-status {

  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;

  .is-list > div {
    height: 30px;
    line-height: 30px;
  }

  .details {
    font-weight: bolder;
  }

  .status > div {
    height: 100%;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .status-source {
    float: left;
    font-weight: bolder;
  }

  .status-result {
    float: right;
    text-align: right;
  }
}