@{customElementNamespace}help {
  .customElement;

  position: fixed;
  z-index: @zIndexHelp;
  left: 0px;
  top: 0px;
  height: 100%;

  background: rgba(0,0,0,.8);
  mix-blend-mode: hard-light;

  opacity: 0;
  transform: translateX(-100%);
  @{customElementNamespace}dropdown.is-hint {
    display: none;
  }
}

@{customElementNamespace}help.is-shown {
  opacity: 1;
  transition: opacity @coreTransitionTime linear;
  transform: translateX(0%);
  @{customElementNamespace}dropdown {
    display: block;
    animation: help-spawn 2*@coreTransitionTime ease-in-out;
  }
}

@keyframes help-spawn{
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}