@{customElementNamespace}upload-batch-item {
  display: block;
  white-space: nowrap;
  position: relative;
  height: 3*@minimumButtonSize;
  overflow: hidden;
  cursor: pointer;
  animation: new-upload-batch-item @coreTransitionTime 1 ease-in-out;

  .upload-details,
  .upload-actions {
    display: inline-block;
  }

  .upload-details {
    width: ~'calc(100% - @{minimumButtonSize})';
  }

  .details-date {
    padding: 0rem @minimumSpacing;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    text-align: right;
    position: relative;
    > span:first-of-type {
      position: absolute;
      left: @minimumSpacing;
      height: inherit;
      line-height: inherit;
    }
  }

  .details-summary {
    height: 2*@minimumButtonSize;
  }

  .upload-actions {
    width: @minimumButtonSize;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
  }

  .upload-actions  {
    button {
      width: @minimumButtonSize;
      height: 100%;
      transform: translateX(0%);
      transition: transform @coreTransitionTime linear;
    }
  }
}

@{customElementNamespace}upload-batch-item.is-finished {
  cursor: pointer;
  .upload-actions button {
    transform: translateX(-100%);
  }
}

@{customElementNamespace}upload-batch-item.is-destroyed {
  height: 0px !important;
  margin: 0px !important;
  transition: height @coreTransitionTime linear, margin @coreTransitionTime linear;
}

@{customElementNamespace}upload-batch-item-collection {

  @{customElementNamespace}upload-batch-item + @{customElementNamespace}upload-batch-item {
    margin-top: 10px;
  }

  .alert-empty {
    box-shadow: none;
    width: 282px;
    text-align: center;
  }
}

@keyframes new-upload-batch-item{
        0% {
            height: 0px;
        }
        100% {
            height: 3*@minimumButtonSize;
        }
    }