service.factoryPid="ddf.catalog.test.TestPlatform.msf"
id="ddf.catalog.test.TestPlatform.msf.1"
property.string="string"
property.boolean.true=B"true"
property.boolean.false=B"false"
property.int=I"10"
property.float=F"10"
property.double=D"10"
property.long=L"10"
property.list.strings=["A","B","C"]
property.list.int=I["10","20","30"]
