service.pid="itest.platform"
property.string = "string"
property.boolean.true = B"true"
property.boolean.false = B"false"
property.int = I"10"
property.float = F"10.0"
property.double = D"10.01"
property.long = L"10"
property.list.strings = [ "D", "B", "C" ]
property.list.int = I[ "10", "20", "30" ]