@{customElementNamespace}configuration-item {
  display: block;
  white-space: nowrap;
  padding: @minimumSpacing;
  margin-left: @largeSpacing;
  > div {
    padding-left: @minimumSpacing;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    width: 45%;
    vertical-align: top;
  }

  > div:last-of-type {
    text-align: right;
    width: 10%;
  }
}

@{customElementNamespace}configuration-item:last-of-type {
  padding-bottom: 0px;
}

@{customElementNamespace}configuration-item-collection {
  display: block;
}
