@{customElementNamespace}dropdown.is-querySelect {
  cursor: pointer;
  display: block;

  .dropdown-icon,
  .querySelect-default {
    display: inline-block;
    vertical-align: middle;
  }

  .querySelect-default {
    text-align: center;
    padding: 30px;
  }

  .querySelect-default,
  .querySelect-item {
    width: ~'calc(100% - 20px)';
  }

  @{customElementNamespace}query-item {
    .query-details {
      width: ~'calc(100% - 20px)';
      margin: 0px 0px 0px 20px;
    }
    .query-actions {
      display: none;
    }
  }

  > .dropdown-icon {
    display: none;
  }
}

@{customElementNamespace}dropdown.is-querySelect.query-selected {
  > .querySelect-item,
  > .dropdown-icon {
    display: inline-block;
    vertical-align: middle;
  }

  > .querySelect-default {
    display: none;
  }
}