{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Export Settings</h4>
        </div>
        <div class="modal-body">
            <div class="control-group>
                <label class="control-label" for="exportPath">Export Path</label>
                <a href='#' class='description' tabindex="-1" data-popover-title="Export Path" data-popover-content="The path where exported files will be placed.  A relative path is relative to the running instance's home directory.">
                    <i class='glyphicon glyphicon-question-sign'></i>
                </a>
                <input type="text" id="exportPath" class="exportPath form-control input-sm" name="path" value="{{path}}">
            </div>
        </div>
        <div class="modal-footer">
            <div class="alerts">
            </div>
            <button type="button" class="btn btn-primary" aria-hidden="true">Start Export</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </div>
</div>