@{customElementNamespace}query-time {
  display: block;
  width: 100%;

  .basic-temporal-selections,
  .basic-time-before,
  .basic-time-after,
  .basic-time-between,
  .basic-time-relative {
    display: none;
    margin-left: 20px;
  }
}

@{customElementNamespace}query-time.is-timeRange-before {
  .basic-temporal-selections,
  .basic-time-before {
    display: block;
  }
}

@{customElementNamespace}query-time.is-timeRange-after {
  .basic-temporal-selections,
  .basic-time-after {
    display: block;
  }
}

@{customElementNamespace}query-time.is-timeRange-between {
  .basic-temporal-selections,
  .basic-time-between {
    display: block;
  }
}

@{customElementNamespace}query-time.is-timeRange-relative {
  .basic-temporal-selections,
  .basic-time-relative {
    display: block;
  }
}
