@{customElementNamespace}association {
    display: block;
    position: relative;
    white-space: nowrap;

    > .association-content > div {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        position: relative;
    }

    > .association-content > div + div {
        padding-left: 20px;
    }

    > .association-content,
    > .association-remove {
        vertical-align: top;
    }

    > .association-content {
        width: 100%;
        display: inline-block;
    }
    > .association-remove {
        width: @minimumButtonSize;
        display: none;
    }

    .association-parent-link,
    .association-child-link {
        line-height: 44px;
    }
}

@{customElementNamespace}association.is-editing {
    > .association-content {
        width: ~'calc(100% - @{minimumButtonSize} - 20px)';
        padding-right: 20px;
    }
    > .association-remove {
        display: inline-block;
    }

    .association-parent-link,
    .association-child-link {
        display: none;
    }

}

@{customElementNamespace}association:not(.is-editing){
    > .association-content .association-parent,
    > .association-content .association-child {
        display: none;
    }
}