*:focus {
  animation: focusFade 1s ease-in-out;
}

@keyframes focusFade {
  0% {
    box-shadow: inset 0px 0px 0px 1px @primary-color;
  }
  100% {
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
}