input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

.input-group {
  margin: 0px;
}

input,
input.form-control {
  border-radius: @border-radius;
  border-width: 0px;
  padding: 6px 10px 5px 10px;
}