select.ddf,
.ddf.select {
  color: @select-color;
  background: none @select-background-color;
  border: 1px solid @select-border-color;

  option {
    color: @select-color !important;
    background-color: @select-background-color !important;
  }
}