.message {
  margin: 5px 0px;
  color: white;
  background: rgb(244, 67, 54);
  max-width: 256px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
}

.dismiss {
  cursor: pointer;
}
