.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: white;
  z-index: 100;
  opacity: 0.2;
}

.progress {
  width: 100%;
  position: absolute;
  top: ~'calc(50% - 30px)';
}
