@{reactNamespace}radio {
  border-radius: @border-radius;
  white-space: nowrap;
  background-color: inherit;
  display: inline-block;

  button {
    vertical-align: top;
    opacity: @minimumOpacity;
    min-width: @minimumButtonSize;
    min-height: @minimumButtonSize;
    border: 1px solid transparent;
    background-color: inherit;
    padding: 0px 10px;
    font-size: @minimumFontSize;
  }

    button.is-selected {
        opacity: 1;
        font-weight: bolder;
    }

    margin-bottom: 10px;
}
