.renderjson a {
  text-decoration: none;
}
.renderjson .disclosure {
  color: darkred;
  font-size: 150%;
}
.renderjson .syntax {
  color: black;
}
.renderjson .string {
  color: green;
}
.renderjson .number {
  color: black;
}
.renderjson .boolean {
  color: purple;
}
.renderjson .key {
  color: navy;
}
.renderjson .keyword {
  color: purple;
}
.renderjson .object.syntax {
  color: black;
}
.renderjson .array.syntax {
  color: brown;
}
