@{customElementNamespace}result-link {
    .customElement;
    padding: @minimumSpacing;

    .is-link {
        line-height: @minimumButtonSize;
        display: block;
        max-width: @minimumScreenSize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

