@{reactNamespace}dropdown {
  cursor: pointer;
  display: block;
  white-space: nowrap;
  position: relative;

  .dropdown-label {
    .is-bold();
  }

  .dropdown-label,
  .dropdown-text {
    line-height: @minimumButtonSize;
  }

  .dropdown-text,
  .dropdown-icon {
    vertical-align: top;
  }

  .dropdown-text {
    padding: 0px 10px;
    width: ~'calc(100% - @{minimumButtonSize})';
    height: @minimumButtonSize;
    display: block;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
  }
  .dropdown-icon {
    color: contrast(@primary-color);
    display: inline-block;
    background: @primary-color;
    width: @minimumButtonSize;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    text-align: center;
    font-size: @largeFontSize;
  }

  .dropdown-area {
      position: absolute;
      top: @minimumButtonSize;
      left: 0;
      right: 0;
      z-index: @zIndexDropdown;

      overflow: auto;
      padding-top: @minimumSpacing;
      padding-bottom: @minimumSpacing;
      border-radius: 2px;
      .changeBackground(@backgroundDropdown);
      .dropshadow;
      max-width: 90vw;
      max-height: 25vh;
  }
}
