@active-color: #18BC9C;
@highlight-color: lighten(@active-color, 35);
@alt-row-color: #f9f9f9;

table.align-middle {
  td {
    vertical-align: middle !important;
  }
}

a {
  text-decoration: none;
  border: solid lighten(@active-color, 40);
  background-color: lighten(@active-color, 53);
}

#details-region {

  table {
    border-collapse: separate;
    border-spacing: 0px 0;
  }

  td {
    padding: 0px 0;
  }

  .table-striped > tbody {
    tr > th {
      background-color: darken(@alt-row-color, 30);
    }

    tr > td:first-child {
      font-size: small;
    }

    tr > td:not(:first-child) > a {
      font-size: xx-small;
    }

    tr:nth-child(odd) > td {
      .metrics-download {
        border: none;
        background-color: @alt-row-color;
      }
    }

    tr:nth-child(even) > td {
      .metrics-download {
        border: none;
        background-color: white;
      }
    }
  }
}
