@{customElementNamespace}about {
    .customElement;
    overflow: hidden;
    .changeBackground(@backgroundContent);

    .about-content {
        margin: auto;
        max-width: 1200px;
        padding: @minimumSpacing 100px;
        overflow: auto;
        height: ~'calc(100% - 2*@{minimumLineSize})';
    }
    
    .content-version,
    .version-message {
        padding: @minimumSpacing;
    }
}

.is-small-screen, .is-mobile-screen {
    @{customElementNamespace}about {
      .about-content {
        max-width: 100%;
        padding: @minimumSpacing;
      }
    }
  }