@{customElementNamespace}attributes-rearrange {
    .customElement;
    padding: @minimumSpacing;

    .column {
     white-space: nowrap;
     padding: @minimumSpacing @largeSpacing;
     position: relative;
     text-align: left;
     .is-bold();
     font-size: @largeFontSize;
     cursor: move;
    }

    .column.is-hidden-column,
    .column.is-unavailable-column {
        display: none;
    }

    .column + .column {
      border-top: 1px solid;  
    }

}