@{customElementNamespace}map.is-cesium {
  .customElement;

  position: relative;
  
  canvas {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  canvas:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .cesium-viewer-toolbar {
    z-index: 0;
  }

  .cesium-viewer-bottom {
    display: none;
  }

  .fa-cube {
    display: none;
  }

  > .not-supported {
    display: none;
    .customElement;
    overflow: auto;
  }

  .twipsy {
    margin-left: 50px;
  }
}

@{customElementNamespace}map.is-cesium.is-hovering {

  canvas {
    cursor: pointer;
  }
}

@{customElementNamespace}map.is-cesium.is-drawing {

  canvas,
  canvas:active {
    cursor: crosshair;
  }
}

@{customElementNamespace}map.is-cesium.is-clustering {
  .fa-cubes {
    display: none;
  }

  .fa-cube {
    display: inline-block;
  }
}

@{customElementNamespace}map.is-cesium.not-supported {
  #mapDrawingPopup,
  #mapTools,
  #mapContainer,
  > .drawing-tools {
    display: none;
  }

  > .not-supported {
    display: block;
    padding: 20px;

    button {
      width: 100%;
      height: 5*@minimumButtonSize;
      line-height: 5*@minimumButtonSize;
    }

    * + * {
      margin-top: 20px;
    }
  }
}