.is-list {
  > *,
  > * > td {
    border-top: 1px solid @lighten-inherited-background-color;
    border-bottom: 1px solid @lighten-inherited-background-color;
  }
}

.is-list.has-list-highlighting {
  > *:hover,
  > *:hover > td {
    border-top: 1px solid @medium-lighten-inherited-background-color;
    border-bottom: 1px solid @medium-lighten-inherited-background-color;
  }
}

.is-list.is-inline {
  > *,
  > * > td {
    border-left: 1px solid @lighten-inherited-background-color;
    border-right: 1px solid @lighten-inherited-background-color;
  }
}

.is-list.is-inline.has-list-highlighting {
  > *:hover,
  > *:hover > td {
    border-left: 1px solid @medium-lighten-inherited-background-color;
    border-right: 1px solid @medium-lighten-inherited-background-color;
  }
}