@{customElementNamespace}metacard-title {
  .customElement;
  line-height: @minimumButtonSize;
  font-size: @largeFontSize;
  white-space: nowrap;

  > div {
    display: inline-block;
    vertical-align: top;
  }

  > .metacard-title {
    max-width: ~'calc(100% - 1*@{minimumButtonSize} - 30px)';
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
    white-space: nowrap;
  }

  > .metacard-title > span {
    padding: @minimumSpacing;
  }
}
