@{customElementNamespace}query-old-basic {
  .customElement;

  ul > li {
    padding: 10px;
    width: 100%;

    &:last-of-type {
      float: right;
    }
  }

  > form {
    max-height: ~"calc(100% - @{minimumButtonSize})";
    overflow: auto;
  }

  .readOnly {
    padding: 10px;
  }

  > .buttons > button {
    height: @minimumButtonSize;

    &.edit {
      width: 100%;
    }

    &.cancel {
      width: 50%;
      display: none;
    }

    &.save {
      width: 50%;
      display: none;
    }
  }


  &.is-editing {

    > .buttons {
      white-space: nowrap;
      font-size: 0px;

      > button {
        display: inline-block;

        &.edit {
          display: none;
        }
      }
    }

    > .readOnly {
      display: none;
    }
  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}query-old-basic {


  }
}
