@{customElementNamespace}tabs {
  .customElement;
  background: inherit;
  border-right: 1px solid fade(contrast(@backgroundAccentContent), 10%);

  .tabs-list {
    background: inherit;

    z-index: @zIndexContent;
    height: @minimumButtonSize;
    padding: 0px @minimumSpacing;
    white-space: nowrap;
    overflow: visible;
    width: 100%;
    position: relative;
    text-align: center;

    &.is-collapsed {
      .tabs-dropdown {
        display: inline-block;
        vertical-align: top;
        line-height: @minimumButtonSize;
        height: @minimumButtonSize;
      }
    }

    &.is-open {
      .tabs-collapsed {
        display: block;
        width: 100%;
        text-align: center;
        border: 1px solid;

        > button.is-merged {
          display: block;
          width: 100%;
        }
        > button.is-merged.is-active {
          display: none;
        }
      }
    }

    .tabs-expanded {
      height: 100%;
    }

    .tabs-collapsed {
      display: none;
      background: @backgroundDropdown;
      color: contrast(@backgroundDropdown);
      > button {
        display: none;
      }
    }

    .tabs-title {
      display: none;

      &.is-active.is-merged {
        display: inline-block;
      }
    }

    .tabs-dropdown {
      display: none;
      height: 100%;
      padding: 0px @minimumSpacing;
      border-bottom: 1px solid transparent;

      > span {
        vertical-align: top;
        line-height: @minimumButtonSize;
        height: @minimumButtonSize;
      }

      &.has-activeTab {
        opacity: 1;
        .is-bold();
        border-bottom: 1px solid;
        .hint {
          display: none;
        }
      }

      &:hover {
        background: none;
      }

      .hint {
        display: inline;
      }
    }

    .tabs-tab {
      padding: 0px @minimumSpacing;
      line-height: @minimumButtonSize;
      height: @minimumButtonSize;
      display: inline-block;
      border-bottom: 1px solid transparent;

      &.is-active {
        opacity: 1;
        .is-bold();
        border-bottom: 1px solid;
      }

      &:hover {
        opacity: 1;
        border-bottom: 1px solid;
      }

      &.is-merged {
        display: none;
      }
    }
  }

  .tabs-content {
    margin-top: 1px;
    height: ~'calc(100% - @{minimumButtonSize})';
    background: inherit;

    > * {
      margin-top: 1px;
    }
    > div {
      height: 100%;
    }
  }
}

.is-mobile-screen {
  @{customElementNamespace}tabs {
    .tabs-list {
      &.is-open {
        .tabs-dropdown {
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          text-align: center;
          z-index: @zIndexContent;
        }

        .tabs-collapsed {
          position: fixed;
          left: 0px;
          top: 50px;
          z-index: @zIndexContent;
        }
      }
    }
  }
}
