@{customElementNamespace}menu-vertical {
  position: absolute;
  display: block;
  background: @background-color;
  color: @text-color;
  z-index: @zIndexVerticalMenu;

  left: 50%;
  top: 50%;

  .boxShadow;
}