@{customElementNamespace}menu-vertical {
  position: absolute;
  display: block;
  z-index: @zIndexVerticalMenu;

  left: 50%;
  top: 50%;

  .boxShadow;

  transform: translateY(-50%) scaleY(0);
  opacity: 0;

  &.is-open {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
}