.noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@{reactNamespace}menu {
  max-height: 25vh;
  position: relative;

  .input-menu-item {
    position: relative;
    padding: 0px @minimumSpacing;
    padding-right: @minimumButtonSize;
    box-sizing: border-box;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    cursor: pointer;
    .noselect();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .input-menu-item.is-selected {
    font-weight: bold;
  }

  .input-menu-item.is-selected::after {
    display: inline-block;
    content: '\f00c';
    font-family: FontAwesome;
    font-style: normal;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 2.275rem;
    text-align: center;
    transform: translateY(-50%);
  }

  .input-menu-item.is-active {
    box-shadow: inset 0px 0px 0px 1px @primary-color;
  }
}
