service.pid="ddf.test.itests.platform.TestPlatform.new.1"
id="ddf.test.itests.platform.TestPlatform.new.1"

property.string="string"
property.boolean.true=B"true"
property.boolean.false=B"false"
property.int=I"10"
property.long=L"100"
property.float=F"10.5"
property.double=D"100.1234"

property.array.strings=["A","B","C"]
property.array.booleans=B["true","false"]
property.array.ints=I["10","20","30"]
property.array.longs=L["100","200","300"]
property.array.floats=F["1.1","2.2","3.3"]
property.array.doubles=D["1.123","2.234","3.345"]

property.vector.strings=("A","B","C")
property.vector.booleans=B("true","false")
property.vector.ints=I("10","20","30")
property.vector.longs=L("100","200","300")
property.vector.floats=F("1.1","2.2","3.3")
property.vector.doubles=D("1.123","2.234","3.345")
