@{customElementNamespace}dropdown.is-querySelect {
  cursor: pointer;
  display: block;
  white-space: nowrap;
  position: relative;
  min-height: @minimumButtonSize;
  line-height: @minimumButtonSize;
  background: fade(#ffffff, 7%);

  .dropdown-icon,
  .querySelect-default {
    display: inline-block;
    vertical-align: middle;
  }

  .querySelect-default {
    text-align: center;
    padding: 0px;
  }

  .querySelect-item,
  .querySelect-default {
    width: ~'calc(100% - @{minimumButtonSize})';
  }

  > .dropdown-icon {
    position: absolute;
    color: contrast(@primary-color);
    display: inline-block;
    background: @primary-color;
    width: @minimumButtonSize;
    height: 100%;
    line-height: @minimumButtonSize;
    text-align: center;
    font-size: @largeFontSize;
    top: 0px;
    right: 0px;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}

@{customElementNamespace}dropdown.is-querySelect.query-selected {
  text-align: initial;
  > .querySelect-item,
  > .dropdown-icon {
    display: inline-block;
    vertical-align: middle;
  }

  > .querySelect-default {
    display: none;
  }
}

@{customElementNamespace}dropdown.is-querySelect.hide-actions {
  .details-footer {
    display: none;
  }
}
