<td style="width:50%">
    <a href='#' class='editLink'>
        {{properties.[service.pid]}}
    </a>
    <div class="config-modal-container">

    </div>
</td>
<td style="width:50%">
    {{bundle_name}}
</td>
<td>
    <a href='#' class='removeLink glyphicon glyphicon-remove'></a>
</td>