<td colspan="2">
    <a href='#' class='newLink' data-toggle="modal" data-target="#{{id}}">
        {{name}}
    </a>
    <hr class="service-divider"/>
    <div id="configurationRegion"></div>
    <div class="service-modal-container">

    </div>
</td>
<td>

</td>