<table class='servicesTable table'>
    <thead>
    <th style="width:50%">Name</th>
    <th style="width:50%">Bundle</th>
    <th><a style="text-decoration:none" href="#" class="refreshButton glyphicon glyphicon-repeat"></a></th>
    </thead>
    <tbody>

    </tbody>
</table>