<td colspan="2">
    <a href='#{{uuid}}' class='newLink' data-toggle="modal">
        {{name}}
    </a>
    <hr class="service-divider"/>
    <div id="configurationRegion"></div>
    <div class="service-modal-container">
        <div id="{{uuid}}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">

        </div>
    </div>
</td>
<td>

</td>