@{customElementNamespace}workspaces-items {
  .customElement;
  position: relative;

  .header-hint {
    display: none;
  }
  
  .home-items-center {
    max-width: 1200px;
    margin: auto;
    padding: 0px 100px;
  }

  .home-items-header {
    font-size: @minimumFontSize;
    .is-bold();
    line-height: @minimumButtonSize;
  }

  .header-menu {
    float: right;
    display: inline-block;
    text-align: center;
  }

  .menu-button {
    display: inline-block;
    padding: 0px 10px;
  }
}

@{customElementNamespace}workspaces-items.by-title {
  .by-title {
    display: inline;
  }
}

@{customElementNamespace}workspaces-items.by-date {
  .by-date {
    display: inline;
  }
}

 .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}workspaces-items {
    .home-items-center {
      max-width: ~'calc(100% - 0px)';
      padding: 0px 20px;
    }
    .home-items-choices {
      text-align: center;
    }
  }
}
