@{customElementNamespace}map.is-openlayers {
  .customElement;
  font-size: 16px;

  position: relative;

  canvas {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  canvas:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .fa-cube {
    display: none;
  }
}

@{customElementNamespace}map.is-openlayers.is-hovering {
  canvas {
    cursor: pointer;
  }
}

@{customElementNamespace}map.is-openlayers.is-drawing {
  canvas,
  canvas:active {
    cursor: crosshair;
  }
}
