@{customElementNamespace}search-settings {
  .customElement;
  overflow: auto;
  padding: @minimumSpacing @minimumSpacing;

  .property-result-count {
    margin-bottom: @largeSpacing;
  }

  @{customElementNamespace}query-settings {
    .editor-header,
    .editor-footer {
      display: none;
    }

    .editor-properties {
      padding: 0px;
    }
  }

 > .editor-footer {
    display: none;
    button {
      display: inline-block;
      width: 50%;
    }
  }
}

@{customElementNamespace}search-settings.show-footer{
 > .editor-footer {
    display: block;
  }
}