@{customElementNamespace}metacard-associations {
  .customElement;

  > .editor-content {
    text-align: center;
    padding: 10px 20px;
    max-height: ~'calc(100% - 4*@{minimumButtonSize} - 40px)';
    overflow: auto;
    @{customElementNamespace}dropdown .dropdown-text {
      padding-left: 0px;
    }
  }

  > .content-graph {
    width: 100%;
    height: ~'calc(100% - 2*@{minimumButtonSize})';
    max-height: 500px;
  }

  > .list-header {
    text-align: center;
    padding: 10px 20px;
    white-space: nowrap;
    > div {
      display: inline-block;
      width: 33%;
      padding: 10px 0px;
    }
    > div + div {
      padding-left: 20px;
    }
  }

  > .list-footer .footer-text {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }

  > .list-footer {
    padding: 10px 0px;
  }

  > .list-footer button {
    display: none;
    width: 100%;
  }
  
  > .editor-footer {
    white-space: nowrap;
    .inlineBlockDisplay(button);
    .footer-cancel, 
    .footer-save {
      display: none;
      width: 50%;
    }
    .footer-edit {
      width: 100%;
    }
  }

  @{customElementNamespace}association + @{customElementNamespace}association {
    margin-top: 10px;
  }
}

@{customElementNamespace}metacard-associations.is-editing {
  .customElement;

  > .list-header {
    width: ~'calc(100% - @{minimumButtonSize})';
    padding-right: 40px;
  }

  > .list-footer .footer-text {
    display: none;
  }

  > .list-footer button {
    display: block;
  }
  
  > .editor-footer {
    .footer-edit {
      display: none;
    }
    .footer-cancel,
    .footer-save {
      display: inline-block;
    }
  }
}

@{customElementNamespace}metacard-associations.filter-by-parent {

    @{customElementNamespace}association.is-parent:not(.is-child) {
      .association-content {
        opacity: .2;
      }

      .association-content > div:after {
        content: attr(data-label);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        line-height: @minimumButtonSize;
        opacity: .2;
      }

      .association-content > .association-relationship:after,
      .association-content > .association-child:after {
        padding-left: 20px;
      }

      @{customElementNamespace}dropdown,
      .association-remove {
        visibility: hidden;
      }
    }

    @{customElementNamespace}association .association-child {
      &:after {
        content: attr(data-label);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        line-height: @minimumButtonSize;
        opacity: .2;
        padding-left: 20px;
      }

      @{customElementNamespace}dropdown {
       visibility: hidden;
      }
    }
}

@{customElementNamespace}metacard-associations.filter-by-child {

  @{customElementNamespace}association.is-child:not(.is-parent) {
      .association-content {
        opacity: .2;
      }

      .association-content > div:after {
        content: attr(data-label);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        line-height: @minimumButtonSize;
        opacity: .2;
      }

      .association-content > .association-relationship:after,
      .association-content > .association-child:after {
        padding-left: 20px;
      }

      @{customElementNamespace}dropdown,
      .association-remove {
        visibility: hidden;
      }
    }

    @{customElementNamespace}association .association-parent {
      &:after {
        content: attr(data-label);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        line-height: @minimumButtonSize;
        opacity: .2;
      }

      @{customElementNamespace}dropdown {
       visibility: hidden;
      }
    }
}

@{customElementNamespace}metacard-associations.show-graph {
  > .content-graph {
    display: block;
  }

  > .list-header,
  > .editor-content,
  > .list-footer {
    display: none;
  }
}

@{customElementNamespace}metacard-associations.show-list {
  > .content-graph {
    display: none;
  }

  > .list-header,
  > .editor-content,
  > .list-footer {
    display: block;
  }
}