{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="content-menu">

</div>
<div class="content-graph">
</div>
<div class="list-header">
    <div class="header-text header-parent">
        Parent
    </div>
    <div class="header-text header-relationship">
        Relationship
    </div>
    <div class="header-text header-child">
        Child
    </div>
</div>
<div class="editor-content">
</div>
<div class="list-footer">
    <div class="footer-text">
    </div>
    <button class="footer-add is-positive">
        <span class="fa fa-plus"></span>
        <span>Add Association</span>
    </button>
</div>
<div class="editor-footer">
    <button class="footer-edit is-primary">
        <span class="fa fa-pencil">
        </span>
        <span>
            Edit
        </span>
    </button>
    <button class="footer-cancel is-negative">
        <span class="fa fa-times">
        </span>
        <span>
            Cancel
        </span>
    </button>
    <button class="footer-save is-positive">
        <span class="fa fa-floppy-o">
        </span>
        <span>
            Save
        </span>
    </button>
</div>