{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}

<div class="notification-category clearfix">
    <span class="notification-category-name">
        {{category}}
    </span>
        {{#is closeConfirm true}}
             <div class="notificationCategory-remove-area">
                 <a href="#" class="btn btn-primary" id="removeAll">Remove All</a> <a href="#" class="btn" id="cancelRemove">Cancel</a>
             </div>
        {{else}}
                <div class="notificationCategory-close">
                    <a href="#" class="fa fa-trash-o" id="closeCategory"></a>
                </div>
        {{/is}}
</div>