<div class="navbar-brand">
    <div class="branding">
        <i class="fa fa-globe"></i> {{branding}}
    </div>
</div>
<ul id="welcome" class="nav pull-right">

</ul>
<ul id="help" class="nav pull-right">

</ul>
<ul id="notification" class="nav pull-right">

</ul>
<ul id="tasks" class="nav pull-right">

</ul>