<a id="{{id}}" href="#" class="{{classes}}{{#if dropdown}} dropdown-toggle{{/if}}" {{#if dropdown}} data-toggle="dropdown"{{/if}}>{{#is iconOnly true}}{{else}}{{name}}{{/is}}</a>
{{#if dropdown}}
    <ul class="dropdown-menu">

    </ul>
{{/if}}
{{#if count}}
    <span class="count-overlay" name="countNum"></span>
{{/if}}