<div class="progress-panel">
    <a id="progress-text" href="#" class="progress-text">
        Merge&nbsp;Source&nbsp;
        <span name="current"></span>
        &nbsp;of&nbsp;
        <span name="total"></span>
        &nbsp;to&nbsp;Results
    </a>

    <div id="progressbar" class="progressbar"></div>
</div>
<hr class="nav-divider"/>