<div class="progress-panel">
    <span id="progress-text" class="progress-text">
        <span name="hits"></span>
        &nbsp;new&nbsp;results&nbsp;
        <a id="progress-btn" class="btn progress-btn btn-info">Show</a>
    </span>

    <span id="searching-text" class="searching-text">
        Searching...
    </span>

    <div id="progressbar" class="progressbar"></div>
</div>