<div id="resultsView" class="nav nav-list">
    <div class="row-fluid ">
        <table class="table resultTable">
            <tbody>
            </tbody>
        </table>

        <i class="load-more-link cent">Too many results to display. Please refine your search.</i>
    </div>
</div>