<div id="resultsView" class="nav nav-list">
    <div class="row-fluid ">
        <table class="table resultTable">
            <tbody>
            </tbody>
        </table>
        <a href="#" class="load-more-link cent"><i class="fa fa-arrow-down"/>&nbsp;Load More Results</a>
    </div>
</div>