<td>
    <a href="#" class="metacard-link"  title="Title">
        {{#if attributes.properties.attributes.title}}
            {{attributes.properties.attributes.title}}
        {{else}}
            [No Title]
        {{/if}}
    </a>
    <div class="pull-left"><span class="small-text"  title="Source">{{attributes.properties.attributes.source-id}}</span></div>
    <div class="pull-right">
        <span class="small-text" title="Modified Date">&nbsp;&nbsp;&nbsp;{{momentHelp attributes.properties.attributes.modified fromNow=function}}</span>
    </div>
</td>