<td>
    <a href="#" class="metacard-link"  title="Title">
        {{attributes.properties.attributes.title}}
    </a>
    <div class="pull-left"><span class="small-text"  title="Source">{{attributes.properties.attributes.source-id}}</span></div>
    <div class="pull-right">
        <span class="small-text" title="Created Date">&nbsp;&nbsp;&nbsp;{{moment attributes.properties.attributes.created fromNow=null}}</span>
    </div>
</td>