<div id="resultsView" class="nav nav-list">
    <div class="row-fluid ">
        <table class="table resultTable">
            <tbody>
            </tbody>
        </table>

        <i id="low-results" class="footer-text cent"><span name="hits"></span> results</i>
        <i id="high-results" class="footer-text cent">Top {{attributes.itemsPerPage}} of <span name="hits"></span> results displayed. Please refine your search.</i>
    </div>
</div>
