<div>
    <div class="branding">
        <i class="fa fa-globe"></i> {{branding}}
    </div>
    <table class="nav-table width-full">
        <tr>
            <td style="width:50.1%"><a href="#" class="back nav-link hide"><i class="fa fa-chevron-left"></i>&nbsp;<span
                    class="backNavText" name="back"></span></a></td>
            <td style="white-space:nowrap"><span class="nav-title" name="title">Query</span></td>
            <td style="width:50.1%"><a href="#" class="forward nav-link pull-right hide"><span
                    class="forwardNavText" name="forward"></span>&nbsp;<i class="fa fa-chevron-right"></i></a></td>
        </tr>
    </table>
    <hr class="nav-divider"/>
    <div id="progressbar" class="progressbar"></div>
    <div id="searchPages">
    </div>
</div>