{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<table class="nav-table width-full">
    <tr>
        <td style="width:50.1%">
            {{#isnt back ''}}
                <a href="#" class="back nav-link"><i class="fa fa-chevron-left"></i>&nbsp;<span
                    class="backNavText" name="back">{{back}}</span></a>
            {{/isnt}}
        </td>
        <td style="white-space:nowrap">
            <span class="nav-title" name="title">{{title}}</span>
        </td>
        <td style="width:50.1%">
            {{#isnt forward ''}}
                <a href="#" class="forward nav-link pull-right"><span
                    class="forwardNavText" name="forward">{{forward}}</span>&nbsp;<i class="fa fa-chevron-right"></i></a>
            {{/isnt}}
        </td>
    </tr>
</table>