<form id="searchForm" class="searchForm" method="get">
    <ul class="nav nav-list">
        <li class="nav-header">Keywords</li>
        <li>
            <input name="q" type="text" autofocus />
        </li>

        <li class="nav-header">Time</li>
        <li>
            <div class="btn-group margin-bottom-large" data-toggle="buttons-radio">
                <button type="button" class="btn btn-mini time {{#ifNotOr dtoffset dtend dtstart}}active{{/ifNotOr}}"
                        name="noTemporalButton" data-target="#notemporal"
                        data-toggle="tab">Any
                </button>
                <button type="button" class="btn btn-mini time {{#if dtoffset}}active{{/if}}"
                        name="relativeTimeButton" data-target="#time_relative"
                        data-toggle="tab">Relative
                </button>
                <button type="button" class="btn btn-mini time {{#ifAnd dtend dtstart}}active{{/ifAnd}}"
                        name="absoluteTimeButton" data-target="#time_absolute"
                        data-toggle="tab">Absolute
                </button>
            </div>
            <div class="tab-content">
                <div id="notemporal" class="tab-pane {{#ifNotOr dtoffset dtend dtstart}}active{{/ifNotOr}}"></div>
                <div id="time_absolute" class="tab-pane {{#ifAnd dtend dtstart}}active{{/ifAnd}}">

                    <div class="input-prepend">
                        <span style="width: 60px" class="add-on add-on-label">Begin&nbsp;</span>
                        <input id="absoluteStartTime" name="dtstart" type="text" class="span8"/>
                    </div>
                    <div class="input-prepend">
                        <span style="width: 60px" class="add-on add-on-label">End&nbsp;</span>
                        <input id="absoluteEndTime" name="dtend" type="text" class="span8"/>
                    </div>

                </div>
                <div id="time_relative" class="tab-pane {{#if dtoffset}}active{{/if}}">
                    <div class="row-fluid">
                        <div class="span11 input-prepend input-append">
                            <div class="span7">
                                <span class="add-on add-on-label">Last&nbsp;</span>
                                <input name="dtoffset" type="hidden" />
                                <input id="offsetTime" name="offsetTime" class="input-medium" type="number"/>
                                <select id="offsetTimeUnits" name="offsetTimeUnits" class="add-on span3">
                                    <option value="seconds">seconds</option>
                                    <option value="minutes" selected="selected">minutes</option>
                                    <option value="hours">hours</option>
                                    <option value="days">days</option>
                                    <option value="weeks">weeks</option>
                                    <option value="months">months</option>
                                    <option value="years">years</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-header">Location</li>
        <li>
            <div class="btn-group margin-bottom-large" data-toggle="buttons-radio">
                <button type="button" name="noLocationButton"
                        class="btn btn-mini location {{#ifNotOr radius bbox}}active{{/ifNotOr}}" data-target="#nogeo"
                        data-toggle="tab">Any
                </button>
                <button type="button" name="pointRadiusButton"
                        class="btn btn-mini location {{#if radius}}active{{/if}}" data-target="#pointradius"
                        data-toggle="tab">Point-Radius
                </button>
                <button type="button" name="bboxButton" class="btn btn-mini location {{#if bbox}}active{{/if}}"
                        data-target="#boundingbox" data-toggle="tab">Bounding
                    Box
                </button>
                <!--
                <button type="button" name="wktButton" class="btn btn-mini" data-target="#wkt" data-toggle="tab">WKT</button>
                -->
            </div>
            <div class="tab-content">
                <div id="nogeo" class="tab-pane {{#ifNotOr radius bbox}}active{{/ifNotOr}}"></div>
                <div id="pointradius" class="tab-pane {{#if radius}}active{{/if}}">
                    <input type="hidden" name="radius" value="">

                    <div class="span11 input-prepend input-append">
                        <span style="width: 80px" class="add-on add-on-label">Latitude&nbsp;</span>
                        <input class="input-medium" id="latitude" name="lat" type="number" min="-90" max="90" step="any" placeholder=""/>
                        <label class="add-on">&deg;</label>
                    </div>
                    <div class="span11 input-prepend input-append">
                        <span style="width: 80px" class="add-on add-on-label">Longitude&nbsp;</span>
                        <input class="input-medium" id="longitude" name="lon" type="number" min="-180" max="180" step="any" placeholder=""/>
                        <label class="add-on">&deg;</label>
                    </div>

                    <div class="span11 input-prepend input-append">
                        <div class="span7">
                            <span style="width: 80px" class="add-on add-on-label">Radius&nbsp;</span>
                            <input class="input-medium" id="radiusValue" name="radiusValue" type="number" placeholder=""/>
                            <select id="radiusUnits" name="radiusUnits" class="add-on span4">
                                <option value="meters" selected="selected">meters</option>
                                <option value="kilometers">kilometers</option>
                                <option value="feet">feet</option>
                                <option value="yards">yards</option>
                                <option value="miles">miles</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="boundingbox" class="tab-pane {{#if bbox}}active{{/if}}">
                    <input type="hidden" name="bbox" value="">

                    <div class="span11 input-prepend input-append">
                        <span style="width: 60px" class="add-on add-on-label">West&nbsp;</span>
                        <input class="input-medium" id="west" name="west" type="number" min="-180" max="180" step="any" placeholder=""/>
                        <label class="add-on">&deg;</label>
                    </div>
                    <div class="span11 input-prepend input-append">
                        <span style="width: 60px" class="add-on add-on-label">South&nbsp;</span>
                        <input class="input-medium" id="south" name="south" type="number" min="-90" max="90" step="any" placeholder=""/>
                        <label class="add-on">&deg;</label>
                    </div>
                    <div class="span11 input-prepend input-append">
                        <span style="width: 60px" class="add-on add-on-label">East&nbsp;</span>
                        <input class="input-medium" id="east" name="east" type="number" min="-180" max="180" step="any" placeholder=""/>
                        <label class="add-on">&deg;</label>
                    </div>
                    <div class="span11 input-prepend input-append">
                        <span style="width: 60px" class="add-on add-on-label">North&nbsp;</span>
                        <input class="input-medium" id="north" name="north" type="number" min="-90" max="90" step="any" placeholder=""/>
                        <label class="add-on">&deg;</label>
                    </div>
                </div>

                <div id="wkt" class="tab-pane">
                    <textarea rows="3" class="span12"></textarea>
                </div>
            </div>
        </li>

        <li class="nav-header">Type</li>
        <li>
            <div class="btn-group margin-bottom-large" data-toggle="buttons-radio">
                <button type="button" name="noTypeButton"
                        class="btn btn-mini type {{#ifNotOr type}}active{{/ifNotOr}}" data-target="#noTypeTab"
                        data-toggle="tab">Any
                </button>
                <button type="button" name="typeButton" class="btn btn-mini type {{#if type}}active{{/if}}"
                        data-target="#typeTab" data-toggle="tab">Specific
                    Types
                </button>
            </div>
            <div class="tab-content">
                <div id="noTypeTab" class="tab-pane {{#ifNotOr type}}active{{/ifNotOr}}"></div>
                <div id="typeTab" class="tab-pane {{#if type}}active{{/if}}">
                    <select
                        id="typeList" name="type" class="input-xlarge">
                        <option value=""></option>
                       {{#each types}}
                           <option value={{name}}>{{name}}</option>
                       {{/each}}
                    </select>
                </div>
            </div>
        </li>

        <li class="nav-header">Sources</li>
        <li>
            <div class="btn-group margin-bottom-large" data-toggle="buttons-radio">
                <button type="button" class="btn btn-mini {{#ifNotOr src}}active{{/ifNotOr}}"
                        name="enterpriseFederationButton" data-target="#nofed"
                        data-toggle="tab">All Sources
                </button>
                <button type="button" class="btn btn-mini {{#if src}}active{{/if}}"
                        name="selectedFederationButton" data-target="#sources"
                        data-toggle="tab">Specific Sources
                </button>
            </div>
            <div class="tab-content">
                <div id="nofed" class="tab-pane {{#ifNotOr src}}active{{/ifNotOr}}"></div>
                <div id="sources" class="tab-pane {{#if src}}active{{/if}}">
                    <div id="scrollableSources" class="scrollable">
                        <select id="federationSources" multiple="multiple">
                        {{#each sources}}
                            <option value={{id}}>{{id}}</option>
                        {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="form-actions">
                <a href="#" id="searchButton" class="btn btn-primary searchButton">
                    <i class="fa fa-search"></i> Search
                </a>
                <a href="#" id="resetButton" class="btn resetButton" type="reset">Clear</a>
            </div>
        </li>
    </ul>
</form>