.container {
    max-width: 1120px;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


#logouts {
    background-color: white;
    padding: 20px 40px;
}

#med-font {
    font-size: 200%;
}

.row {
    margin-top: 30px;
}

.iframe-fill{
    margin-top: 10px;
    width: 100%;
    height: 250px;

}

.bottom-bar {
    padding-top: 20px;
}
