.container {
    max-width: 1120px;
    border-radius: 4px;
    background-color: #ecf0f1;
    padding: 30px;
    margin: 0 auto;
    min-width: 600px;
}

body {
    color: #2c3e50;
}

.btn {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;

    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logout-div {
    background-color: white;
}
h2 {
    text-align: center;
    padding: 3px;
}
hr {
    border-top: 1px solid #ecf0f1;
}

.btm-bar {
    margin-top: 15px;
}

.logout-div > * {
    margin: 5px;
}

.logout-btn {
    float: right;
}