button {
    padding: 0px @minimumSpacing;  // adds some horizontal side padding
    min-width: @minimumButtonSize;  // along with min-height ensures a decent clickable area
    min-height: @minimumButtonSize;
}