{{#if certErrors}}
    <div class="cert-errors">
        <label>The following issues were found with your certificates:</label>
        <ul class="fa-ul">
            {{#each certErrors}}
                <li><i class="fa-li fa fa-exclamation-triangle fa-lg"></i> {{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
<div class="store-div">
    <label class="store-title">Add Keystore</label>
    <a href='#' class='keystore-info' tabindex="-1">
        <i class="fa fa-question-circle fa-lg"></i>
    </a>

    <div>
        <div class="drop-zone" id="keystore-drop-zone">
            <form class="keystore-fileupload">
                    <span class="btn btn-default fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select file to upload</span>
                        <input id="inputFile" type="file" name="files[]">
                    </span>
                OR drag file to this box.
            </form>
        </div>
        <label class="store-file">Keystore File: {{keystoreFileName}}</label>

        <div>
            <div class="input-group form-group">
                <label for="keystorepass" class="input-group-addon cert-label">Keystore
                        Password</label>
                <input type="password" class="form-control" id="keystorepass"
                       name="keystorePass">
            </div>
            <div class="input-group form-group">
                <label for="keypass" class="input-group-addon cert-label">Private Key Password</label>
                <input type="password" class="form-control" id="keypass" name="keyPass">
            </div>


        </div>
    </div>
</div>
<div class="store-div">
    <label class="store-title">Add Truststore</label>
    <a href='#' class='truststore-info' tabindex="-1">
        <i class="fa fa-question-circle fa-lg"></i>
    </a>

    <div>
        <div class="drop-zone" id="truststore-drop-zone">
            <form class="truststore-fileupload">
                    <span class="btn btn-default fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select file to upload</span>
                        <input type="file" name="files[]">
                    </span>
                OR drag file to this box.
            </form>
        </div>
        <label class="store-file">Truststore File: {{truststoreFileName}}</label>

        <div class="input-group form-group">
            <label for="truststorepass" class="input-group-addon cert-label">Truststore
                Password</label>
            <input type="password" class="form-control" id="truststorepass"
                   name="truststorePass">
        </div>

    </div>
</div>