{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<h3>Additional System Settings</h3>
<form id="config-form" class="inner-scroll scroll-area ps-container" method="GET">
    <div class="well white">
        <p class="lead">
            <br/>
            After installation is complete there are additional configurations that can be made
            to change hostname, ports and certificates. A system shutdown is required in order to make these changes.<br/><br/>

            Global system properties can be configured in the INSTALL_HOME/etc/system.properties file and certificates for the host can be added to the systemKeystore/systemTruststore in INSTALL_HOME/etc/keystore/<br/>

        </p>
    </div>
</form>