@import 'editable-rows';

.icon-label {
padding-left: 8px;
}

@{customElementNamespace}workspace-sharing {

  @valueWidth: 60%;
  position: relative;

  .customElement;

  .text-right {
    text-align: right;
  }

  overflow: auto;

  .sharing-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: ~'calc(100% - 40px)';
    white-space: nowrap;

    button {
      width: 50%;
      vertical-align: top;
    }
  }

  .workspace-sharing-by-role {
    .role {
      line-height: @minimumButtonSize;
      height: @minimumButtonSize;
      text-align: center;
    }
    .row {
      white-space: nowrap;
      margin: 0px 0px 10px 0px;
      padding: 0px 10px;
    }

    .role,
    .action {
      vertical-align: top;
      display: inline-block;
      width: 50%;
    }
  }

  .workspace-sharing-by-email {
    input {
      height: @minimumButtonSize;
    }

    height: ~'calc(100% - @{minimumButtonSize})';
    overflow: auto;

    .email {
      vertical-align: top;
      display: inline-block;
      width: 100%;
    }
  }

  .workspace-sharing-by-role {
    height: ~'calc(100% - @{minimumButtonSize})';
    overflow: auto;
  }

  .information-role,
  .information-email {
    width: 50%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 10px;
  }

  .sharing-information {
    height: ~'calc(100% - 2*@{minimumButtonSize})';
    overflow: hidden;
    white-space: nowrap;
  }

  .information-email {
    border-left: 1px solid grey;
    padding: 10px;
  }
}

 .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}workspace-sharing {
    .sharing-information {
      white-space: normal;
      overflow: auto;
    }

    .information-email{
      border-left: none;
    }

    .information-role,
    .information-email {
      width: 100%;
      height: 50%;
    }
  }
}
