#announcments {
  position: fixed;
  top: 80px;
  width: 600px;
  max-width: 90%;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);

  .announcement {
    position: relative;
    padding: @minimumSpacing;
    border-radius: 2px;
    background: @backgroundDropdown;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.4),
      2px 2px 10px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: @minimumSpacing;
    opacity: 1;
    animation: new-announcement 0.25s 1 ease-in-out;
    transition: height @coreTransitionTime linear,
      padding @coreTransitionTime linear, opacity @coreTransitionTime linear,
      margin @coreTransitionTime linear;
  }

  .announcement.info {
    color: contrast(@primary-color);
    background: @primary-color;
  }

  .announcement.warn {
    color: contrast(@warning-color);
    background: @warning-color;
  }

  .announcement.error {
    color: contrast(@negative-color);
    background: @negative-color;
  }

  .announcement.success {
    color: contrast(@positive-color);
    background: @positive-color;
  }

  .announcement-title {
    text-align: left;
    .is-bold();
    font-size: @largeFontSize;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    margin: 0 @minimumButtonSize;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .announcement-message {
    max-height: 168px;
    overflow: auto;
    text-align: left;
    margin: 0 @minimumButtonSize;
  }

  .announcement-action {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: @largeFontSize;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    width: @minimumButtonSize;
  }

  @keyframes new-announcement {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .announcement.is-dismissed {
    height: 0px !important;
    padding: 0px;
    opacity: 0;
    margin: 0px;
  }
}
