@{customElementNamespace}metacard-preview {
    .customElement;
    padding: @largeSpacing;

    iframe {
        .dropshadow;
        .customElement;
    }
}

html.is-iframe.is-preview body {
    padding: @largeSpacing;
    background: none !important;
    color: inherit !important;
}

html.is-iframe.is-preview {
    background: none !important;
}