@{customElementNamespace}dropdown.is-simpleDropdown {
  cursor: not-allowed;
  display: block;
  white-space: nowrap;
  overflow: hidden;

  .dropdown-text {
    display: inline-block;
    padding-left: @minimumSpacing;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-icon {
    display: none;
  }

  .dropdown-label {
    .is-bold();
  }

  .dropdown-label,
  .dropdown-text {
    line-height: @minimumButtonSize;
  }

  .dropdown-text,
  .dropdown-icon {
    vertical-align: top;
  }

  span + span::before {
    content: '| ';
    opacity: @minimumOpacity;
  }

  .text-src + .text-src:before {
    content: '| ';
    opacity: @minimumOpacity;
  }

  .is-placeholder {
    opacity: @minimumOpacity;
  }
}

@{customElementNamespace}dropdown.is-simpleDropdown:not(.is-editing) {
  .dropdown-text {
    border: none;
    background: none;
  }
}

@{customElementNamespace}dropdown.is-editing {
  cursor: pointer;
}

@{customElementNamespace}dropdown.is-simpleDropdown.is-editing {
  cursor: pointer;
  
  .dropdown-text,
  .dropdown-icon {
    vertical-align: top;
  }

  .dropdown-text {
    padding: 0px 10px;
    width: ~'calc(100% - @{minimumButtonSize})';
    height: @minimumButtonSize;
  }

  .dropdown-icon {
    color: @button-text-color;
    display: inline-block;
    background: @primary-color;
    width: @minimumButtonSize;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    text-align: center;
    font-size: @largeFontSize;
    margin-left: -4px;
  }
}