connectionTimeout = I"30000"
contentTypeMapping = "type"
createdDateMapping = "dateSubmitted"
cswUrl = "ExampleURL"
disableCnCheck = B"false"
effectiveDateMapping = "created"
forceSpatialFilter = "BBOX"
id = "ExampleConnectedSource"
identifierMapping = "identifier"
isCqlForced = B"false"
isLonLatOrder = B"false"
modifiedDateMapping = "modified"
outputSchema = "http://www.opengis.net/cat/csw/2.0.2"
password = "ExamplePassword"
pollInterval = I"5"
queryTypePrefix = "csw"
queryTypeQName = "{http://www.opengis.net/cat/csw/2.0.2}Record"
receiveTimeout = I"60000"
resourceUriMapping = "source"
shortname = "ExampleConnectedSource"
thumbnailMapping = "references"
usePosList = B"false"
username = "ExampleUsername"
