connectionTimeout=I"30000"
contentTypeMapping="type"
coordinateOrder="LON_LAT"
createdDateMapping="dateSubmitted"
cswUrl=""
disableCnCheck=B"false"
effectiveDateMapping="created"
forceSpatialFilter="NO_FILTER"
id="ExampleCSWFederatedSource"
identifierMapping="identifier"
isCqlForced=B"false"
modifiedDateMapping="modified"
outputSchema="http://www.opengis.net/cat/csw/2.0.2"
password=""
pollInterval=I"5"
queryTypePrefix="csw"
queryTypeQName="{http://www.opengis.net/cat/csw/2.0.2}Record"
receiveTimeout=I"60000"
resourceUriMapping="source"
service.factoryPid="Csw_Federated_Source"
service.pid="Csw_Federated_Source.f91db56e-67ad-4d36-88dd-87c654ffb774"
shortname="ExampleCSWFederatedSource"
thumbnailMapping="references"
usePosList=B"false"
username=""
