0="DDF-OS"
endpointUrl="${org.codice.ddf.system.protocol}${org.codice.ddf.system.hostname}:${org.codice.ddf.system.port}${org.codice.ddf.system.rootContext}/catalog/query"
id="ExampleSourceName"
localQueryOnly=B"true"
parameters=["q","src","mr","start","count","mt","dn","lat","lon","radius","bbox","polygon","dtstart","dtend","dateName","filter","sort"]
password="ExamplePassword"
service.factoryPid="OpenSearchSource"
service.pid="OpenSearchSource.248b020f-37f8-48ae-99e8-4e5cd255705f"
shortname="ExampleSourceName"
shouldConvertToBBox=B"true"
username="ExampleUsername"
