endpointUrl="${org.codice.ddf.external.protocol}${org.codice.ddf.external.hostname}:${org.codice.ddf.external.port}${org.codice.ddf.external.context}${org.codice.ddf.system.rootContext}/catalog/query"
id="ExampleSourceName"
localQueryOnly=B"true"
parameters=[ \
  "q", \
  "src", \
  "mr", \
  "start", \
  "count", \
  "mt", \
  "dn", \
  "lat", \
  "lon", \
  "radius", \
  "bbox", \
  "polygon", \
  "dtstart", \
  "dtend", \
  "dateName", \
  "filter", \
  "sort", \
  ]
password="ExamplePassword"
shortname="ExampleSourceName"
shouldConvertToBBox=B"true"
username="ExampleUsername"
