endpointUrl = "${org.codice.ddf.system.protocol}${org.codice.ddf.system.hostname}:${org.codice.ddf.system.port}${org.codice.ddf.system.rootContext}/catalog/query"
id = "ExampleSourceName"
localQueryOnly = B"true"
parameters = [ \
  "q", \
  "src", \
  "mr", \
  "start", \
  "count", \
  "mt", \
  "dn", \
  "lat", \
  "lon", \
  "radius", \
  "bbox", \
  "polygon", \
  "dtstart", \
  "dtend", \
  "dateName", \
  "filter", \
  "sort", \
  ]
password = "ExamplePassword"
shortname = "ExampleSourceName"
shouldConvertToBBox = B"true"
username = "ExampleUsername"
