connectionTimeout = I"30000"
coordinateOrder = "LAT_LON"
disableCnCheck = B"false"
disableSorting = B"false"
forceSpatialFilter = "NO_FILTER"
id = "ExampleWFS2.0.0FederatedSource"
nonQueryableProperties = [ \
  ]
password = ""
pollInterval = I"5"
receiveTimeout = I"60000"
shortname = "ExampleWFS2.0.0FederatedSource"
username = ""
wfsUrl = ""
