0="WFS"
connectionTimeout=I"30000"
disableCnCheck=B"false"
disableSorting=B"false"
forceSpatialFilter="NO_FILTER"
id="ExampleWFS2.0.0ConnectedSource"
isLonLatOrder=B"false"
nonQueryableProperties=[]
password=""
pollInterval=I"5"
receiveTimeout=I"60000"
service.factoryPid="Wfs_v2_0_0_Connected_Source"
service.pid="Wfs_v2_0_0_Connected_Source.f4d4e4bc-2b00-4551-aa98-de9d20907f71"
shortname="ExampleWFS2.0.0ConnectedSource"
username=""
wfsUrl=""
