//namespace
@customElementNamespace: ddf-;

//color palette
@primary-color: #3c6dd5;
@positive-color: #428442;
@negative-color: #8a423c;
@warning-color: #c89600;
@favorite-color: #d1d179;

//grey range
@baseGrey: #424249;
@tenGrey: shade(@baseGrey, 10%);
@twentyGrey: shade(@baseGrey, 20%);
@thirtyGrey: shade(@baseGrey, 30%);
@fortyGrey: shade(@baseGrey, 40%);
@fiftyGrey: shade(@baseGrey, 50%);

//color usage
@navigation-background-color: @fiftyGrey;
@background-color: @fortyGrey;
@dropdown-background-color: @thirtyGrey;
@card-background-color: @twentyGrey;
@text-color: contrast(@fortyGrey);
@button-text-color: white;

//relative coloring
@lighten-inherited-background-color: fade(@text-color, 5%);
@medium-lighten-inherited-background-color: fade(@text-color, 20%);
@heavily-lighten-inherited-background-color: fade(@text-color, 40%);
@completely-lighten-inherited-background-color: fade(@text-color, 90%);
@darken-inherited-background-color: rgba(0,0,0,.05);
@medium-darken-inherited-background-color: rgba(0, 0, 0, .20);
@heavily-darken-inherited-background-color: rgba(0,0,0,.4);
@completely-darken-inherited-background-color: rgba(0, 0, 0, .9);

//sizing
@minimumButtonSize: 2.75rem;  //44px
@minimumLineSize: 1.875rem;   //30px
@border-radius: 1px;

//screensizes
@minimumScreenSize: 20rem; //320px
@mobileScreenSize: 26.25rem; //420px
@smallScreenSize: 58.75rem;  //940px
@mediumScreenSize: 90rem;  // 1440px

//z-indexes
@zIndexMenubar: 101;
@zIndexLightbox: 101;
@zIndexSlideout: 103;
@zIndexContent: 101;
@zIndexConfirmation: 103;
@zIndexHelp: 104;
@zIndexVerticalMenu: 101;
@zIndexDropdown: 103;
@zIndexMenuItem: 102;
@zIndexBlocking: 105;

//transitions
@transitionTime: .0s;
@coreTransitionTime: .250s;

//font sizes
@minimumFontSize: 1rem;
@mediumFontSize: 1.2rem;
@largeFontSize: 1.4rem;

//spacing
@minimumSpacing: 0.625rem;
@mediumSpacing: 1.25rem;
@largeSpacing: 1.875rem;

//dividers.
@dividerHeight: .0625rem;
@minimumDividerSize: @dividerHeight + 2*@minimumSpacing;

//opacity
@minimumOpacity: 0.6;