@default-color: #5c5c5c;
@primary-color: shade(#008ab8, 25%);
@success-color: #7ab800;

@positive-color: shade(#00b843, 25%);
@negative-color: spin(@primary-color, 180);
@neutral-color: @primary-color;

@navbar-header-color: #999999;

@divider-hr-color: #444;

// ddf select box colors
@select-background-color: #555;
@select-color: #fff;
@select-border-color: #666;

@customElementNamespace: ddf-;
@minimumButtonSize: 44px;

//@border-color: rgba(54, 54, 54, .8);
@border-color: rgba(104, 104, 104, .8);
//@background-color: rgba(36, 36, 36, 0.95);
@background-color: rgba(0,0,0,1);
@within-background-color: rgba(66,66,66,.6);
@hover-background-color: rgba(66,66,66,.9);

@lightboxIndicator: rgba(255,255,255,.5);

@smallScreenSize: 600px;
@mediumScreenSize: 1200px;

//z-indexes
@zIndexMenubar: 101;
@zIndexLightbox: 102;
@zIndexContent: 101;

//transitions
@transitionTime: .0s;