@{customElementNamespace}list-item-collection {
  display: block;
  width: 100%;
  padding: @minimumSpacing;
  overflow-x: hidden;

  @{customElementNamespace}list-item + @{customElementNamespace}list-item {
    margin-top: @minimumSpacing;
  }
}

@{customElementNamespace}list-item {
  display: block;
  cursor: pointer;
  position: relative;

  .list-container {
    height: auto;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    cursor: pointer;
  }

  .list-color,
  .list-details,
  .list-actions,
  .list-schedule,
  .list-settings,
  .list-add,
  .list-edit {
    display: inline-block;
    vertical-align: middle;
  }

  .details-title {
    .is-bold();
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .details-feed,
  .details-empty,
  .details-title {
    padding: 0px @minimumSpacing;
  }

  .list-delete,
  .details-empty {
    display: none;
  }

  .list-color {
    width: @largeSpacing;
    height: 100%;
  }

  .list-details {
    width: ~'calc(100% - @{largeSpacing})';
    margin: 0px 0px 0px @largeSpacing;
    line-height: @minimumLineSize;
    height: auto;
  }

  .list-actions {
    height: @minimumButtonSize;
    width: @minimumButtonSize;
    text-align: center;
  }

  .list-color {
    position: absolute;
  }

  .details-footer {
    text-align: right;
    line-height: @minimumButtonSize;

    > button,
    > .list-edit,
    > .list-add,
    > .list-schedule,
    > .list-settings,
    > .list-actions {
      vertical-align: middle;
      width: @minimumButtonSize;
      height: @minimumButtonSize;
      font-size: @largeFontSize;
    }
  }

  .list-stop {
    display: none;
  }

  .list-color {
    left: 0px;
    top: 0px;
  }

  .list-actions {
    right: 0px;
    top: 0px;
  }

  .is-listInteractions {
    height: 100%;
    font-size: @minimumFontSize;
  }

  .list-refresh {
    display: none;
  }
}

@{customElementNamespace}list-item.is-out-of-date:not(.is-empty) {
  .list-refresh {
    display: inline-block;
  }
}

@{customElementNamespace}list-item.is-searching {
  .list-stop {
    display: inline-block;
  }
  .list-run {
    display: none;
  }
}

@{customElementNamespace}list-item.hide-actions {
  .list-actions {
    display: none;
  }

  .list-details {
    width: ~'calc(100% - @{largeSpacing})';
    margin: 0px 0px 0px @largeSpacing;
    padding: @minimumSpacing;
  }
}

@{customElementNamespace}list-item.is-empty {
  .details-empty {
    display: block;
  }
  .list-delete {
    display: inline-block;
  }
  .details-feed {
    display: none;
  }
  .list-run {
    display: none;
  }
}