@{customElementNamespace}dev-card-guide {
    display: block;

    @{customElementNamespace}workspace-item {
        margin: 0px;
    }

    .sketch {
        cursor: pointer;
        margin: @minimumSpacing;
        > div:not(:first-of-type):not(:last-of-type) {
            opacity: @minimumOpacity;
        }
        > div:not(:last-of-type) {
            line-height: @minimumLineSize;
            padding: 0px @minimumSpacing;
        }
        > div:last-of-type {
            text-align: right;
            white-space: nowrap;
            vertical-align: top;
            span {
                text-align: center;
                display: inline-block;
                width: @minimumButtonSize;
                height: @minimumButtonSize;
                line-height: @minimumButtonSize;
            }
        }
    }
}