@{customElementNamespace}unsaved-indicator {
    display: inline-block;
    line-height: inherit;
    color: @warning-color;
    transform: scale(1);
    opacity: 1;
    transition: transform @coreTransitionTime ease-out, opacity @coreTransitionTime ease-out;
}

@{customElementNamespace}unsaved-indicator.is-saved {
    transform: scale(2);
    opacity: 0;
}