.filter-view {

  i {
    .i-clickable();
  }

  .filter-status {
    border-top: 1px solid @divider-hr-color;
    text-align: center;
    cursor: pointer;
  }

  .filter-menu {
    display: none;
  }

  h6 {
    text-transform: capitalize;
    i {
      font-size: 19px;
    }
  }

  .filter-table td {

    select, input {
      width: auto;
      border-radius: 4px;
      font-size: 12px;
      height: 28px;
      margin-bottom: 0px;
    }

    select {
      padding: 0px;
    }

    .value-input-group,
    .operator-group,
    .metadata-field-group,
    .button-group,
    .geo-button-group{
      float: left;
      vertical-align: top;
    }

    .geo-button-group {
      padding: 4px 6px 0px 6px;
    }

    .metadata-field-group {
      margin-right: 5px;
    }

    .metadata-field-group select {
      width: 80px;
      margin-bottom: 0px;
    }

    .operator-group {
      margin-right: 5px;
    }

    .operator-group select {
      width: 80px;
      margin-bottom: 0px;
    }

    .value-input-group input {
      width: 180px;
      margin-bottom: 0px;

      &.geo-field {
        width: 159px;
      }
    }

    .button-group {
      float: right;
      padding-top: 4px;
      padding-right: 6px;
      padding-left: 6px;
      cursor: pointer;
    }

  }

  .field-value {
    font-size: small;
  }

  &.active {
    .filter-menu {
      display: block;
    }
  }
}

@media (min-width: 700px){
  .full-screen-search {

    .filter-view {
      .metadata-field-group select {
        width: auto;
      }

      .operator-group select {
        width: auto;
      }

      .value-input-group input {
        width: 400px;
        margin-bottom: 0px;
      }
    }
  }
}

@media (min-width: 1000px){
  .full-screen-search {
    .filter-menu {
      width: 1000px;
      margin: 0 auto;
    }
  }
}

