table.table {
  &.vertical-shrink-rows {
    td, th {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

  &.no-bottom-margin{
    margin-bottom: 0px;
  }
  &.attached {
    // this will make the table appear as if its part of a table above it.  This will equals tables' margin-top + 1
    margin-top: -21px;
  }


}