groupBaseDn = "ou\=groups,dc\=example,dc\=com"
ldapBindUserDn = "cn\=admin"
ldapBindUserPass = "secret"
ldapUrl = "ldaps://${org.codice.ddf.system.hostname}:1636"
startTls = B"false"
userBaseDn = "ou\=users,dc\=example,dc\=com"
userNameAttribute = "uid"
realm = ""
kdcAddress = ""
bindMethod = "Simple"
