@{customElementNamespace}query-status-row {

    .fa-warning {
        color: @negative-color !important;
    }

    .status-filter {
        text-align: center;
    }

    button {
        width: @minimumButtonSize;
    }
}