@{customElementNamespace}query-editor {
    .customElement;
    overflow: hidden;
    @{customElementNamespace}query-basic,
    @{customElementNamespace}query-advanced {
        .editor-footer {
            display: none;
        }
        .editor-properties {
            padding: 0px;
        }
    }
    .editor-content {
        display: inline-block; // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
        width: 100%;
        padding: @minimumSpacing @minimumSpacing;
        .basic-location-specific,
        .basic-type-specific {
            display: none;
            margin-left: 20px;
        }
    }
    .editor-footer {
        height: @minimumButtonSize;
        white-space: nowrap;
        >button {
            height: 100%;
            display: inline-block;
        }
        >.editor-edit {
            width: 100%;
        }
        >.editor-cancel {
            width: 50%;
            display: none;
        }
        >.editor-save {
            width: 30%;
            display: none;
        }
        > .editor-saveRun {
            width: 70%;
            display: none;
        }
    }
    &.is-editing {
        .editor-footer {
            >.editor-edit {
                display: none;
            }
            >.editor-cancel {
                display: inline-block;
            }
            >.editor-save {
                display: inline-block;
            }
            > .editor-saveRun {
                display: inline-block;
            }
        }
    }
}