.exception {
  position: relative;
  background: white;
}

.message {
  font-family: monospace;
  font-size: 0.75em;
  white-space: nowrap;
  max-height: 320px;
  overflow: scroll;
  padding: 20px;
  box-sizing: border-box;

  a {
    color: #333333;
    margin-left: 4em;
  }
  a:hover {
    text-decoration: underline;
  }
}
