.logviewer-ui-root {
  .error-message {
    background: #e74c3c;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    overflow: hidden;
  }

  .float-right {
    float: right;
  }
}
