{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="user-settings-navigation">
    <button class="navigation-choice is-neutral choice-theme">
        <span class="fa fa-paint-brush"></span>
        <span>Theme</span>
    </button>
    <button class="navigation-choice is-neutral choice-alerts">
        <span class="fa fa-bell"></span>
        <span>Notifications</span>
    </button>
    <button class="navigation-choice is-neutral choice-map">
        <span class="fa fa-globe"></span>
        <span>Map</span>
    </button>
    <button class="navigation-choice is-neutral choice-search">
        <span class="fa fa-search"></span>
        <span>Query</span>
    </button>
    <button class="navigation-choice is-neutral choice-time">
        <span class="fa fa-clock-o"></span>
        <span>Time</span>
    </button>
    <button class="navigation-choice is-neutral choice-hidden">
        <span class="fa fa-eye-slash"></span>
        <span>Hidden</span>
    </button>
</div><!--
--><div class="user-settings-content">
    <div class="content-header">
        <button class="header-back is-button">
            <span class="fa fa-chevron-left"></span>
        </button>
    </div>
    <div class="content-settings">
    </div>
</div>