{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="editor-properties">
    <div class="basic-title">

    </div>
    <div class="basic-text">

    </div>
    <div class="basic-text-match">

    </div>
    <div class="basic-time-details">
        <div class="basic-time">

        </div>
        <div class="basic-time-before">

        </div>
        <div class="basic-time-after">

        </div>
        <div class="basic-time-between">
            <div class="between-before">

            </div>
            <div class="between-after">

            </div>
        </div>
    </div>
    <div class="basic-location-details">
        <div class="basic-location">

        </div>
        <div class="basic-location-specific">

        </div>
    </div>
    <div class="basic-type-details">
        <div class="basic-type">

        </div>
        <div class="basic-type-specific">

        </div>
    </div>
</div>
<div class="editor-footer">
    <button class="editor-edit is-primary">
        <span class="fa fa-pencil">

        </span>
        <span>
            Edit
        </span>
    </button>
    <button class="editor-cancel is-negative">
         <span class="fa fa-times">
         </span>
        <span>
            Cancel
        </span>
    </button>
    <button class="editor-save is-positive">
         <span class="fa fa-floppy-o">
         </span>
        <span>
            Save
        </span>
    </button>
</div>