@{customElementNamespace}query-feedback {
    .customElement;

    > .editor-properties {
        display: inline-block;
        max-height: ~"calc(100% - 2*@{minimumButtonSize})";
        overflow: auto;
        width: 100%;
    }

    > .editor-properties .properties-comments {
        height: 100%;
    }

    > .editor-footer {
        margin-top: 20px;
        height: @minimumButtonSize;
        white-space: nowrap;

        button {
            width: 50%;
        }
    }
}