@{reactNamespace}location {
  display: block;
  width: auto;

  .location-draw {
    margin: 10px 0;
    width: 100%;
  }

  .input-group {
    border: none;
  }

  .input-group-addon {
    border: none;
  }

  .form-group {
    .input-group-addon {
      display: table-cell;
      font-size: @minimumFontSize;
      padding: 0px @minimumSpacing;
      height: @minimumButtonSize !important;
      line-height: @minimumButtonSize !important;
      width: @minimumButtonSize !important;
    }

    .input-group {
      height: @minimumButtonSize;
      line-height: @minimumButtonSize;

      > span.input-group-addon,
      > label.input-group-addon {
        font-weight: lighter;
        opacity: @minimumOpacity;
      }

      > span {
        min-width: 9.375rem;
        font-size: @minimumFontSize;
      }

      > input {
        height: 100%;
        min-width: 5rem;
      }

      > label {
        font-size: @minimumFontSize;
      }
    }

    min-height: 1px;
    margin-top: 15px;
    margin-bottom: 0px;
    max-width: 2 * @minimumScreenSize;
    float: none;
    width: 100%;
  }
  .input-location {
    border-radius: @border-radius;
  }

  .input-location + .input-location {
    margin-top: 10px;
  }
}

@{reactNamespace}direction {
  input {
    height: @minimumButtonSize;
    width: @minimumButtonSize;
    cursor: pointer;
    text-align: center;
    padding: 0;

    &:focus {
      outline: 0;
    }
  }
}

@{reactNamespace}text-field {
  flex: 1;
  input {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
  }
}
