@{customElementNamespace}table {
  .customElement;
  position: relative;
  overflow: auto;
  background: inherit;

  table {
    width: 100%;
    border-collapse: separate !important;
  }

  .is-thead,
  .is-thead > th {
    background: inherit;
  }

  .is-thead > th {
    padding: @minimumSpacing @mediumSpacing;
    border-bottom: 1px solid @heavily-lighten-inherited-background-color;
    z-index: 1;
  }

  td {
    padding: @minimumSpacing @mediumSpacing;
  }

  th + th {
    border-left: 1px solid @lighten-inherited-background-color;
  }

  td + td {
    border-left: 1px solid @lighten-inherited-background-color;
  }

  .table-header > .is-tbody {
    visibility: hidden;
  }

  .table-body > .is-thead {
    visibility: hidden;
  }

}