@{customElementNamespace}input.is-textarea {
    .if-overflow {
        display:none;
    }
    .if-editing {
        position: relative;
    }

    textarea {
        line-height: normal;
        padding: 6px 10px 5px 10px;
      width: 100%;
        max-height:400px;
        min-height:100px;
    }

    textarea:disabled {
        position: relative;
        z-index: @zIndexContent;
        background: inherit;
        border: none;
        height:75px;
        max-height:75px;
        min-height:75px;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-direction: unset;
        resize:none;
    }

    .ta-expand,
    .ta-contract {
        display:none;
        text-align:center;
        width:100%;
        position:relative;
        bottom: 0px;
        z-index: @zIndexContent;

      i {
        position: relative;
        bottom: 0;
      }

    }
}

@{customElementNamespace}input.is-textarea.is-expanded.has-overflowed {
    .ta-expand {
        display: none;
    }
    .ta-contract {
        display: block;
    }
}

@{customElementNamespace}input.is-textarea.has-overflowed {
    .ta-expand {
        display: block;
    }
}

@{customElementNamespace}input.is-textarea.is-editing {
    .if-editing {
        position: relative;
        transform: none;
    }

    .if-viewing {
        display: none;
    }
}