@{reactNamespace}export-results {
  display: inline;
  background: inherit;
  font-family: inherit;
  font-size: @largeFontSize;
  font-weight: inherit;
  opacity: 0.6;

  > .export-set-selection,
  > .export-format-selection {
    background: inherit;
  }

  > button {
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    padding: 0px 10px;
  }
}
