@{customElementNamespace}search-form-interactions {
  .search-form-interaction,
  .interaction-icon,
  .interaction-text {
    line-height: @minimumButtonSize;
    height: @minimumButtonSize;
  }

  .search-form-interaction {
    white-space: nowrap;
    padding-right: @minimumSpacing;
    cursor: pointer;
    overflow: hidden;
  }

  .interaction-icon {
    text-align: center;
    width: @minimumButtonSize;
  }

  .interaction-icon,
  .interaction-text {
    display: inline-block;
  }

  .interaction-clear {
    display: none;
  }
}

@{customElementNamespace}search-form-interactions.is-current-template {
  > .interaction-default {
    display: none;
  }
  > .interaction-clear {
    display: block;
  }
}

@{customElementNamespace}search-form-interactions.is-result-form-template {
  > .interaction-clear {
    display: none;
  }

  > .interaction-default {
    display: none;
  }

  > .interaction-edit {
    display: none;
  }
}

@{customElementNamespace}search-form-interactions.is-system-template {
  > .interaction-trash {
    display: none;
  }

  > .interaction-share {
    display: none;
  }
}

@{customElementNamespace}search-form-interactions.is-not-shareable-template {
  > .interaction-share {
    display: none;
  }
}

@{customElementNamespace}search-form-interactions.is-not-editable-template {
  > .interaction-trash {
    display: none;
  }

  > .interaction-edit {
    display: none;
  }
}
