@{customElementNamespace}menu {
    @menuDetailsWidth: 300px;

  .customElement;
  position: relative;
  height: 60px;
  white-space: nowrap;

  > .menu-logo {
    width: @minimumButtonSize;
  }

  > .menu-content {
    width: ~'calc(100% - @{menuDetailsWidth} - @{minimumButtonSize})';
  }

  > .menu-details {
    width: @menuDetailsWidth;
  }

  > .menu-logo,
  > .menu-content,
  > .menu-details {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    white-space: nowrap;
  }

  > .menu-content > .content-title,
  > .menu-content > .content-toolbar {
    height: 30px;
    padding: 0px 10px;
  }

  > .menu-content > .content-title {
  }

  > .menu-details > .details-buttons {
    height: 35px;
  }

  > .menu-details > .details-tasks {
    padding: 0 15px;
  }

  > .menu-details > .details-user,
  > .menu-details > .details-tasks,
  > .menu-details > .details-notifications,
  > .menu-details > .details-buttons {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    vertical-align: top;
    font-size: 2rem;
  }

}