@{customElementNamespace}sort-item.sort-duplicate-show {
  .sort-duplicate {
    color: contrast(@warning-color);
    display: block;
    line-height: @minimumLineSize;
    text-align: left;
    padding: @minimumSpacing;
    margin-left: @minimumSpacing;
    background: @warning-color;
    white-space: normal;
  }
  .sort-attribute > @{customElementNamespace}property,
  .sort-direction > @{customElementNamespace}property {
    padding-bottom: 0px;
  }
}

@{customElementNamespace}sort-item-collection {
  display: block;
  width: 100%;
  overflow: hidden;

  @{customElementNamespace}sort-item + @{customElementNamespace}sort-item {
  }

  @{customElementNamespace}sort-item:not(:first-of-type) {
    .sort-remove {
      display: inline-block;
    }
  }

  @{customElementNamespace}sort-item:last-of-type {
    margin-bottom: @minimumSpacing;
  }

  > .sort-add {
    width: 100%;
  }

}

@{customElementNamespace}sort-item + @{customElementNamespace}sort-item {
  margin-top: @minimumSpacing;
}

@{customElementNamespace}sort-item {
  display: block;
  white-space: nowrap;
  overflow: hidden;

  .sort-attribute > @{customElementNamespace}property,
  .sort-direction > @{customElementNamespace}property {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  > .sort-duplicate {
    display: none;
    width: ~'calc(50%  - @{minimumButtonSize}/2 - 3*@{minimumSpacing})';
  }

  .sort-attribute,
  .sort-direction {
    width: ~'calc(50%  - @{minimumButtonSize}/2 - @{minimumSpacing})';
  }

  .sort-attribute,
  .sort-direction,
  .sort-remove {
    display: inline-block;
    vertical-align: top;
  }

  .sort-attribute {
    transition: width @coreTransitionTime ease-in-out;
  }

  .sort-remove {
    height: @minimumButtonSize;
    width: @minimumButtonSize;
    display: none;
  }

}

@{customElementNamespace}sort-item.is-non-directional-sort {
  .sort-attribute {
    width: ~'calc(100% - 1.5*@{minimumSpacing} - @{minimumButtonSize})';
  }
  .sort-direction {
    display: none;
  }
  .sort-duplicate {
    width: ~'calc(100% - 3.5*@{minimumSpacing} - @{minimumButtonSize})';
  }
}