@{customElementNamespace}list-editor {
  .customElement;

  overflow: hidden;

  .editor-properties {
    padding: 0px @minimumSpacing @minimumSpacing @minimumSpacing;
  }

  .editor-footer {
    height: @minimumButtonSize;
    white-space: nowrap;

    > button {
      height: 100%;
      display: inline-block;
    }
    > .editor-edit {
      width: 100%;
    }
    > .editor-cancel {
      width: 50%;
      display: none;
    }
    > .editor-save {
      width: 50%;
      display: none;
    }
  }

  &.is-editing {
    .editor-footer {
      > .editor-edit {
        display: none;
      }
      > .editor-cancel {
        display: inline-block;
      }
      > .editor-save {
        display: inline-block;
      }
    }
  }
}

@{customElementNamespace}list-editor {
  .list-limiting {
    display: none;
    margin-left: 20px;
  }
}

@{customElementNamespace}list-editor.is-limited {
  .list-limiting {
    display: block;
  }
}

@{customElementNamespace}list-editor.is-template {
  .list-limiting-switch,
  .list-limiting,
  .list-icon {
    display: none;
  }
}