@{customElementNamespace}result-group {
  display: block;
  box-shadow: none !important;
  background: inherit !important;

  > .group-representation {
    text-align: left;
    padding: @minimumSpacing 0px;
  }

  @{customElementNamespace}result-item-collection {
    padding: 0px 0px 0px 0px;
  }

  > .group-results {
    position: relative;  
    padding-left: 2*@minimumSpacing;
  }
}

@{customElementNamespace}result-group + @{customElementNamespace}result-item {
  margin-top: @minimumSpacing;
}

@{customElementNamespace}result-item + @{customElementNamespace}result-group,
@{customElementNamespace}result-item + @{customElementNamespace}result-item,
@{customElementNamespace}result-group + @{customElementNamespace}result-group
{
  margin-top: @minimumSpacing;
}

