@{customElementNamespace}behavior-dropdown {
  display: none;
}

[data-behavior-dropdown] {
  position: absolute;
  transform: translate3d(-50%, -50%, 0) scale(0);
  opacity: 0;
  z-index: @zIndexDropdown;
  overflow: auto;
  .changeBackground(@backgroundDropdown);
  padding-top: @minimumSpacing;
  padding-bottom: @minimumSpacing;
  border-radius: 2px;
  .dropshadow;
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}

[data-behavior-dropdown]:focus {
  outline: none;
}

[data-behavior-dropdown].is-open {
  opacity: 1;
  transition: opacity @coreTransitionTime ease-in-out;

  &.is-bottom {
    transform: translate3d(0, 0, 0) scale(1);
  }

  &.is-top {
    transform: translate3d(0, -100%, 0) scaleY(1);
  }
}

html.show-drawing-tools,
html.is-drawing {
  [data-behavior-dropdown].is-open {
    transform: translate3d(-50%, -50%, 0) scale(0);
  }
}
