.has-navigation-behavior(@contrastColor: white) {
    .has-navigation-behavior {
        > *:not(.composed-menu):hover:not(button),
        > *.is-active:not(.composed-menu):not(button),
        .composed-menu > *:not(.composed-menu):hover:not(button),
        .composed-menu > *:not(.composed-menu).is-active:not(button) {
          background: fade(@contrastColor, 10%);
        }
        > button:not(.composed-menu):hover,
        > button.is-active:not(.composed-menu),
        .composed-menu > button:not(.composed-menu):hover,
        .composed-menu > button:not(.composed-menu).is-active {
            position: relative;
        }
        > button:not(.composed-menu):hover::before,
        > button.is-active:not(.composed-menu)::before,
        .composed-menu > button:not(.composed-menu):hover::before,
        .composed-menu > button:not(.composed-menu).is-active::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          background: fade(@contrastColor, 10%);
        }
    }
}
.has-navigation-behavior();