@{customElementNamespace}editor {
  .customElement;

  overflow: auto;

  .editor-properties {
    overflow: auto;
    padding: 10px 10px;
    max-height: ~"calc(100% - 2*@{minimumButtonSize})";
  }

  .editor-footer {
    margin-top: 20px;
    height: @minimumButtonSize;
    white-space: nowrap;
    .inlineFix;

    > button {
      height: 100%;
      display: inline-block;
    }
    > .editor-edit {
      width: 100%;
    }
    > .editor-cancel {
      width: 50%;
      display: none;
    }
    > .editor-save {
      width: 50%;
      display: none;
    }
  }

  &.is-editing {
    .editor-footer {

      > .editor-edit {
        display: none;
      }
      > .editor-cancel {
        display: inline-block;
      }
      > .editor-save {
        display: inline-block;
      }
    }
  }
}

@{customElementNamespace}editor.is-revision,
@{customElementNamespace}editor.is-deleted,
@{customElementNamespace}editor.is-remote {
  .editor-footer {
    display: none !important;
  }
}

.is-medium-screen, .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}editor {
    .editor-properties {
      max-height: none;
    }
  }
}
