@{customElementNamespace}slideout.is-right {

    > .slideout-cover {
        background: rgba(0,0,0,.4);
    }

    > .slideout-content {
        top: 0%;
        height: 100%;
    }

}

@{customElementNamespace}slideout.is-right.is-open {

    > .slideout-cover {
        transform: translateX(-100%);
    }
    > .slideout-content {
        transform: translateX(-100%);
    }
}

body.has-header @{customElementNamespace}slideout.is-right {
    > .slideout-content {
        top: 1.5rem;
        height: ~'calc(100% - 1.5rem)';
    }
}

body.has-footer @{customElementNamespace}slideout.is-right {
    > .slideout-content {
        top: 0%;
        height: ~'calc(100% - 1.5rem)';
    }
}

body.has-header.has-footer @{customElementNamespace}slideout.is-right {
    > .slideout-content {
        top: 1.5rem;
        height: ~'calc(100% - 3rem)';
    }
}