@{customElementNamespace}list-item-collection.is-list-select {
    .customElement;
  
    @{customElementNamespace}list-item-collection {
      padding: 0px;
    }
  
    @{customElementNamespace}list-item {
      cursor: pointer;
      padding: @minimumSpacing @minimumSpacing;
  
      .list-details {
        width: ~'calc(100% - @{largeSpacing})';
        margin: 0px 0px 0px @largeSpacing;
      }
    }
  
    @{customElementNamespace}list-item.is-selected {
      .is-bold();
    }
  }

@{customElementNamespace}list-select {
  > .list-create {
    width: 100%;
  }
}