@{customElementNamespace}feature-item {
    display: block;
    white-space: nowrap;
    padding: 0px @mediumSpacing;

    > .feature-title {
        opacity: @minimumOpacity;
        width: ~'calc(100% - 200px)';
    }

    > div {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        height: @minimumButtonSize;
        line-height: @minimumButtonSize;
    }

    button {
        height: @minimumButtonSize;
        border: none;
        padding: 0px;
        background: inherit;
        width: 200px;
        text-align: left;
        padding: 0px @minimumSpacing;
    }

    > div:last-of-type {
        text-align: right;
    }

    > div:last-of-type span:not(.fa-spin) {
        display: inline-block;
    }

    .fa-spin {
        display: none;
    }
}

@{customElementNamespace}feature-item.active {
    .fa-spin {
        display: inline-block;
    }

    > div:last-of-type span:not(.fa-spin) {
        display: none;
    }
}

@{customElementNamespace}feature-item.is-installed {
    > .feature-title {
        opacity: 1;
    }
}

@{customElementNamespace}feature-item:hover {
    background: rgba(0,0,0,.1);
}

@{customElementNamespace}feature-item.is-filtered {
    display: none;
}

@{customElementNamespace}feature-item-collection {
    @{customElementNamespace}feature-item + @{customElementNamespace}feature-item {
        border-top: 1px solid rgba(0,0,0,.4);
    }
}