@{customElementNamespace}sort-item-collection {
  display: block;
  width: 100%;
  padding: 10px;
  overflow-x: hidden;

  @{customElementNamespace}sort-item + @{customElementNamespace}sort-item {
    margin-top: 10px;
  }

  @{customElementNamespace}sort-item:not(:first-of-type) {
    .sort-remove {
      display: inline-block;
    }
  }

  @{customElementNamespace}sort-item {
    .sort-direction {
      width: ~'calc(50% - @{minimumButtonSize} - 40px)';
    }
  }
}

@{customElementNamespace}sort-item {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;

  .sort-attribute,
  .sort-direction {
    margin-right: 20px;
  }

  .sort-attribute,
  .sort-direction,
  .sort-remove {
      display: inline-block;
      vertical-align: top;
  }

  .sort-attribute {
      width: 50%;
      transition: width @coreTransitionTime ease-in-out;
  }

  .sort-direction {
    width: ~'calc(50% - 40px)';
  }

  .sort-remove {
    height: @minimumButtonSize;
    width: @minimumButtonSize;
    display: none;
  }

}
@{customElementNamespace}sort-item.is-non-directional-sort {
    .sort-attribute {
      width: 100%;
    }
    .sort-direction {
    }
}
  