@{customElementNamespace}layers {
    display: block;
    width: @minimumScreenSize;

    > .is-header {
        padding: @minimumSpacing;
    }

    > .footer {
        margin-top: @mediumSpacing;
        text-align: right;

        > button {
            padding: 0px @minimumSpacing;
        }
    }
}