@{customElementNamespace}dropdown.is-alerts {
  display: block;
  position: relative;

  .notification-icon {
    position: relative;
    cursor: pointer;
  }

  .text-right {
    text-align: right;
  }
}

@{customElementNamespace}dropdown.is-alerts.has-alerts {
  opacity: 1;
}
