<div id="resultsView" class="nav nav-list height-full">
    <div class="row-fluid resultListScroll">
        <table class="table resultTable">
            <tbody>
            </tbody>
        </table>
        <a href="#" class="load-more-link cent"><i class="icon-arrow-down"/>&nbsp;Load More Results</a>
    </div>
</div>