<td>
    <div style="clear:both;">
        <a href="#" style="white-space:nowrap;text-overflow:ellipsis;width:350px;display: block;overflow: hidden;" class="metacardLink">
            {{#isNotBlank metacard.properties.title}}
                {{metacard.properties.title}}
            {{else}}
                [No Title]
            {{/isNotBlank}}
        </a>
    </div>
    <div style="float:left"><span class="small-text">{{metacard.properties.source-id}}</span></div>
    <div style="float:right">
        <span class="small-text">&nbsp;&nbsp;&nbsp;{{moment metacard.properties.created fromNow=null}}</span>
    </div>
</td>