<div id="resultsView" class="nav nav-list well well-small">
    <div class="results-header">
        <div class="resultsCount pull-left">
            <p id="countTotal" class="lead">Total Results: {{hits}}</p>
        </div>
        <div class="pagination pull-right">
            <ul id="pages">
            </ul>
        </div>
    </div>
    <div class="row-fluid results">
        <hr class="hr-small"/>
        <table class="resultTable table table-striped">
            <tbody>
            </tbody>
        </table>
    </div>
</div>