@{customElementNamespace}upload-item-collection {
    display: block;
    overflow: hidden;

    @{customElementNamespace}upload-item + @{customElementNamespace}upload-item {
        margin-top: @minimumSpacing;
    }
}