@{customElementNamespace}input.is-color {
    input {
        height: @minimumButtonSize;
        width: 100%;
    }

    label {
        padding-left: ~'calc(2px + .5*@{minimumFontSize})';
        line-height: @minimumButtonSize;
        margin: 0px;
        white-space: normal;
        word-break: break-all;
        min-height: @minimumButtonSize;
    }

    div.sp-replacer {
        width: 100%;
        white-space: nowrap;
        height: @minimumButtonSize;
        line-height: @minimumButtonSize;
        padding: 0px;
    }
    
    div.sp-preview {
        border: 0px;
        margin: 0px;
        height: @minimumButtonSize;
        vertical-align: top;
        display: inline-block;
        width: ~'calc(100% - @{minimumButtonSize})';
    }
}
    