@{customElementNamespace}table {
  .customElement;
  position: relative;
  overflow: auto;
  background: inherit;

  table {
    width: 100%;
    border-collapse: separate !important;
    // margin-top: 2 * @largeSpacing;
    margin-top: @mediumSpacing;
  }

  .is-thead,
  .is-thead > th {
    // background: inherit;
    // background: fade(contrast(@backgroundContent), 7%);
    background: fade(@primary-color, 5%);
    border-bottom: solid 1px fade(contrast(@backgroundContent), 10%) !important;
    padding: @mediumSpacing !important;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .is-thead > th {
    padding: @minimumSpacing @mediumSpacing;
    z-index: 1;
  }

  td {
    padding: @minimumSpacing @mediumSpacing;
    color: fade(contrast(@backgroundContent), 80%);
  }

  .table-header > .is-tbody {
    visibility: hidden;
  }

  .table-body > .is-thead {
    visibility: hidden;
  }

}

@{customElementNamespace}table.is-results {
    table {
      table-layout: fixed;
    }
}
