@{customElementNamespace}input.is-location {
  .is-simpleDropdown .dropdown-text {
    padding-left: 0px;
  }

  label {
    padding-left: 10px;
    line-height: @minimumButtonSize;
    margin: 0px;
    white-space: normal;
    word-break: break-all;
    min-height: @minimumButtonSize;
  }
}

@{customElementNamespace}input.is-location.is-editing {
  > .if-editing {
    position: relative;
    top: 0px;
  }
}
