@{customElementNamespace}query-interactions {
  .query-interaction,
  .interaction-text {
    line-height: @minimumButtonSize;
    height: @minimumButtonSize;
  }

  .query-interaction {
    white-space: nowrap;
    padding: 0px @largeSpacing;
    cursor: pointer;
  }

  .interaction-text {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .interaction-feedback {
    display: none;
  }

  .is-disabled {
    pointer-events: none;
    color: grey;
  }
}

@{customElementNamespace}query-interactions.has-results {
  .interaction-feedback {
    display: block;
  }
}

.is-feedback-restricted @{customElementNamespace}query-interactions {
  .interaction-feedback {
    display: none !important;
  }
}

@{customElementNamespace}query-interactions.is-local {
  .interaction-annotations {
    display: none !important;
  }
}

@{customElementNamespace}query-interactions.is-archive-searchable {
  .interaction-search-archived {
    display: none;
  }
}

@{customElementNamespace}query-interactions.is-history-searchable {
  .interaction-search-historical {
    display: none;
  }
}

@{customElementNamespace}query-interactions.is-versioning-enabled {
  .interaction-versioning {
    display: none;
  }
}
