@{customElementNamespace}ingest-editor {
  .customElement;
  padding: @minimumSpacing;
  overflow: hidden;

  .is-header {
    font-size: @mediumFontSize;
    line-height: @minimumButtonSize;
    width: 100%;
  }

  .ingest-editor-properties {
    display: inline-block;  // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
    width: 100%;
    overflow: auto;
    max-height: ~"calc(100% - 2*@{minimumButtonSize} - 6px)";
  }

  .ingest-editor-footer {
    > button {
      padding: 0px @minimumSpacing;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

.is-medium-screen, .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}ingest-editor {
    overflow: auto;

    .ingest-editor-properties {
      max-height: none;
    }
  }
}