@{customElementNamespace}query-settings {
  .customElement;

  overflow: hidden;

  .editor-properties {
    padding: 0px @minimumSpacing @minimumSpacing @minimumSpacing;
  }

  .editor-footer {
    height: @minimumButtonSize;
    white-space: nowrap;

    > button {
      height: 100%;
      display: inline-block;
    }
    > .editor-edit {
      width: 100%;
    }
    > .editor-cancel {
      width: 50%;
      display: none;
    }
    >.editor-save {
        width: 30%;
        display: none;
    }
    > .editor-saveRun {
        width: 70%;
        display: none;
    }
  }

  &.is-editing {
    .editor-footer {

      > .editor-edit {
        display: none;
      }
      > .editor-cancel {
        display: inline-block;
      }
      > .editor-save {
        display: inline-block;
      }
      > .editor-saveRun {
        display: inline-block;
      }
    }
  }
}

 .is-small-screen, .is-mobile-screen {
  @{customElementNamespace}query-settings {

  }
}
