@{customElementNamespace}dropdown.is-query-status {
  display: block;
  position: relative;
  font-size: inherit;

  .notification-icon {
    position: relative;
    cursor: pointer;
    font-size: inherit;
  }

  .fa-bell {
    display: none;
  }
}

@{customElementNamespace}dropdown.is-query-status.is-polling {
  .fa-bell-slash {
    display: none;
  }
  .fa-bell {
    display: inline;
  }
}
