service.pid="org.codice.ddf.catalog.ui.config"
resultCount=I"250"

imageryProviders=""
terrainProvider="{\ \"type\":\ \"CT\",\ \"url\":\ \"http://assets.agi.com/stk-terrain/tilesets/world/tiles\"\ }"

projection="EPSG:3857"
timeout=I"300000"
sourcePollInterval=I"60000"
signIn=B"true"
task=B"false"
gazetteer=B"true"
ingest=B"true"
externalAuthentication=B"false"
readOnly=[
    "checksum",
    "checksum-algorithm",
    "id",
    "metadata",
    "source-id",
    "^metacard\\.",
    "^version\\.",
    "^validation\\."
]
scheduleFrequencyList=L[
  "1800",
  "3600",
  "7200",
  "14400",
  "28800",
  "57600",
  "86400",
  ]
hiddenAttributes=[
    "metacard.modified",
    "metacard.created",
    "metacard-tags",
    "metacard.owner",
    "validation-errors",
    "validation-warnings",
    "sortOrder",
    "sortField",
    "cql",
    "enterprise",
    "polling",
    "security.access-groups",
    "security.access-individuals",
    "failed-validators-warnings",
    "failed-validators-errors",
    "sources",
    "federation",
    "metacard.sharing",
    "cached"
]
isEditingAllowed=B"true"