resultCount=I"250"

exportResultLimit=I"1000"

imageryProviders=""
terrainProvider="{\ \"type\":\ \"CT\",\ \"url\":\ \"http://assets.agi.com/stk-terrain/tilesets/world/tiles\"\ }"

projection="EPSG:4326"
timeout=I"300000"
sourcePollInterval=I"60000"
signInEnabled=B"true"
taskEnabled=B"false"
gazetteerEnabled=B"true"
onlineGazetteerEnabled=B"true"
ingestEnabled=B"true"
experimentalEnabled=B"false"
summaryShow=[ \
  "created", \
  "modified", \
  "thumbnail", \
  ]
readOnly=[ \
  "^checksum$", \
  "^checksum-algorithm$", \
  "^id$", \
  "^resource-download-url$", \
  "^resource-uri$", \
  "^resource.derived-uri$", \
  "^resource.derived-download-url$", \
  "^modified$", \
  "^metacard-tags$", \
  "^metacard-type$", \
  "^metadata$", \
  "^source-id$", \
  "^point-of-contact$", \
  "^metacard.", \
  "^version.", \
  "^validation.", \
  ]
scheduleFrequencyList=L[ \
  "1800", \
  "3600", \
  "7200", \
  "14400", \
  "28800", \
  "57600", \
  "86400", \
  ]
editingEnabled=B"true"
cacheEnabled=B"true"
localCatalogEnabled=B"true"
historicalSearchEnabled=B"true"
archiveSearchEnabled=B"true"
unknownErrorBoxEnabled=B"true"
basicSearchTemporalSelectionDefault=[ \
  "created", \
  "effective", \
  "modified", \
  "metacard.created", \
  "metacard.modified", \
  ]
basicSearchMatchType="datatype"
queryFeedbackEnabled=B"false"
webSocketsEnabled=B"false"
queryFeedbackEmailSubjectTemplate="Query\ Feedback\ from\ {{username}}"
queryFeedbackEmailBodyTemplate="<h2>Query\ Feedback</h2><p><br><b>Authenticated\ User</b>:\ {{{auth_username}}}<br><br><b>User</b>:\ {{{username}}}<br><br><b>Email</b>:\ {{{email}}}<br><br><b>Workspace</b>:\ {{{workspace_name}}}\ ({{{workspace_id}}})<br><br><b>Query</b>:\ {{{query}}}<br><br><b>Query\ time</b>:\ {{{query_initiated_time}}}<br><br><b>Query\ status</b>:\ {{{query_status}}}<br><br><b>Comments</b>:\ {{{comments}}}<br><br><b>Query_results</b>:\ <pre>{{{query_results}}}</pre></p>"
maximumUploadSize=I"1048576"
uiName="Intrigue"
relevanceScoresEnabled=B"false"
relevancePrecision=I"5"
logoEnabled=B"false"
autoMergeTime=I"16"
spellcheckEnabled=B"false"
phoneticsEnabled=B"false"
metacardPreviewEnabled=B"true"