theme="dark"
customPrimaryColor="#3c6dd5"
customPositiveColor="#428442"
customNegativeColor="#8a423c"
customWarningColor="#c89600"
customFavoriteColor="#d1d179"
customBackgroundNavigation="#252529"
customBackgroundAccentContent="#2A2A2E"
customBackgroundDropdown="#35353a"
customBackgroundContent="#35353a"
customBackgroundModal="#252529"
customBackgroundSlideout="#252529"
