service.pid="org.codice.ddf.catalog.ui.config"
resultCount=I"250"

imageryProviders=""
terrainProvider="{\ \"type\":\ \"CT\",\ \"url\":\ \"http://assets.agi.com/stk-terrain/tilesets/world/tiles\"\ }"

projection="EPSG:4326"
timeout=I"300000"
sourcePollInterval=I"60000"
signIn=B"true"
task=B"false"
gazetteer=B"true"
ingest=B"true"
externalAuthentication=B"false"
summaryShow=[
    "created",
    "modified",
    "thumbnail"
]
readOnly=[
    "^checksum$",
    "^checksum-algorithm$",
    "^id$",
    "^resource-download-url$",
    "^resource-uri$",
    "^resource\\.derived-uri$",
    "^resource\\.derived-download-url$",
    "^modified$",
    "^metacard-tags$",
    "^metacard-type$",
    "^metadata$",
    "^source-id$",
    "^point-of-contact$",
    "^metacard\\.",
    "^version\\.",
    "^validation\\."
]
scheduleFrequencyList=L[
  "1800",
  "3600",
  "7200",
  "14400",
  "28800",
  "57600",
  "86400"
  ]
hiddenAttributes=[
    "^sortOrder$",
    "^sortField$",
    "^cql$",
    "^polling$",
    "^cached$"
]
isEditingAllowed=B"true"
isExperimental=B"false"
autoMergeTime=I"16"
resultPageSize=I"25"
queryFeedbackEnabled=B"false"
queryFeedbackEmailSubjectTemplate="Query Feedback from {{username}}"
queryFeedbackEmailBodyTemplate="<h2>Query Feedback</h2><p><br><b>Authenticated User</b>: {{{auth_username}}}<br><br><b>User</b>: {{{username}}}<br><br><b>Email</b>: {{{email}}}<br><br><b>Workspace</b>: {{{workspace_name}}} ({{{workspace_id}}})<br><br><b>Query</b>: {{{query}}}<br><br><b>Query time</b>: {{{query_initiated_time}}}<br><br><b>Query status</b>: {{{query_status}}}<br><br><b>Comments</b>: {{{comments}}}<br><br><b>Query_results</b>: <pre>{{{query_results}}}</pre></p>"
