@{customElementNamespace}input.is-enum {
  &.is-editing {
    max-height: 50px;
  }

  .is-simpleDropdown .dropdown-text {
    padding-left: 0px;
  }

  label {
    padding-left: 10px;
    line-height: @minimumButtonSize;
    margin: 0px;
    white-space: normal;
    word-break: break-all;
    min-height: @minimumButtonSize;
  }

  > .if-viewing {
    span + span::before {
      content: '| ';
      opacity: @minimumOpacity;
    }
  }
}

@{customElementNamespace}input.is-enum.has-validation-issues {
  .enum-region {
    border: 1px solid @negative-color;
  }
}
