@{customElementNamespace}list-create {
    .customElement;
    padding: @minimumSpacing;

    @{customElementNamespace}list-editor {
        .editor-footer {
            display: none;
        }
    }

    > .editor-footer {
        button {
            width: 100%;
            padding: 0px @minimumSpacing;
        }
        .create-list {
            display: block;
        }
        .create-list-with-bookmarks {
            display: none;
        }
    }
}

@{customElementNamespace}list-create.with-bookmarks {
    > .editor-footer {
        .create-list {
            display: none;
        }
        .create-list-with-bookmarks {
            display: block;
        }
    }
}