@{customElementNamespace}editable-rows {
    display: block;
    overflow: hidden;
    height: 100%;

    > .rows {
        display: inline-block;  // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
        width: 100%;
        max-height: ~'calc(100% - @{minimumButtonSize} -  @{minimumFontSize} + .52*(@{largeFontSize} - @{minimumFontSize}) - 10px)';
        overflow: auto;
    }

   > button.add-row {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}

@{customElementNamespace}editable-rows.is-empty {

    > .add-row {
        margin: 0px;
    }

    > .rows {
        max-height: ~'calc(100% - @{minimumButtonSize})';
    }
}
