{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<h3>Setup Types</h3>

<div class="well white">
    {{#if profiles}}
        <p class="lead">Choose an application setup type.</p>
        <div class="profile-options scroll-area ps-container">
            {{#profiles}}
                <div class="profile-option clearfix">
                    <div class="pull-left">
                        <div class="cell">
                            <input type="radio" name="selectedProfile" value="{{name}}" />
                        </div>
                        <div class="cell">
                            <h2 class="">{{displayName}}</h2>
                            <p>{{description}}</p>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="cell">
                            <button type="checkbox" class="btn customize" name="isCustomProfile"><i class="fa fa-check"></i> Customize</button>
                        </div>
                    </div>
                </div>
            {{/profiles}}
        </div>
    {{else}}
        <p class="lead">
            No setup types are configured on the system.
            <br/>
            <br/>
            Click next to proceed to Application Customization.
        </p>
    {{/if}}
</div>