@{customElementNamespace}query-src {
  display: block;

  .choice {
    padding: 0px 20px;
    height: @minimumButtonSize;
    line-height: @minimumButtonSize;
    cursor: pointer;
    position: relative;
  }

  .choice-text {
    padding-right: 30px;
  }

  .choice-selected {
    line-height: @minimumButtonSize;
    display: none;
  }

  .choice.is-selected::after {
    display: inline-block;
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: @minimumButtonSize;
    text-align: center;
  }

  .choice.is-selected .choice-text{
    .is-bold();
  }

  .choice:not(.is-available) {
    opacity: @minimumOpacity;
  }

}