{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
        <div class="update-limit">
            Update limit for all users
            <input class="data-limit-all" type="number" min="-1" max="1000" step="1">
            <select class="data-size-all">
                <option value="MB">MB</option>
                <option value="GB">GB</option>
            </select><i class="glyphicon glyphicon-question-sign" data-toggle="update-all-popover"></i>
        </div>

        <div class="update-limit">
            Data usage resets at <input type="time" class="input-time" value={{cronTime}}><i class="glyphicon glyphicon-question-sign" data-toggle="cron-time-popover"></i>
        </div>

        <div class="update-limit">
            Monitor data from local sources : <input type="checkbox" class="monitor-checkbox" {{#if monitorLocalSources}}checked{{/if}}><i class="glyphicon glyphicon-question-sign" data-toggle="monitor-local-sources"></i>
        </div>

       <div class="button-div">
           <i class="fa fa-refresh refresh"></i>
           <button class="btn btn-primary save">Save</button>
            {{#if saving}}<i class="fa fa-spinner fa-spin"></i>{{/if}}
       </div>
       <hr>