@{customElementNamespace}input.is-range {
    .if-editing {
        overflow: hidden;
        input[type=number] {
            display: block;
        }
        input {
            text-align: center;
            margin: 0px;
            width: 100%;
            background: none;
            border: none;
        }
        .units {
            text-align: center;
            position: absolute;
            width: 100%;
            top: -@minimumButtonSize;
            height: @minimumButtonSize;
        }
        .units-value {
            visibility: hidden;
            display: inline-block;
            vertical-align: middle;
        }
        .units-label {
            white-space: pre;
            position: absolute;
            top: @minimumButtonSize;
            line-height: @minimumButtonSize;
            vertical-align: middle;
        }
    }
    .if-viewing {
        height: 2*@minimumButtonSize;
    }
}