@{customElementNamespace}result-add {
    .customElement;
    padding: @minimumSpacing;

    .is-existing-list {
        width: 100%;
        display: block;
        padding: 0px @largeSpacing;
        text-align: left;
        height: @minimumButtonSize;
        line-height: @minimumButtonSize;

        span:first-of-type {
            margin-right: @mediumSpacing;
        }
    }

    .is-existing-list.fails-filter::after {
        content: '';
    }

    .is-existing-list.already-contains::after {
        content: '';
    }
    
    .composed-button {
        width: 100%;
        display: block;
        > @{customElementNamespace}dropdown {
            padding: 0px @largeSpacing;
        }
    }
}