@{customElementNamespace}details-interactions {
  > * {
    padding: 0px 10px;
  }

  .details-interaction,
  .interaction-icon,
  .interaction-text {
    line-height: @minimumButtonSize;
    height: @minimumButtonSize;
  }

  .details-interaction {
    white-space: nowrap;
    padding: 0px 10px;
    cursor: pointer;
    overflow: hidden;
  }

  .interaction-icon {
    text-align: center;
    width: @minimumButtonSize;
  }

  .interaction-icon,
  .interaction-text {
    display: inline-block;
  }

  .details-interaction:hover,
  .details-interaction.is-active {
    background: fade(contrast(@backgroundDropdown), 10%);
  }

  @{customElementNamespace}dropdown.is-showAttribute {
    display: none;
  }
  @{customElementNamespace}dropdown.is-hideAttribute {
    display: block;
  }
}

@{customElementNamespace}details-interactions.is-summary {
  @{customElementNamespace}dropdown.is-showAttribute {
    display: block;
  }
  @{customElementNamespace}dropdown.is-hideAttribute {
    display: none;
  }
}

.is-editing-restricted @{customElementNamespace}details-interactions,
@{customElementNamespace}details-interactions.is-revision,
@{customElementNamespace}details-interactions.is-deleted,
@{customElementNamespace}details-interactions.is-remote {
  .is-addAttribute,
  .is-removeAttribute {
    display: none !important;
  }
}
