.logviewer-ui-root {
  @keyframes slideAnimationKeyframes {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .rowData {
    border-bottom: 1px #ccc solid;
    padding: 5px;
    word-wrap: break-word;
    cursor: pointer;
  }

  .selectedRow {
    opacity: 1;
  }

  .dim {
    opacity: 0.5;
  }

  .rowAnimation {
    position: relative;
    animation: slideAnimationKeyframes ease 0.25s;
  }

  .timestampColumn {
    width: 175px;
  }

  .levelColumn {
    width: 90px;
  }

  .message {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: inherit;
  }

  .messageExpanded {
    white-space: normal;
  }

  .bundleColumn {
    width: 200px;
  }

  .errorLevel {
    background: #ffe6e6;
  }

  .warnLevel {
    background: #ffffe6;
  }

  .infoLevel {
    background: white;
  }

  .debugLevel {
    background: #e6ffe6;
  }

  .traceLevel {
    background: #e6e6ff;
  }
}
