@{customElementNamespace}result-form {
  .customElement;

  overflow: hidden;

  form {
    height: 100%;
    overflow: hidden;
  }

  .editor-properties {
    display: inline-block; // do not change back to block, fixes scrolling / repaint issues in IE10 / IE11
    width: 100%;
    overflow: auto;
    max-height: ~'calc(100% - 2*@{minimumButtonSize})';
    padding: 10px 10px;
  }

  .editor-footer {
    margin-top: 10px;
    height: @minimumButtonSize;
    white-space: nowrap;

    > button {
      height: 100%;
      display: inline-block;
    }
    > .editor-edit {
      width: 100%;
    }
    > .editor-cancel {
      width: 50%;
      display: none;
    }
    > .editor-save {
      width: 50%;
      display: none;
    }
  }

  &.is-editing {
    .editor-footer {
      > .editor-edit {
        display: none;
      }
      > .editor-cancel {
        display: inline-block;
      }
      > .editor-save {
        display: inline-block;
      }
    }
  }
}
@{customElementNamespace}result-form.is-type-specific {
  .editor-properties {
    .basic-type-specific {
      display: block;
    }
  }
}
