@{customElementNamespace}application {
    display: block;

    > .header {
        position: relative;
        button {
            position: absolute;
            left: 0px;
            top: 0px;
            background: none;
            border: none;
            width: @minimumButtonSize;
            height: @minimumButtonSize;
            overflow: hidden;
            span {
                font-size: 2rem;
            }
        }
        h2 {
            margin: 0px @minimumButtonSize;
            line-height: @minimumButtonSize;
        }
    }
}