@{customElementNamespace}radio {
  display: inline-block;
  white-space: nowrap;
  background-color: inherit;
  font-size: 0px;

  button {
    opacity: @minimumOpacity;
    min-width: @minimumButtonSize;
    min-height: @minimumButtonSize;
    border: 1px solid transparent;
    background-color: inherit;
    padding: 0px 10px;
  }

  button.is-selected {
    opacity: 1;
  }

  button[disabled] {
    cursor: not-allowed;
  }

  .option-label {
    font-size: @minimumFontSize;
    vertical-align: middle;
  }
}

@{customElementNamespace}radio.is-editing {
  cursor: pointer;
}

@{customElementNamespace}radio.is-editing:hover {
  button.is-selected {
    opacity: @minimumOpacity;
  }

  button:hover {
    opacity: 1;
  }
}